<section class="tabFixedSection" style="background-color: #fff;">
	<ul class="setTopTabs roomsTopTabs">
		<li class="today active">
			<a href="#">
				<p class="title">Internet Codes</p>
				<p class="bigTitle">25</p>
			</a>
		</li>
		<li>
			<a href="#">
				<p class="title">Cars</p>
				<p class="bigTitle" style="font-size:20px;">ToT 20</p>
				<p class="bigTitle" style="font-size:20px;">Avail 20</p>
			</a>
		</li>
		
	</ul>
	<div class="pageTopInfo">
		<h3>Internet Codes</h3>
		<div class="topSearchWrap">
			<input type="text" name="" value="" placeholder="Deal Code / Deal Name">
			<input type="submit" name="" value="" class="searchButton">
		</div>
	</div>
</section>
<div class="mainMidWrap">
	<section>
		<div class="sectionWrap">
			<div class="arTopHeader" style="border:none;">
				<ul class="crTopFilterList">
					<li>
						<div class="defaultDrop">
							<select name="">
								<option disabled="disabled" selected="selected" value="">Sort By</option>
								<option value="">2</option>
							</select>
							<span></span>
						</div>
					</li>
					<li>
						<div class="defaultDrop">
							<select name="">
								<option disabled="disabled" selected="selected" value="">Filter By</option>
								<option value="">2</option>
							</select>
							<span></span>
						</div>
					</li>
				</ul>
				<ul class="arInnerMidTabs" style="width: 160px;">
					<li class="active">Active</li>
					<li>Expired</li>
				</ul>
				<ul class="arTopRightControl">
					<li>Guest Sense</li>
					<li>New Deal</li>
				</ul>
			</div>
			<div class="rdUserMoreInfoWrap">
				<ul class="rdUserInfoListMain">
					<li>
						<div class="innerCol20Per">Category</div>
						<div class="innerCol25Per">Item Name</div>
						<div class="innerCol15Per">Activation Code</div>
						<div class="menuInnerCol7">Code Status</div>
						<div class="menuInnerCol7">Room No.</div>
						<div class="innerCol20Per">Activation Date & Time</div>
					</li>
					<li>
						<div class="innerCol20Per">High Speed Wi-Fi </div>
						<div class="innerCol25Per">Internet High Speed Pack </div>
						<div class="innerCol15Per rdInfoID">39446272ADSR</div>
						<div class="menuInnerCol7">Used </div>
						<div class="menuInnerCol7">201</div>
						<div class="innerCol20Per">12:30 PM 10/02/2017</div>
					</li>
					<li>
						<div class="innerCol20Per">High Speed </div>
						<div class="innerCol25Per">Internet High Speed Pack </div>
						<div class="innerCol15Per rdInfoID">39446272ADSR</div>
						<div class="menuInnerCol7">Used </div>
						<div class="menuInnerCol7">201</div>
						<div class="innerCol20Per">12:30 PM 10/02/2017</div>
					</li>
					<li>
						<div class="innerCol20Per">High Speed Pack </div>
						<div class="innerCol25Per">Internet High Speed Pack </div>
						<div class="innerCol15Per rdInfoID">39446272ADSR</div>
						<div class="menuInnerCol7">Used </div>
						<div class="menuInnerCol7">201</div>
						<div class="innerCol20Per">12:30 PM 10/02/2017</div>
					</li>
					<li>
						<div class="innerCol20Per">High Speed </div>
						<div class="innerCol25Per">Internet High Speed Pack </div>
						<div class="innerCol15Per rdInfoID">39446272ADSR</div>
						<div class="menuInnerCol7">Used </div>
						<div class="menuInnerCol7">201</div>
						<div class="innerCol20Per">12:30 PM 10/02/2017</div>
					</li>
					<li>
						<div class="innerCol20Per">High Speed Pack </div>
						<div class="innerCol25Per">Internet High Speed Pack </div>
						<div class="innerCol15Per rdInfoID">39446272ADSR</div>
						<div class="menuInnerCol7">Used </div>
						<div class="menuInnerCol7">201</div>
						<div class="innerCol20Per">12:30 PM 10/02/2017</div>
					</li>
					<li>
						<div class="innerCol20Per">High Speed </div>
						<div class="innerCol25Per">Internet High Speed Pack </div>
						<div class="innerCol15Per rdInfoID">39446272ADSR</div>
						<div class="menuInnerCol7">Used </div>
						<div class="menuInnerCol7">-</div>
						<div class="innerCol20Per">-</div>
					</li>
					<li>
						<div class="innerCol20Per">High Speed Wi-Fi </div>
						<div class="innerCol25Per">Internet High Speed Pack </div>
						<div class="innerCol15Per rdInfoID">39446272ADSR</div>
						<div class="menuInnerCol7">Used </div>
						<div class="menuInnerCol7">-</div>
						<div class="innerCol20Per">-</div>
					</li>
					<li>
						<div class="innerCol20Per">High Speed Wi-Fi </div>
						<div class="innerCol25Per">Internet High Speed Pack </div>
						<div class="innerCol15Per rdInfoID">39446272ADSR</div>
						<div class="menuInnerCol7">Used </div>
						<div class="menuInnerCol7">201</div>
						<div class="innerCol20Per">12:30 PM 10/02/2017</div>
					</li>
					<li>
						<div class="innerCol20Per">High Speed Wi-Fi </div>
						<div class="innerCol25Per">Internet High Speed Pack </div>
						<div class="innerCol15Per rdInfoID">39446272ADSR</div>
						<div class="menuInnerCol7">Used </div>
						<div class="menuInnerCol7">201</div>
						<div class="innerCol20Per">12:30 PM 10/02/2017</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
</div>

<!-- car tab code -->


<div class="mainMidWrap">
	<section>
		<div class="sectionWrap">
			<div class="arTopHeader" style="border:none;">
				<ul class="crTopFilterList">
					<li>
						<div class="defaultDrop">
							<select name="">
								<option disabled="disabled" selected="selected" value="">Sort By</option>
								<option value="">2</option>
							</select>
							<span></span>
						</div>
					</li>
					<li>
						<div class="defaultDrop">
							<select name="">
								<option disabled="disabled" selected="selected" value="">Filter By</option>
								<option value="">2</option>
							</select>
							<span></span>
						</div>
					</li>
				</ul>
				<ul class="arInnerMidTabs" style="width: 235px;">
					<li class="active">All</li>
					<li>Available</li>
					<li>On Duty</li>
				</ul>
				<ul class="arTopRightControl">
					<li>Edit Car Details</li>
					<li>Add Car</li>
				</ul>
			</div>
			<div class="rdUserMoreInfoWrap">
				<ul class="rdUserInfoListMain">
					<li>
						<div class="innerCol15Per">Car Type</div>
						<div class="innerCol20Per">Ownership</div>
						<div class="innerCol20Per">Registration Number</div>
						<div class="menuInnerCol7 carDriverBox">Driver</div>
						<div class="innerCol15Per"></div>
						<div class="menuInnerCol7">Status</div>
						<div class="menuInnerCol7">Room No.</div>
					</li>
					<li>
						<div class="innerCol15Per">Sedan</div>
						<div class="innerCol20Per">Hotel</div>
						<div class="innerCol20Per rdInfoID">KA 5P 4455</div>
						<div class="menuInnerCol7 carDriverBox">Babu</div>
						<div class="innerCol15Per">9898765676</div>
						<div class="menuInnerCol7">Available</div>
						<div class="menuInnerCol7">201</div>
					</li>
					<li>
						<div class="innerCol15Per">Sedan</div>
						<div class="innerCol20Per">Hotel</div>
						<div class="innerCol20Per rdInfoID">KA 5P 4455</div>
						<div class="menuInnerCol7 carDriverBox">Babu</div>
						<div class="innerCol15Per">9898765676</div>
						<div class="menuInnerCol7">On Duty</div>
						<div class="menuInnerCol7">201</div>
					</li>
					<li>
						<div class="innerCol15Per">Sedan</div>
						<div class="innerCol20Per">Hotel</div>
						<div class="innerCol20Per rdInfoID">KA 5P 4455</div>
						<div class="menuInnerCol7 carDriverBox">Babu</div>
						<div class="innerCol15Per">9898765676</div>
						<div class="menuInnerCol7">Repair</div>
						<div class="menuInnerCol7">201</div>
					</li>
					<li>
						<div class="innerCol15Per">Sedan</div>
						<div class="innerCol20Per">Hotel</div>
						<div class="innerCol20Per rdInfoID">KA 5P 4455</div>
						<div class="menuInnerCol7 carDriverBox">-</div>
						<div class="innerCol15Per">-</div>
						<div class="menuInnerCol7">Available</div>
						<div class="menuInnerCol7">-</div>
					</li>
					<li>
						<div class="innerCol15Per">Sedan</div>
						<div class="innerCol20Per">Hotel</div>
						<div class="innerCol20Per rdInfoID">KA 5P 4455</div>
						<div class="menuInnerCol7 carDriverBox">-</div>
						<div class="innerCol15Per">-</div>
						<div class="menuInnerCol7">Available</div>
						<div class="menuInnerCol7">-</div>
					</li>
					<li>
						<div class="innerCol15Per">Sedan</div>
						<div class="innerCol20Per">Hotel</div>
						<div class="innerCol20Per rdInfoID">KA 5P 4455</div>
						<div class="menuInnerCol7 carDriverBox">Sundeep</div>
						<div class="innerCol15Per">9898765676</div>
						<div class="menuInnerCol7">Available</div>
						<div class="menuInnerCol7">201</div>
					</li>
					<li>
						<div class="innerCol15Per">Sedan</div>
						<div class="innerCol20Per">Hotel</div>
						<div class="innerCol20Per rdInfoID">KA 5P 4455</div>
						<div class="menuInnerCol7 carDriverBox">Babu</div>
						<div class="innerCol15Per">9898765676</div>
						<div class="menuInnerCol7">Available</div>
						<div class="menuInnerCol7">201</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
</div>


<!-- popups start
################################
assign code popup
-->

<div class="mainPopupWrap" style="display: none;">
	<div class="popupInnerWrap invertoryPopup1">
		<div class="popupCancel"></div>
		<div class="popupHeader">
			Assign Code
		</div>
		<div class="popupContainer">
			<div class="fullWrap">
				<div class="lightText">Room No.</div>
			</div>
			<div class="fullWrap">
				<input type="text" name="" class="popupRoomNoInput">
				<div class="defaultYesBtn popGetdetailBtn">Get Details</div>
			</div>
			<div class="fullWrap" style="margin-top: 5px;">
				<div class="guestName">Mr. Khanna</div>
				<span class="goldBtn">Gold</span>
			</div>
			<div class="activeCodeWrap">
				<div class="lightText">Current Active Codes</div>
				<ul class="assignPopCol3">
					<li>
						<span class="full">High Speed</span>
						<span class="full">Internet High speed pack</span>
						<span class="rdInfoID full">233243SHDG / zAreA13A</span>
					</li>
					<li>12/04/2017 11:20 AM</li>
					<li><div class="rdInfoID removeButton">Remove</div></li>
				</ul>
			</div>
			<ul class="assignPopCol3">
				<li>
					<label for="assignCat">Category</label>
					<div class="defaultDrop">
						<select id="assignCat" name="assignCat">
							<option value="">Select</option>
						</select>
						<span></span>
					</div>
				</li>
				<li>
					<label for="itemName">Item Name</label>
					<div class="defaultDrop">
						<select id="itemName" name="itemName">
							<option value="">Select</option>
						</select>
						<span></span>
					</div>
				</li>
				<li>
					<div class="defaultYesBtn">Get List</div>
				</li>
			</ul>
			<ul class="assignRadioCheck">
				<li>
					<div class="customRadio ">
						<input type="radio" name="discType" value="">
						<div class="radio circle"></div>
					</div>
					<label>233243SHDG / zAreA13A</label>
				</li>
				<li>
					<div class="customRadio ">
						<input type="radio" name="discType" value="">
						<div class="radio circle"></div>
					</div>
					<label>233243SHDG / zAreA13A</label>
				</li>
				<li>
					<div class="customRadio ">
						<input type="radio" name="discType" value="">
						<div class="radio circle"></div>
					</div>
					<label>233243SHDG / zAreA13A</label>
				</li>
				<li>
					<div class="customRadio ">
						<input type="radio" name="discType" value="">
						<div class="radio circle"></div>
					</div>
					<label>233243SHDG / zAreA13A</label>
				</li>
			</ul>
			<div class="fullWrap">
				<div class="defaultYesBtn pullRight" style="margin-right: 0;">Reactivate Deal</div>
				<div class="defaultNoBtn pullRight">Cancel</div>
			</div>
		</div>
	</div>
</div>

<!-- activation code popup -->
<div class="mainPopupWrap" style="display: none;">
	<div class="popupInnerWrap invertoryPopup2">
		<div class="popupCancel"></div>
		<div class="popupHeader">
			Activation Code
		</div>
		<div class="popupContainer">
			<ul class="activationPopList">
				<li>
					<label for="activationCode">Activation Code</label>
					<input type="text" name="activationCode" id="activationCode" value="233243SHDG">
				</li>
				<li>
					<label for="activationCode">Password</label>
					<input type="password" name="activationCode" id="activationCode" value="233243SHDG">
				</li>
				<li>
					<label for="assignCalList">Category</label>
					<div class="defaultDrop">
						<select id="assignCalList" name="assignCalList">
							<option value="">High Speed</option>
						</select>
						<span></span>
					</div>
				</li>
				<li>
					<label for="assignItemName">Iten Name</label>
					<div class="defaultDrop">
						<select id="assignItemName" name="assignItemName">
							<option value="">Internet High Speed Pack</option>
						</select>
						<span></span>
					</div>
				</li>
			</ul>
			<div class="fullWrap" style="margin:10px 0 20px 0">
				<span class="lightText">Description</span>
				<div class="fullWrap acPopDesTxt">
					<span>75 Mbps for 24 Hrs on 2 devices - </span> 
					<span class="rupeeIcon"></span>
					<span>80</span>
				</div>
			</div>
			<ul class="activationPopList activeCodeWrap">
				<li>
					<label for="assignStatus">Status</label>
					<div class="defaultDrop">
						<select id="assignStatus" name="assignStatus">
							<option value="">Status</option>
						</select>
						<span></span>
					</div>
				</li>
				<li>
					<label >Allocated To</label>
					201
				</li>
			</ul>
			<div class="fullWrap">
				<div class="defaultYesBtn pullRight" style="margin-right: 0;">Save Changes</div>
				<div class="defaultNoBtn ">Delete Code</div>
			</div>
		</div>
	</div>
</div>

<!-- add new code popup -->
<div class="mainPopupWrap" style="display: none;">
	<div class="popupInnerWrap invertoryPopup3">
		<div class="popupCancel"></div>
		<div class="popupHeader">
			Add New Code
		</div>
		<div class="popupContainer">
			<ul class="addCodeBrowseList">
				<li>
					<label for="uploadFileCode">Upload Files (.xls or .xlsx)</label>
					<input type="text" name="uploadFileCode" id="uploadFileCode" placeholder="Browse">
				</li>
				<li>
					<div class="codeUploadButtonMain">
						<input type="file" name="" value="" placeholder="">
						<span>Select File</span>
					</div>
				</li>
			</ul>
			<div class="addCodeOrWrap">
				<div><span>OR</span></div>
			</div>
			<ul class="activationPopList activeCodeWrap">
				<li>
					<label for="assignCalList">Category</label>
					<div class="defaultDrop">
						<select id="assignCalList" name="assignCalList">
							<option value="">High Speed</option>
						</select>
						<span></span>
					</div>
				</li>
				<li>
					<label for="assignItemName">Iten Name</label>
					<div class="defaultDrop">
						<select id="assignItemName" name="assignItemName">
							<option value="">Internet High Speed Pack</option>
						</select>
						<span></span>
					</div>
				</li>
				<li>
					<label for="activationCode">Activation Code</label>
					<input type="text" name="activationCode" id="activationCode" value="233243SHDG">
				</li>
				<li>
					<label for="activationCode">Password</label>
					<input type="password" name="activationCode" id="activationCode" value="233243SHDG">
				</li>
			</ul>
			<div class="fullWrap">
				<div class="defaultYesBtn pullRight" style="margin-right: 0;">Save Changes</div>
				<div class="defaultNoBtn pullRight">Cancel</div>
			</div>
		</div>
	</div>
</div>

<!-- add car popup -->
<div class="mainPopupWrap" style="display: none;">
	<div class="popupInnerWrap invertoryPopup3">
		<div class="popupCancel"></div>
		<div class="popupHeader">
			Add Car
		</div>
		<div class="popupContainer">
			<ul class="activationPopList activeCodeWrap carPopList" style="margin-top: 10px;">
				<li>
					<label for="carType">Car Type</label>
					<div class="defaultDrop">
						<select id="carType" name="carType">
							<option value="">Select</option>
						</select>
						<span></span>
					</div>
				</li>
				<li>
					<label for="carModel">Model</label>
					<input type="text" name="carModel" id="carModel" value="" >
				</li>
				<li>
					<label for="carOwnership">Ownership</label>
					<div class="defaultDrop">
						<select id="carOwnership" name="carOwnership">
							<option value="">Select</option>
						</select>
						<span></span>
					</div>
				</li>
				<li>
					<label for="carVendorName">Vendor Name</label>
					<input type="text" name="carVendorName" id="carVendorName" value="" >
				</li>
				<li>
					<label for="carRegName">Registration Number</label>
					<input type="text" name="carRegName" id="carRegName" value="" >
				</li>
				<li>
					<label for="carStatus">Status</label>
					<div class="defaultDrop">
						<select id="carStatus" name="carStatus">
							<option value=""></option>
						</select>
						<span></span>
					</div>
				</li>
				<li>
					<label for="carDriverName">Driver Name</label>
					<input type="text" name="carDriverName" id="carDriverName" value="">
				</li>
				<li>
					<label for="carDriverContact">Driver Contact</label>
					<input type="password" name="carDriverContact" id="carDriverContact" value="">
				</li>
			</ul>
			<div class="fullWrap">
				<div class="defaultYesBtn pullRight" style="margin-right: 0;">Add Car</div>
				<div class="defaultNoBtn pullRight">Cancel</div>
			</div>
		</div>
	</div>
</div>









