		<section style="margin-top: 10px;">
			<div class="sectionWrap">
				<div class="sectionHeader quickLink">
					<h3>Quick Links</h3>
				</div>
				<div class="sectionContainer">
					<ul class="quickLinkList">
						<li>
							<a href="javascript:void(0)" (mousedown)="accord[0]=true" (click)="quickLinkScroll('generalinfo')" title="General Info">
								<span class="active"></span>
								General Info
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" (mousedown)="accord[4]=true" (click)="quickLinkScroll('awards')" title="AWARDS">
								<span></span>
								AWARDS		
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" (mousedown)="accord[1]=true" (click)="quickLinkScroll('locationcontact')" title="LOCATION & CONTACT">
								<span class="active"></span>
								LOCATION & CONTACT		
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" (mousedown)="accord[5]=true" (click)="quickLinkScroll('loyaltyprograms')" title="LOYALTY PROGRAMS">
								<span></span>
								LOYALTY PROGRAMS	
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" (mousedown)="accord[2]=true" (click)="quickLinkScroll('amenities')" title="AMENITIES">
								<span></span>
								AMENITIES
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" (mousedown)="accord[6]=true" (click)="quickLinkScroll('cardsaccepted')" title="CARDS ACCEPTED">
								<span class="active"></span>
								CARDS ACCEPTED		
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" (mousedown)="accord[3]=true" (click)="quickLinkScroll('essentials')" title="ESSENTIALS">
								<span></span>
								ESSENTIALS
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" (mousedown)="accord[7]=true" (click)="quickLinkScroll('houserules')" title="HOUSE RULES">
								<span class="active"></span>
								HOUSE RULES		
							</a>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<section id="generalinfo">
			<div class="sectionWrap">
				<div class="sectionHeader" (click)="accord[0]=accordClick(accord[0])">
					<h3>General Info</h3>
					<div class="sectionRightInfo">
						<span [ngClass]="accordClass(accord[0])"></span>
						
					</div>
					<div class="sectionEditButton" *ngIf="!hotelInfoEdit && !editStatus && accord[0]" (click)="$event.stopPropagation();hotelInfoEdit=true;accord[0]=true;editStatus=true">
						<span></span>
						Edit
					</div>
					<div style="float:right;">
						<div class="cancelButtonDefault" *ngIf="hotelInfoEdit" (click)="$event.stopPropagation();hotelInfoEdit=false;editStatus=false">
							<span></span>
							Cancel
						</div>
						<div class="saveButtonDefault" *ngIf="hotelInfoEdit" (click)="$event.stopPropagation();editStatus=hotelInfoEdit=!saveHotelInfo()">
							<span></span>
							Save
						</div>
					</div>
				</div>
				<div class="sectionContainer" *ngIf="accord[0]">
					<div *ngIf="!hotelInfoEdit">
						<ul class="sectionDetailList">
							<li>
								<div class="halfWrap">
									<div class="detailTitle">Hotel Name</div>
									<p class="detailText">{{ hotelinfo.generalInformation.name }}</p>
								</div>
							</li>
							<li>
								<div class="halfWrap">
									<div class="detailTitle">Star Rating</div>
									<p class="detailText">4</p>
								</div>
							</li>
							<li>
								<div class="halfWrap">
									<div class="detailTitle">Description</div>
									<p class="detailText">{{ hotelinfo.generalInformation.description }}</p>
								</div>
							</li>
						</ul>
						<ul class="sectionDetailList">
							<li>
								<div class="detailTitle">Logo</div>
								<ul class="detailPhotoWrap">
									<li>
										<img [src]="hotelinfo.generalInformation.logoUrl">
										<span></span>
									</li>
								</ul>
							</li>
							<li>
								<div class="detailTitle">Hotel Photos</div>
								<ul class="detailPhotoWrap">
									<li>
										<img [src]="hotelinfo.generalInformation.imageUrl">
										<span></span>
									</li>
									<li></li>
								</ul>
							</li>
							<li>
								<div class="checkOutIn">
									<div class="detailTitle">Check In</div>
									<p class="detailText">{{ hotelinfo.generalInformation.checkInTime }}</p>
								</div>
								<div class="checkOutIn">
									<div class="detailTitle">Check Out</div>
									<p class="detailText">{{ hotelinfo.generalInformation.checkOutTime }}</p>
								</div>
							</li>
						</ul>
					</div>
					<div *ngIf="hotelInfoEdit">
						<form method="post" #updateHotelInfoFrom (ngSubmit)="editStatus=hotelInfoEdit=!saveHotelInfo()">
						<ul class="sectionDetailList">
							<li>
								<div class="halfWrap">
									<div class="detailTitle">Hotel Name</div>
									<p class="detailText"><input type="text" [(ngModel)]="hInfoField.hotelName" required="required" [ngModelOptions]="{standalone: true}"></p>
								</div>
							</li>
							<li>
								<div class="halfWrap">
									<div class="detailTitle">Star Rating</div>
									<p class="detailText"><input type="number" min="0" max="5" [(ngModel)]="hInfoField.rating" required="required" [ngModelOptions]="{standalone: true}"></p>
								</div>
							</li>
							<li>
								<div class="halfWrap">
									<div class="detailTitle">Description</div>
									<p class="detailText"><textarea [(ngModel)]="hInfoField.hotelDesc" required="required" [ngModelOptions]="{standalone: true}"></textarea></p>
								</div>
							</li>
						</ul>
						<ul class="sectionDetailList">
							<li>
								<div class="detailTitle">Logo</div>
								<ul class="detailPhotoWrap">
									<li>
										
										<img [src]="hotelinfo.generalInformation.logoUrl">
										<span></span>
									</li>
									<li class="addRoomPhoto" (click)="logoInput.click()">
										<div class="addAwardButton">
											<p>+</p>
											<p>Add</p>
											<p>Logo</p>
										</div>
									</li>
								</ul>
								<input type="file" #logoInput style="display: none;" (change)="uploadLogo(logoInput)">
							</li>
							<li>
								<div class="detailTitle">Hotel Photos</div>
								<ul class="detailPhotoWrap">
									<li>
										<div class="crossIcon circle"></div>
										<img [src]="hotelinfo.generalInformation.imageUrl">
										<span></span>
									</li>
									<li class="addRoomPhoto">
										<div class="addAwardButton">
											<p>+</p>
											<p>Add</p>
											<p>Photos</p>
										</div>
									</li>
								</ul>
							</li>
							<li>
								<div class="checkOutIn">
									<div class="detailTitle">Check In</div>
									<p class="detailText"><input type="text" [(ngModel)]="hInfoField.checkInTime" required="required" [ngModelOptions]="{standalone: true}"></p>
								</div>
								<div class="checkOutIn">
									<div class="detailTitle">Check Out</div>
									<p class="detailText"><input type="text" [(ngModel)]="hInfoField.checkOutTime" required="required" [ngModelOptions]="{standalone: true}"></p>
								</div>
							</li>
						</ul>
						</form>
					</div>

				</div>
			</div>
		</section>
		<section id="locationcontact">
			<div class="sectionWrap">
				<div class="sectionHeader" (click)="accord[1]=accordClick(accord[1])">
					<h3>LOCATION & CONTACT</h3>
					<div class="sectionRightInfo">
						<span [ngClass]="accordClass(accord[1])"></span>
						
					</div>
					<div class="sectionEditButton" *ngIf="!locationContactEdit && !editStatus && accord[1]" (click)="$event.stopPropagation();accord[1]=true;locationContactEdit=true;editStatus=true">
						<span></span>
						Edit
					</div>
					<div style="float:right;">
						<div class="cancelButtonDefault" *ngIf="locationContactEdit" (click)="$event.stopPropagation();locationContactEdit=false;editStatus=false">
							<span></span>
							Cancel
						</div>
						<div class="saveButtonDefault" *ngIf="locationContactEdit" (click)="$event.stopPropagation();editStatus=locationContactEdit=!saveLocationContact()">
							<span></span>
							Save
						</div>
					</div>
				</div>
				<div class="sectionContainer" *ngIf="accord[1]">
					<div *ngIf="!locationContactEdit">
						<ul class="sectionDetailList">
							<li>
								<div class="detailTitle">Address line 1</div>
								<p class="detailText">{{ hotelinfo.generalInformation.address.addressLine1 }}</p>
							</li>
							<li>
								<div class="detailTitle">City</div>
								<p class="detailText">{{ hotelinfo.generalInformation.address.city }}</p>
							</li>
							<li>
								<div class="detailTitle">Mumbai</div>
								<p class="detailText">560 019</p>
							</li>
							<li>
								<div class="detailTitle">Email</div>
								<p class="detailText">{{ hotelinfo.generalInformation.email }}</p>
							</li>
							<li>
								<div class="detailTitle">Fax</div>
								<p class="detailText">{{ hotelinfo.generalInformation.fax }}</p>
							</li>
						</ul>
						<ul class="sectionDetailList">
							<li>
								<div class="detailTitle">Address line 2</div>
								<p class="detailText">{{ hotelinfo.generalInformation.address.addressLine2 }}</p>
							</li>
							<li>
								<div class="detailTitle">Country</div>
								<p class="detailText">{{ hotelinfo.generalInformation.address.country }}</p>
							</li>
							<li>
								<div class="detailTitle">Google map- co-ordinates</div>
								<p class="detailText">{{ hotelinfo.generalInformation.address.latitude }} -- {{ hotelinfo.generalInformation.address.longitude }}</p>
							</li>
							<li>
								<div class="detailTitle">Website</div>
								<p class="detailText">www.test.com</p>
							</li>
							<li>
								<div class="detailTitle">Primary Phone No.</div>
								<p class="detailText">{{ hotelinfo.generalInformation.phone1 }}</p>
							</li>
						</ul>
					</div>

					<div *ngIf="locationContactEdit">
						<form method="post" #updateLocatioContactFrom (ngSubmit)="$event.preventDefault();editStatus=locationContactEdit=!saveLocationContact()">
						<ul class="sectionDetailList">
							<li>
								<div class="halfWrap">
									<div class="detailTitle">Address line 1</div>
									<p class="detailText"><input type="text" [(ngModel)]="hLocContField.addressLine1" required="required" [ngModelOptions]="{standalone: true}"></p>
								</div>
							</li>
							<li>
								<div class="halfWrap">
									<div class="detailTitle">City</div>
									<p class="detailText"><input type="text" [(ngModel)]="hLocContField.city" required="required" [ngModelOptions]="{standalone: true}"></p>
								</div>
							</li>
							<li>
								<div class="halfWrap">
									<div class="detailTitle">Mumbai</div>
									<p class="detailText">560 019</p>
								</div>
							</li>
							<li>
								<div class="halfWrap">
									<div class="detailTitle">Email</div>
									<p class="detailText"><input type="text" [(ngModel)]="hLocContField.email" required="required" [ngModelOptions]="{standalone: true}"></p>
								</div>
							</li>
							<li>
								<div class="halfWrap">
									<div class="detailTitle">Fax</div>
									<p class="detailText"><input type="text" [(ngModel)]="hLocContField.fax" required="required" [ngModelOptions]="{standalone: true}"></p>
								</div>
							</li>
						</ul>
						<ul class="sectionDetailList">
							<li>
								<div class="halfWrap">
									<div class="detailTitle">Address line 2</div>
									<p class="detailText"><input type="text" [(ngModel)]="hLocContField.addressLine2" required="required" [ngModelOptions]="{standalone: true}"></p>
								</div>
							</li>
							<li>
								<div class="halfWrap">
									<div class="detailTitle">Country</div>
									<p class="detailText"><input type="text" [(ngModel)]="hLocContField.country" required="required" [ngModelOptions]="{standalone: true}"></p>
								</div>
							</li>
							<li>
								<div class="halfWrap">
									<div class="detailTitle">Google map- co-ordinates</div>
									<p class="detailText"><input type="text" [(ngModel)]="hLocContField.mapLat" required="required" [ngModelOptions]="{standalone: true}" style="width: 45%"> -- <input type="text" [(ngModel)]="hLocContField.mapLong" required="required" [ngModelOptions]="{standalone: true}" style="width: 45%"></p>
								</div>
							</li>
							<li>
								<div class="halfWrap">
									<div class="detailTitle">Website</div>
									<p class="detailText"><input type="text" [(ngModel)]="hLocContField.website" required="required" [ngModelOptions]="{standalone: true}"></p>
								</div>
							</li>
							<li>
								<div class="halfWrap">
									<div class="detailTitle">Primary Phone No.</div>
									<p class="detailText"><input type="text" [(ngModel)]="hLocContField.phone1" required="required" [ngModelOptions]="{standalone: true}"></p>
								</div>
							</li>
						</ul>
						</form>
					</div>
				</div>
			</div>
		</section>
		<section id="amenities">
			<div class="sectionWrap">
				<div class="sectionHeader" (click)="accord[2]=accordClick(accord[2]);amenitiesOpen()">
					<h3>AMENITIES</h3>
					<div class="sectionRightInfo">
						<span [ngClass]="accordClass(accord[2])"></span>
					</div>
					<div class="saveButtonDefault" *ngIf="amenityEdited" (click)="$event.stopPropagation();amenityEdited=false;saveAmenity()">Save</div>
					
				</div>
				<div class="sectionContainer" *ngIf="accord[2]">
					<div class="loading" style="width: 100%; height: 100px;" *ngIf="!amenityApiStatus"></div>
					<ul class="fourColList">
						<li style="cursor: pointer;" *ngFor="let amenity of masterAmeneties | amenityfilter: 1" (click)="toggleAmenityStatus(amenity);amenityEdited=true;" [ngClass]="checkAmenitySelected(amenity.amenityId)"><span></span>{{ amenity.name }}</li>
					</ul>
				</div>
			</div>
		</section>
		<section id="essentials">
			<div class="sectionWrap">
				<div class="sectionHeader" (click)="accord[3]=accordClick(accord[3])">
					<h3>ESSENTIALS</h3>
					<div class="sectionRightInfo">
						<span [ngClass]="accordClass(accord[3])"></span>
					</div>
					<div class="saveButtonDefault" *ngIf="essentialEdited" (click)="$event.stopPropagation();essentialEdited=false;saveEssential()">Save</div>
				</div>
				<div class="sectionContainer" *ngIf="accord[3]">
					<ul class="fourColList">
						<li style="cursor: pointer;" *ngFor="let essential of masterAmeneties | amenityfilter:3" (click)="toggleEssentialStatus(essential);essentialEdited=true;" [ngClass]="checkEssentialSelected(essential.amenityId)"><span></span>{{ essential.name }}</li>
					</ul>
				</div>
			</div>
		</section>
		<section id="awards">
			<div class="sectionWrap">
				<div class="sectionHeader" (click)="accord[4]=accordClick(accord[4])">
					<h3>AWARDS</h3>
					<div class="sectionRightInfo">
						<span [ngClass]="accordClass(accord[4])"></span>
						
					</div>
					<!-- <div class="sectionEditButton" (click)="editAwardStatus=true">
						<span></span>
						Edit
					</div> -->
				</div>
				<div class="sectionContainer" *ngIf="accord[4]">
					<ul class="awardList">
						<li *ngFor="let award of hotelinfo.listAwards">
							<div class="imageWrap">
								<img [src]="award.award.iconUrl">
								<div class="crossIcon circle" (click)="removeAward(award)"></div>
							</div>
							<p>{{ award.award.name }}</p>
							<p class="year">{{ award.year }}</p>
							<span class="moveBtn"></span>
						</li>
						<li>
							<div class="addAwardButton" (click)="awd_popup_status=popupTrigger()">
								<p>+</p>
								<p>Add</p>
								<p>Award</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<section id="loyaltyprograms">
			<div class="sectionWrap">
				<div class="sectionHeader" (click)="accord[5]=accordClick(accord[5])">
					<h3>LOYALTY PROGRAMS</h3>
					<div class="sectionRightInfo">
						<span [ngClass]="accordClass(accord[5])"></span>
					</div>
				</div>
				<div class="sectionContainer" *ngIf="accord[5]">
					<ul class="awardList">
						<li *ngFor="let loyalty of loyalties">
							<div class="imageWrap">
								<div class="crossIcon circle" (click)="removeLoyalty(loyalty)"></div>
							</div>
							<p>{{ loyalty.loyaltyName }}</p>
							<span class="moveBtn"></span>
						</li>
						
						<li>
							<div class="addAwardButton" (click)="lprogram_popup_status=true">
								<p>+</p>
								<p>Add</p>
								<p>Program</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<section id="cardsaccepted">
			<div class="sectionWrap">
				<div class="sectionHeader" (click)="accord[6]=accordClick(accord[6])">
					<h3>CARDS ACCEPTED</h3>
					<div class="sectionRightInfo">
						<span [ngClass]="accordClass(accord[6])"></span>
						
					</div>
					<div class="saveButtonDefault" *ngIf="cardEdited" (click)="$event.stopPropagation();cardEdited=false;saveCardAccepted()">Save</div>
				</div>
				<div class="sectionContainer" *ngIf="accord[6]">
					<ul class="fourColList">
						<li style="cursor: pointer;" *ngFor="let cardAccepted of masterAmeneties | amenityfilter: 5" (click)="toggleCardStatus(cardAccepted);cardEdited=true;" [ngClass]="checkCardSelected(cardAccepted.amenityId)"><span></span>{{ cardAccepted.name }}</li>
					</ul>
				</div>
			</div>
		</section>
		<section id="houserules">
			<div class="sectionWrap">
				<div class="sectionHeader" (click)="accord[7]=accordClick(accord[7]);houseRuleOpen()">
					<h3>HOUSE RULES</h3>
					<div class="sectionRightInfo">
						<span [ngClass]="accordClass(accord[7])"></span>
						
					</div>
				</div>
				<div class="sectionContainer innerDropMain" *ngIf="accord[7]">
					<div class="innerDropAddWrap pullLeft" style="float: right;" (click)="houseRuleAddCatPopup=true">
							<span></span>
							ADD CATEGORY
					</div>

					<div class="innerEditMain">
						<div class="loading" *ngIf="!hruleApiStatus" style="float: left; width: 100%; height: 100px;"></div>
					</div>
					
					<ul class="secInnerDropDown">
						<li *ngFor="let houseRule of houseRules.listPGItems, let i=index">
							<div class="secInnerDropHeader" (click)="accord['hs' + i]=accordClick(accord['hs' + i])">
								<h4>{{ houseRule.title }} ({{ houseRule.listChildCategory.length }})</h4>
								<div class="innerDropArrow" [ngClass]="accordClass(accord['hs' + i])"></div>
								<div class="deleteDefault pullRight" (click)="deleteHouseRuleCat(houseRule); $event.stopPropagation();">
								</div>
							</div>
							<div class="innerDropContainer" *ngIf="accord['hs' + i]">
								<div class="innerDropAddWrap pullLeft" style="float: right;" (click)="houseRuleAddPopup=true;houseRuleCatId=houseRule.title">
									<span></span>
									ADD House Rule
								</div>
								<ul class="innerDropList">
									<li class="header">
										<div class="sec1">
											Header
										</div>
										<div class="sec2">
											Description
											<div class="innerDropAddWrap" style="float: right;" (click)="houseRuleAddPopup=true;houseRuleCatId=houseRule.title">
											<span></span>
											ADD House Rule
											</div>	
										</div>
									</li>
									<li *ngFor="let houseRuleSub of houseRule.listChildCategory">
										<div class="sec1">
											{{ houseRuleSub.title }}
										</div>
										<div class="sec2">
											{{ houseRuleSub.description }}
											<div class="deleteDefault pullRight" (click)="deleteHouseRule(houseRule,houseRuleSub); $event.stopPropagation();">
											</div>
										</div>
									</li>
								</ul>
							</div>
						</li>
						
					</ul>
				</div>
			</div>
		</section>

<div class="mainPopupWrap" *ngIf="awd_popup_status">
	<div class="popupInnerWrap tab1Popup1">
		<div class="popupCancel" (click)="awd_popup_status=false"></div>
		<div class="popupHeader">
			ADD AWARD
		</div>
		<div class="popupContainer">
			<div class="popupFormWrap">
				<form action="" method="post" #addawardform (ngSubmit)="awd_popup_status=!addAwardFormSubmit(awardFormData, $event, addawardform)">
					<label for="awardName">Award Name</label>
					<div class="defaultDrop">
						<select  id="awardName" [(ngModel)]="awardFormData.award" required="required" [ngModelOptions]="{standalone: true}">
							<option *ngFor="let amenity of masterAmeneties | amenityfilter:4" [value]="amenity.amenityId">{{ amenity.name }}</option>
						</select>
						<span></span>
					</div>
					<p *ngIf="awderrors.name.error" class="errorLine">{{ awderrors.name.message }}</p>
					<label for="awardYear">Award Year</label>
					
					<input type="text" id="awardYear" [(ngModel)]="awardFormData.year" required="required" [ngModelOptions]="{standalone: true}">
					<span></span>
					
					<p *ngIf="awderrors.year.error" class="errorLine">{{ awderrors.year.message }}</p>
					<div class="fullWrap awardControl">
						<button type="submit" class="saveButtonDefault">
							<span></span>
							Save
						</button>
						<div class="cancelButtonDefault" (click)="awd_popup_status=false">
							<span></span>
							Cancel
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>



<div class="mainPopupWrap" *ngIf="lprogram_popup_status">
	<div class="popupInnerWrap tab1Popup1">
		<div class="popupCancel" (click)="lprogram_popup_status=false"></div>
		<div class="popupHeader">
			ADD LOYALTY PROGRAMS
		</div>
		<div class="popupContainer">
			<div class="popupFormWrap">
				<form action="" method="post" #addlocaltyform (ngSubmit)="lprogram_popup_status=!addLoyaltyFormSubmit($event, addlocaltyform)">
					<label for="awardName">Loyalty Program Name</label>
					
					<input type="text" [(ngModel)]="localtyFormData.loyaltyName" required="required" [ngModelOptions]="{standalone: true}">

					<!-- <p *ngIf="awderrors.name.error" class="errorLine">{{ awderrors.name.message }}</p> -->
					
					<div class="fullWrap awardControl">
						<button type="submit" class="saveButtonDefault">
							<span></span>
							Save
						</button>
						<div class="cancelButtonDefault" (click)="lprogram_popup_status=false">
							<span></span>
							Cancel
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


<div class="mainPopupWrap" *ngIf="houseRuleAddCatPopup">
	<div class="popupInnerWrap tab1PopupAddCatRule">
		<div class="popupCancel" (click)="houseRuleAddCatPopup=false"></div>
		<div class="popupHeader">
			Add House Rule Category
		</div>
		<div class="popupContainer">
			<div class="popupFormWrap">
				<form action="" method="post" #houseRuleForm (ngSubmit)="houseRuleAddCatPopup=!res=addHouseRuleCatFormSubmit($event)">
					<label for="awardName">House Rule Title</label>
					
					<input type="text" [(ngModel)]="houseRuleCatFormData.title" required="required" [ngModelOptions]="{standalone: true}">

	
					
					<div class="fullWrap awardControl">
						<button type="submit" class="saveButtonDefault">
							<span></span>
							Save
						</button>
						<div class="cancelButtonDefault" (click)="houseRuleAddCatPopup=false">
							<span></span>
							Cancel
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="mainPopupWrap" *ngIf="houseRuleAddPopup">
	<div class="popupInnerWrap tab1PopupHouseRule">
		<div class="popupCancel" (click)="houseRuleAddPopup=false"></div>
		<div class="popupHeader">
			Add House Rule
		</div>
		<div class="popupContainer">
			<div class="popupFormWrap">
				<form action="" method="post" #houseRuleForm (ngSubmit)="houseRuleAddPopup=!res=addHouseRuleFormSubmit($event,houseRuleCatId)">
					<label for="awardName">Title</label>
					
					<input type="text" [(ngModel)]="houseRuleFormData.title" required="required" [ngModelOptions]="{standalone: true}">

					<label for="awardName">Description</label>
					
					<input type="text" [(ngModel)]="houseRuleFormData.description" required="required" [ngModelOptions]="{standalone: true}">

	
					
					<div class="fullWrap awardControl">
						<button type="submit" class="saveButtonDefault">
							<span></span>
							Save
						</button>
						<div class="cancelButtonDefault" (click)="houseRuleAddPopup=false">
							<span></span>
							Cancel
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>