		<section style="margin-top: 10px;">
			<div class="fmQuickLeft">
				<div class="fmQuickLeftTitle">
					<a href="#" title="">Room Categories</a>
				</div>
				<div class="fmQuickLeftCount">
					{{ roomcategories.model.length }}
				</div>
			</div>
			<div class="sectionWrap fmQuickRight">
				<div class="sectionHeader quickLink">
					<h3>Quick Links</h3>
				</div>
				<div class="sectionContainer">
					<ul class="fmQuickList">
						<li>
							<div class="column3">WINGS</div>
							<div class="column3">FLOORS</div>
							<div class="column3">ROOMS</div>
						</li>
						<li *ngFor="let wing of wings.model;let i=index">
							<div class="column3"><a href="javascript:void(0)" (mousedown)="accord2=true;accord['wing' + i]=true;" (click)="quickLinkScroll('wingsec' + i)" title="ROYAL">{{ wing.name }}</a></div>
							<div class="column3">{{ wing.floorsCount }}</div>
							<div class="column3">{{ wing.roomsCount }}</div>
						</li>
					</ul>
				</div>
			</div>
		</section>
		
		<section>
			<div class="sectionWrap">
				<div class="sectionHeader" (click)="accord[0]=accordClick(accord[0]);">
					<h3>ROOM CATEGORIES</h3>
					<div class="sectionRightInfo">
						<span [ngClass]="accordClass(accord[0])"></span>
					</div>
				</div>
				<div class="sectionContainer innerDropMain" *ngIf="accord[0]">
					<ul class="secInnerDropDown">
						<li *ngFor="let roomCategory of roomcategories.model; let i=index">
							<div class="secInnerDropHeader" (click)="accord['rc' + i]=accordClick(accord['rc' + i])">
								<h4>{{ roomCategory.categoryCode }} - {{ roomCategory.categoryName }}  ({{ roomCategory.count }})</h4>
								<div class="innerDropArrow" [ngClass]="accordClass(accord['rc' + i])"></div>
								<div class="sectionEditButton" *ngIf="!roomcatEditStatus[i] && !editStatus && accord['rc' + i]" (click)="$event.stopPropagation();roomcatEditStatus[i]=true;editStatus=true;accord['rc' + i]=true;roomCatFormData=roomcatEdit(roomCategory)">
									<span></span>
									Edit
								</div>
								<div style="float:right;" *ngIf="roomcatEditStatus[i]">
									<div class="cancelButtonDefault" (click)="$event.stopPropagation();roomcatEditStatus[i]=false;editStatus=false;cancelRoomCatSave()">
										<span></span>
										Cancel
									</div>
									<div class="saveButtonDefault" (click)="$event.stopPropagation();editStatus=roomcatEditStatus[i]=false;saveRoomCategory(roomCatFormData,roomCategory.roomCategoryId)">
										<span></span>
										Save
									</div>
								</div>
							</div>
							<div class="innerDropContainer" *ngIf="accord['rc' + i]">
								<div class="stdMainWrap" *ngIf="roomcatEditStatus[i]">
									<form method="post" #form="ngForm">
									<input type="hidden">
									<ul class="stdHalfList">
										<li>
											<label for="catName">Category Name</label>
											<input type="text" id="categoryName" name="categoryName" [(ngModel)]="roomCatFormData.categoryName">
										</li>
										<li>
											<div class="halfWrap">
												<label for="code">Code (3 Digit)</label>
												<input type="text" id="code" name="categoryCode" [(ngModel)]="roomCatFormData.categoryCode">	
											</div>
											<div class="halfWrap">
												<label for="count">Count</label>
												<input type="text" id="count" name="count" [(ngModel)]="roomCatFormData.count">
											</div>
										</li>
										<li>
											<div class="halfWrap">
												<label for="adultCap">Adult Capacity</label>
												<input type="text" id="adultCapacity" name="adultCapacity" [(ngModel)]="roomCatFormData.adultCapacity">	
											</div>
											<div class="halfWrap">
												<label for="childCap">Child Capacity</label>
												<input type="text" id="childCapacity" name="childCapacity" [(ngModel)]="roomCatFormData.childCapacity">
											</div>
										</li>
										<li>
											<div class="halfWrap">
												<label for="size">Size</label>
												<input type="text" id="size" name="size" [(ngModel)]="roomCatFormData.size">	
											</div>
											<div class="halfWrap">
												<label for="sMetric">Size Metric</label>
												<div class="defaultDrop">
													<select name="sizeMatric" id="sizeMatric" [(ngModel)]="roomCatFormData.sizeMetric">
														<option value="none" disabled="disabled">Select Size Metric</option>
														<option [value]="roomCatFormData.sizeMetric">{{ roomCatFormData.sizeMetric }}</option>
													</select>
													<span></span>
												</div>
											</div>
										</li>
									</ul>
									<div class="roomPhotoWrap">
										<div class="detailTitle">Room Photos &nbsp; &nbsp; &nbsp; &nbsp; (.jpg or .png of size 200x300)</div>
										<ul class="detailPhotoWrap">
											<li>
												<div class="crossIcon circle"></div>
											</li>
											<li>
												<div class="crossIcon circle"></div>
											</li>
											<li class="addRoomPhoto">
												<div class="addAwardButton">
													<p>+</p>
													<p>Add</p>
													<p>Program</p>
												</div>
											</li>
										</ul>
									</div>
									<div class="detailTitle">In Room Amenities</div>
									<ul class="threeColList roomList editable">
										<li *ngFor="let amenity of masterAmeneties | amenityfilter:2" [ngClass]="checkAmenitySelected(amenity.amenityId,roomCatFormData.inRoomAmenities)" (click)="roomCatFormData.inRoomAmenities=toggleAmenityStatus(amenity,roomCatFormData.inRoomAmenities)">
											<span></span>
											{{ amenity.name }}
										</li>
									</ul>
									<div class="detailTitle">Preference Based Amenities</div>
									<ul class="threeColList editable">
										<li *ngFor="let amenity of masterAmeneties | amenityfilter:6" [ngClass]="checkAmenitySelected(amenity.amenityId,roomCatFormData.preferenceBasedAmenities)" (click)="roomCatFormData.preferenceBasedAmenities=toggleAmenityStatus(amenity,roomCatFormData.preferenceBasedAmenities)">
											<span></span>
											{{ amenity.name }}
										</li>
									</ul>
									</form>
								</div><!-- std main wrap -->
								<div class="stdMainWrap" *ngIf="!roomcatEditStatus[i]">
									<ul class="stdHalfList">
										<li>
											<label for="catName">Category Name</label>
											<p>{{ roomCategory.categoryName }}</p>
										</li>
										<li>
											<div class="halfWrap">
												<label for="code">Code (3 Digit)</label>
												<p>{{ roomCategory.categoryCode }}</p>	
											</div>
											<div class="halfWrap">
												<label for="count">Count</label>
												<p>{{ roomCategory.count }}</p>
											</div>
										</li>
										<li>
											<div class="halfWrap">
												<label for="adultCap">Adult Capacity</label>
												<p>{{ roomCategory.adultCapacity }}</p>
											</div>
											<div class="halfWrap">
												<label for="childCap">Child Capacity</label>
												<p>{{ roomCategory.childCapacity }}</p>
											</div>
										</li>
										<li>
											<div class="halfWrap">
												<label for="size">Size</label>
												<p>{{ roomCategory.size }}</p>
											</div>
											<div class="halfWrap">
												<label for="sMetric">Size Metric</label>
												<p>{{ roomCategory.sizeMetric }}</p>
											</div>
										</li>
									</ul>
									<div class="roomPhotoWrap">
										<div class="detailTitle">Room Photos</div>
										<ul class="detailPhotoWrap">
											<li>
												<img [src]="roomCategory.imageUrl">
											</li>
											<!-- <li>
												
											</li> -->
											
										</ul>
									</div>
									<div class="detailTitle">In Room Amenities</div>
									<ul class="threeColList roomList">
										<li *ngFor="let amenity of masterAmeneties | amenityfilter:2" [ngClass]="checkAmenitySelected(amenity.amenityId,roomCategory.inRoomAmenities)">
											<span></span>
											{{ amenity.name }}
										</li>
									</ul>
									<div class="detailTitle">Preference Based Amenities</div>
									<ul class="threeColList">
										<li *ngFor="let amenity of masterAmeneties | amenityfilter:6" [ngClass]="checkAmenitySelected(amenity.amenityId,roomCategory.preferenceBasedAmenities)">
											<span></span>
											{{ amenity.name }}
										</li>
									</ul>
								</div><!-- std main wrap -->
							</div>
						</li>
						
					</ul>
					<div class="innerDropAddWrap" (click)="formAddRoomCategory();editStatus=true">
						<span></span>
						ADD ROOM CATEGORY
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="sectionWrap">
				<div class="sectionHeader" (click)="accord2=accordClick(accord2);wingAccordOpen()">
					<h3>WINGS, FLOORS, ROOMS</h3>
					<div class="sectionRightInfo">
						<span [ngClass]="accordClass(accord2)"></span>
					</div>
				</div>
				<div class="sectionContainer innerDropMain" *ngIf="accord2">
					<div class="loading" style="width: 100%; height: 100px;" *ngIf="!apiStatus['wing']"></div>
					<div *ngIf="apiStatus['wing']">
						<ul class="secInnerDropDown secInnerDark">
							<li *ngFor="let wing of wings.model;let i=index" id="wingsec{{ i }}">
								<div class="secInnerDropHeader headerDrak" (click)="accord['wing' + i]=accordClick(accord['wing' + i])">
									<h4>{{ wing.code }} - {{ wing.name }} | Floors: {{ wing.floorsCount }} | Rooms: {{ wing.roomsCount }}</h4>
									<div class="innerDropArrow" [ngClass]="accordClass(accord['wing' + i])"></div>
									<div class="sectionEditButton" *ngIf="accord['wing' + i]">
										<span></span>
										Edit
									</div>
								</div>
								<div class="innerDropContainer" *ngIf="accord['wing' + i]">
									<ul class="secInnerDropDown">
										<li *ngFor="let floor of floors.getByWingId(wing.wingId);let f=index">
											<div class="secInnerDropHeader" (click)="accord['floor'+i+'-'+f]=accordClick(accord['floor'+i+'-'+f])">
												<h4>{{ wing.code }} - {{ floor.name }} | Rooms: {{ floor.roomsCount }}</h4>
												<div class="innerDropArrow" [ngClass]="accordClass(accord['floor'+i+'-'+f])"></div>
												<div class="sectionEditButton" (click)="$event.stopPropagation();editFloorEvent(wing.wingId,floor.floorId);floorPopup=true;floor_index=f;" *ngIf="accord['floor'+i+'-'+f]">
													<span></span>
													Edit
												</div>
												
											</div>
											<div class="innerDropContainer" *ngIf="accord['floor'+i+'-'+f]">
												<div class="innerDropAddWrap innerDropAddSpace" (click)="addRoomPopup=true;editFloorEvent(wing.wingId,floor.floorId)">
													<span></span>
													ADD ROOM
												</div>
												<ul class="lightInnerList">
													<li *ngFor="let room of rooms.getByFloorId(floor.floorId)">
														<div class="title1">{{ room.roomNumber }}</div>
														<div class="title2">{{ room.roomCategoryData.categoryCode }}</div>
													</li>
													
												</ul>
												<div class="innerDropAddWrap" style="float: right;" (click)="roomAmenityPopup=true;roomAmenityPopupOpen(floor.floorId)">
												Room Amenities
												</div>	
											</div>

										</li>
									</ul>
									<div class="innerDropAddWrap" (click)="addFloorPopup=true;addFloorPopupOpen(wing.wingId)">
										<span></span>
										ADD FLOOR
									</div>
									
								</div>
							</li>
							
							
						</ul>
						<div class="innerDropAddWrap" (click)="addWingPopup=true">
							<span></span>
							ADD WING
						</div>
					</div>
				</div>
			</div>
		</section>

<div class="mainPopupWrap" *ngIf="floorPopup">
	<div class="popupInnerWrap tab2Popup1">
		<div class="popupCancel" (click)="floorPopup=false"></div>
		<div class="popupHeader">
			EDIT ROOMS : ROYAL WING - 1 FLOOR
		</div>
		<div class="popupContainer">
			<form (submit)="$event.preventDefault();saveFloor();floorPopup=false;">
			<div class="editRoomScroll">
				<ul class="editRoomsList">
					<li>
						<div class="editRoomCol editRoomCol1">
							<span class="editRemoveIcon" *ngIf="deleteActive" (click)="removeMarkedRooms();deleteActive=false" style="cursor: pointer;"></span>
						</div>
						<div class="editRoomCol editRoomCol2">Number</div>
						<div class="editRoomCol editRoomCol3">Type</div>
						<div class="editRoomCol editRoomCol4">Move</div>
					</li>
					<li *ngFor="let room of editFloorData.rooms;let x=index;">
						<div class="editRoomCol editRoomCol1">
							<div class="customCheckBox">
								<input type="checkbox" name="" (change)="deleteActive=markRoomDeleted(x)" value="">
								<div class="check"></div>
							</div>
						</div>
						<div class="editRoomCol editRoomCol2">
							<input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="room.roomNumber" class="editRoomNumber">
						</div>
						<div class="editRoomCol editRoomCol3">
							<div class="defaultDrop">
								<select name="guestCat{{x}}" id="guestCat{{x}}" [(ngModel)]="room.roomCategoryData.roomCategoryId">
									<option *ngFor="let roomcat of roomcategories.model" [value]="roomcat.roomCategoryId">{{ roomcat.categoryName }}</option>
								</select>
								<span></span>
							</div>
						</div>
						<div class="editRoomCol editRoomCol4">
							<div class="editRoomMovIcon"></div>
						</div>
					</li>
					
					<li>
						<div class="editRoomCol editRoomCol1"></div>
						<div class="editRoomCol editRoomCol2">
							<div class="innerDropAddWrap innerDropAddSpace" (click)="addRoomPopup=true">
								<span></span>
								ADD ROOM
							</div>
						</div>
					</li>
				</ul>

			</div>
			<div class="fullWrap awardControl">
				<button type="submit" class="saveButtonDefault">
					<span></span>
					Save
				</button>
				<div class="cancelButtonDefault" (click)="floorPopup=false;">
					<span></span>
					Cancel
				</div>
			</div>
			</form>
		</div>
	</div>
</div>

<div class="mainPopupWrap" *ngIf="roomAmenityPopup">
	<div class="popupInnerWrap tab2Popup2">
		<div class="popupCancel" (click)="roomAmenityPopup=false"></div>
		<div class="popupHeader">
			ROOM AMENITIES : ROYAL WING - 1 FLOOR
		</div>
		<!-- <div class="roomAmenListLeftFix">
			<div class="roomAmenListWrap">
				<ul class="roomAmenInnerList">
					<li class="roomAmenFilterMain">
						<div class="defaultDrop">
							<select name="" id="sMetric">
								<option value="" disabled="disabled" selected="selected">Filter</option>
								<option value="">Filter 1</option>
							</select>
							<span></span>
						</div>
					</li>
				</ul>
			</div>
			<div class="roomAmenListWrap" *ngFor="let amenity of masterAmeneties| amenityfilter:2">
				<ul class="roomAmenInnerList">
					<li class="roomAmenFilterMain2">{{amenity.name}}</li>
				</ul>
			</div>
		</div> -->
		<div class="tab2Popup2Scroll">
			<div class="roomAmenListWrap">
				<ul class="roomAmenInnerList" [style.width.px]="amenityEditData.rooms.length*66+201">
					<li class="roomAmenFilterMain roomAmenFilterMain2">
						<div class="defaultDrop">
							<select id="sMetric" name="filteramenity" [(ngModel)]="filteredid">
								<option value="" selected="selected">All</option>
								<option *ngFor="let amenity of masterAmeneties| amenityfilter:6" [value]="amenity.amenityId">{{ amenity.name }}</option>
							</select>
							<span></span>
						</div>
					</li>
					<li *ngFor="let room of amenityEditData.rooms">{{ room.roomNumber }}</li>
				</ul>
			</div>
			<div class="roomAmenListWrap" *ngFor="let amenity of filterRoomAmenity(filteredid)| amenityfilter:6" [style.width.px]="amenityEditData.rooms.length*66+201">
				<ul class="roomAmenInnerList">
					<li class="roomAmenFilterMain2">{{ amenity.name }}</li>
					<li *ngFor="let room of amenityEditData.rooms" class="roomchekbox" (click)="room.additionalAmenities=toggleAmenityStatus(amenity, room.additionalAmenities)"><span [ngClass]="checkAmenitySelected(amenity.amenityId, room.additionalAmenities)"></span></li>
				</ul>
			</div>
			
		</div><!-- tab2Popup2Scroll end -->
		<div class="fullWrap">
			<div class="roomAmenEditButton">
				<div class="cancelButtonDefault" (click)="roomAmenityPopup=false">
					<span></span>
					Cancel
				</div>
				<div class="saveButtonDefault" (click)="roomAmenityPopup=!saveAdditionalRoomAmenity()">
					<span></span>
					Save
				</div>
			</div>
		</div>
	</div>
</div>


<div class="mainPopupWrap" *ngIf="addWingPopup">
	<div class="popupInnerWrap tab1Popup1">
		<div class="popupCancel" (click)="addWingPopup=false"></div>
		<div class="popupHeader">
			Add Wing
		</div>
		<div class="popupContainer">
			<div class="popupFormWrap">
				<form action="" method="post" (ngSubmit)="$event.preventDefault();addWingPopup=!submitAddWing(wingFormData.model[0])">
					<label for="awardName">Wing Title</label>
					<input type="text" [(ngModel)]="wingFormData.model[0].name" required="required" name="wingtitle">

					<label for="awardName">Wing Code</label>
					<input type="text" [(ngModel)]="wingFormData.model[0].code" required="required" name="wingcode">	
					
					<div class="fullWrap awardControl">
						<button type="submit" class="saveButtonDefault">
							<span></span>
							Save
						</button>
						<div class="cancelButtonDefault" (click)="addWingPopup=false">
							<span></span>
							Cancel
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="mainPopupWrap" *ngIf="addFloorPopup">
	<div class="popupInnerWrap tab1Popup1">
		<div class="popupCancel" (click)="addFloorPopup=false"></div>
		<div class="popupHeader">
			Add Floor
		</div>
		<div class="popupContainer">
			<div class="popupFormWrap">
				<form action="" method="post" (ngSubmit)="$event.preventDefault();addFloorPopup=!submitAddFloor(floorFormData.model[0])">
					<label for="awardName">Floor Title</label>
					<input type="text" [(ngModel)]="floorFormData.model[0].name" required="required" name="floorname">

					<label for="awardName">Floor Code</label>
					<input type="text" [(ngModel)]="floorFormData.model[0].code" required="required" name="floorcode">

					
					<div class="fullWrap awardControl">
						<button type="submit" class="saveButtonDefault">
							<span></span>
							Save
						</button>
						<div class="cancelButtonDefault" (click)="addFloorPopup=false">
							<span></span>
							Cancel
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


<div class="mainPopupWrap" *ngIf="addRoomPopup">
	<div class="popupInnerWrap tab1Popup1" style="height:340px">
		<div class="popupCancel" (click)="addRoomPopup=false"></div>
		<div class="popupHeader">
			Add Room
		</div>
		<div class="popupContainer">
			<div class="popupFormWrap">
				<form action="" method="post" (ngSubmit)="$event.preventDefault();addRoomPopup=!submitAddRoom(roomFormData.model[0], floorPopup)">
					<label for="awardName">Room NAme</label>
					<input type="text" [(ngModel)]="roomFormData.model[0].roomName" required="required" name="roomName">

					<label for="awardName">Room No</label>
					<input type="text" [(ngModel)]="roomFormData.model[0].roomNumber" required="required" name="roomNumber">

					<label for="awardName">Room Type</label>
					
					<div class="defaultDrop">
						<select  id="guestCat" name="roomCategory" [(ngModel)]="roomFormData.model[0].roomCategoryData">
							<option *ngFor="let roomcat of roomcategories.model" [ngValue]="roomcat">{{ roomcat.categoryName }}</option>
						</select>
						<span></span>
					</div>

					<div class="fullWrap awardControl">
						<button type="submit" class="saveButtonDefault">
							<span></span>
							Save
						</button>
						<div class="cancelButtonDefault" (click)="addRoomPopup=false">
							<span></span>
							Cancel
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>