<section class="tabFixedSection" style="background-color: #fff;">
	<ul class="setTopTabs roomsTopTabs">
		<li class="today active">
			<a href="#">
				<p class="title">All Deals</p>
				<p class="bigTitle">25</p>
			</a>
		</li>
		<li>
			<a href="#">
				<p class="title">Amenities </p>
				<p class="bigTitle">26</p>
			</a>
		</li>
		<li>
			<a href="#">
				<p class="title">Services</p>
				<p class="bigTitle">01</p>
			</a>
		</li>
	</ul>
	<div class="pageTopInfo">
		<h3>All Deals</h3>
		<h3 class="topDealsCount">20 Deals</h3>
		<div class="topSearchWrap">
			<input type="text" name="" value="" placeholder="Deal Code / Deal Name">
			<input type="submit" name="" value="" class="searchButton">
		</div>
	</div>
</section>
<div class="mainMidWrap">
	<section>
		<div class="sectionWrap">
			<ul class="allRequestList">
				<li>
					<a href="" title="">
						<div class="allRequestListLeft">
							<p>Serene Spa</p>
							<div class="allRequestListIcon sereneSpa"></div>
						</div>
						<div class="allRequestListRight">
							<div class="activeExpireText">Active</div>
							<div class="allRequestListBtn completed">1</div>
							<div class="activeExpireText activeExpireText2">Expired</div>
							<div class="allRequestListBtn pending">2</div>
						</div>	
					</a>
				</li>
				<li>
					<a href="" title="">
						<div class="allRequestListLeft">
							<p>Health Zone</p>
							<div class="allRequestListIcon healthZone"></div>
						</div>
						<div class="allRequestListRight">
							<div class="activeExpireText">Active</div>
							<div class="allRequestListBtn completed">1</div>
							<div class="activeExpireText activeExpireText2">Expired</div>
							<div class="allRequestListBtn pending">2</div>
						</div>	
					</a>
				</li>
				<li>
					<a href="" title="">
						<div class="allRequestListLeft">
							<p>Room Service</p>
							<div class="allRequestListIcon roomService"></div>
						</div>
						<div class="allRequestListRight">
							<div class="activeExpireText">Active</div>
							<div class="allRequestListBtn completed">1</div>
							<div class="activeExpireText activeExpireText2">Expired</div>
							<div class="allRequestListBtn pending">2</div>
						</div>	
					</a>
				</li>
				<li>
					<a href="" title="">
						<div class="allRequestListLeft">
							<p>Laundry</p>
							<div class="allRequestListIcon laundry"></div>
						</div>
						<div class="allRequestListRight">
							<div class="activeExpireText">Active</div>
							<div class="allRequestListBtn completed">1</div>
							<div class="activeExpireText activeExpireText2">Expired</div>
							<div class="allRequestListBtn pending">2</div>
						</div>	
					</a>
				</li>
				<li>
					<a href="" title="">
						<div class="allRequestListLeft">
							<p>Internet</p>
							<div class="allRequestListIcon internet"></div>
						</div>
						<div class="allRequestListRight">
							<div class="activeExpireText">Active</div>
							<div class="allRequestListBtn completed">1</div>
							<div class="activeExpireText activeExpireText2">Expired</div>
							<div class="allRequestListBtn pending">2</div>
						</div>	
					</a>
				</li>
				<li>
					<a href="" title="">
						<div class="allRequestListLeft">
							<p>Commute</p>
							<div class="allRequestListIcon commute"></div>
						</div>
						<div class="allRequestListRight">
							<div class="activeExpireText">Active</div>
							<div class="allRequestListBtn completed">1</div>
							<div class="activeExpireText activeExpireText2">Expired</div>
							<div class="allRequestListBtn pending">2</div>
						</div>	
					</a>
				</li>
				<li>
					<a href="" title="">
						<div class="allRequestListLeft">
							<p>Early Check-in</p>
							<div class="allRequestListIcon earlyCheckin"></div>
						</div>
						<div class="allRequestListRight">
							<div class="activeExpireText">Active</div>
							<div class="allRequestListBtn completed">1</div>
							<div class="activeExpireText activeExpireText2">Expired</div>
							<div class="allRequestListBtn pending">2</div>
						</div>	
					</a>
				</li>
				<li>
					<a href="" title="">
						<div class="allRequestListLeft">
							<p>Airport Pickup</p>
							<div class="allRequestListIcon airportPickup"></div>
						</div>
						<div class="allRequestListRight">
							<div class="activeExpireText">Active</div>
							<div class="allRequestListBtn completed">1</div>
							<div class="activeExpireText activeExpireText2">Expired</div>
							<div class="allRequestListBtn pending">2</div>
						</div>	
					</a>
				</li>
				<li>
					<a href="" title="">
						<div class="allRequestListLeft">
							<p>Late Check-out</p>
							<div class="allRequestListIcon lateCheckout"></div>
						</div>
						<div class="allRequestListRight">
							<div class="activeExpireText">Active</div>
							<div class="allRequestListBtn completed">1</div>
							<div class="activeExpireText activeExpireText2">Expired</div>
							<div class="allRequestListBtn pending">2</div>
						</div>	
					</a>
				</li>
				<li>
					<a href="" title="">
						<div class="allRequestListLeft">
							<p>Airport Drop</p>
							<div class="allRequestListIcon airportDrop"></div>
						</div>
						<div class="allRequestListRight">
							<div class="activeExpireText">Active</div>
							<div class="allRequestListBtn completed">1</div>
							<div class="activeExpireText activeExpireText2">Expired</div>
							<div class="allRequestListBtn pending">2</div>
						</div>	
					</a>
				</li>	
			</ul>
		</div>
	</section>
</div>

<section style="background-color: #fff;">
	<div class="sectionWrap">
		<div class="roomDetailTopWrap2">
			<h3 style="margin-top: 32px;">Serene Spa - Deals</h3>
			<div class="topSearchWrap" style="margin-top: 30px;">
				<input type="text" name="" value="" placeholder="Deal Code / Deal Name">
				<input type="submit" name="" value="" class="searchButton">
			</div>
		</div>
	</div>
</section>
<div class="mainMidWrap" style="margin-top: 100px;">
	<section>
		<div class="arrMainWrap">
			<div class="arTopHeader" style="border:none;">
				<ul class="arInnerMidTabs" style="width: 160px;">
					<li class="active">Active</li>
					<li>Expired</li>
				</ul>
				<ul class="arTopRightControl">
					<li>Guest Sense</li>
					<li>New Deal</li>
				</ul>
			</div>
			<div class="rdUserMoreInfoWrap">
				<ul class="rdUserInfoListMain">
					<li>
						<div class="menuInnerCol7">Deal Code</div>
						<div class="innerCol20Per">Deal Name</div>
						<div class="innerCol12Per">Disc Type</div>
						<div class="menuInnerCol7">% / Value </div>
						<div class="innerCol15Per">Start Date </div>
						<div class="innerCol15Per">End Date</div>
						<div class="innerCol9Per">Shared</div>
						<div class="innerCol9Per">Availed</div>
					</li>
					<li>
						<div class="menuInnerCol7 rdInfoID">89345</div>
						<div class="innerCol20Per">Breakfast Deal </div>
						<div class="innerCol12Per">Fixed</div>
						<div class="menuInnerCol7">100</div>
						<div class="innerCol15Per">10 Feb 2017</div>
						<div class="innerCol15Per">10 Feb 2017</div>
						<div class="innerCol9Per">90</div>
						<div class="innerCol9Per">18</div>
					</li>
					<li>
						<div class="menuInnerCol7 rdInfoID">89345</div>
						<div class="innerCol20Per">Breakfast Deal </div>
						<div class="innerCol12Per">Percentage</div>
						<div class="menuInnerCol7">20%</div>
						<div class="innerCol15Per">10 Feb 2017</div>
						<div class="innerCol15Per">10 Feb 2017</div>
						<div class="innerCol9Per">200</div>
						<div class="innerCol9Per">20</div>
					</li>
					<li>
						<div class="menuInnerCol7 rdInfoID">89345</div>
						<div class="innerCol20Per">Breakfast Deal </div>
						<div class="innerCol12Per">Fixed</div>
						<div class="menuInnerCol7">100</div>
						<div class="innerCol15Per">10 Feb 2017</div>
						<div class="innerCol15Per">10 Feb 2017</div>
						<div class="innerCol9Per">90</div>
						<div class="innerCol9Per">18</div>
					</li>
					<li>
						<div class="menuInnerCol7 rdInfoID">89345</div>
						<div class="innerCol20Per">Breakfast Deal </div>
						<div class="innerCol12Per">Percentage</div>
						<div class="menuInnerCol7">20%</div>
						<div class="innerCol15Per">10 Feb 2017</div>
						<div class="innerCol15Per">10 Feb 2017</div>
						<div class="innerCol9Per">200</div>
						<div class="innerCol9Per">20</div>
					</li>
					<li>
						<div class="menuInnerCol7 rdInfoID">89345</div>
						<div class="innerCol20Per">Breakfast Deal </div>
						<div class="innerCol12Per">Fixed</div>
						<div class="menuInnerCol7">100</div>
						<div class="innerCol15Per">10 Feb 2017</div>
						<div class="innerCol15Per">10 Feb 2017</div>
						<div class="innerCol9Per">90</div>
						<div class="innerCol9Per">18</div>
					</li>
					<li>
						<div class="menuInnerCol7 rdInfoID">89345</div>
						<div class="innerCol20Per">Breakfast Deal </div>
						<div class="innerCol12Per">Percentage</div>
						<div class="menuInnerCol7">20%</div>
						<div class="innerCol15Per">10 Feb 2017</div>
						<div class="innerCol15Per">10 Feb 2017</div>
						<div class="innerCol9Per">200</div>
						<div class="innerCol9Per">20</div>
					</li>
					<li>
						<div class="menuInnerCol7 rdInfoID">89345</div>
						<div class="innerCol20Per">Breakfast Deal </div>
						<div class="innerCol12Per">Fixed</div>
						<div class="menuInnerCol7">100</div>
						<div class="innerCol15Per">10 Feb 2017</div>
						<div class="innerCol15Per">10 Feb 2017</div>
						<div class="innerCol9Per">90</div>
						<div class="innerCol9Per">18</div>
					</li>
					<li>
						<div class="menuInnerCol7 rdInfoID">89345</div>
						<div class="innerCol20Per">Breakfast Deal </div>
						<div class="innerCol12Per">Percentage</div>
						<div class="menuInnerCol7">20%</div>
						<div class="innerCol15Per">10 Feb 2017</div>
						<div class="innerCol15Per">10 Feb 2017</div>
						<div class="innerCol9Per">200</div>
						<div class="innerCol9Per">20</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
</div>
<!-- Breakfast deal page start -->
<section style="background-color: #fff;">
	<div class="sectionWrap">
		<div class="roomDetailTopWrap">
			<div class="rdBreadcrumb">
				<a href="" title="">Deals</a>
				<a href="" title="" class="active">> Breakfast Deal</a>
			</div>
		</div>
		<div class="roomDetailTopWrap2">
			<h3 style="margin-top: 32px;">Breakfast Deal</h3>
		</div>
	</div>
</section>
<div class="mainMidWrap" style="margin-top: 100px;">
	<section>
		<div class="arrMainWrap">
			<div class="fullWrap">
				<div class="defaultYesBtn pullRight" style="margin-right: 0;">Share Deal</div>
				<div class="defaultNoBtn pullRight">Edit Deal</div>
			</div>
			<div class="bkfMainWrap">
				<ul class="bkfMainList">
					<li>
						<ul class="bkfInnerList">
							<li>
								<div class="halfWrap">
									<div class="heading">Deal Code</div>
									<div class="text">AD1003</div>
								</div>
								<div class="halfWrap">
									<div class="heading">Deal Name</div>
									<div class="text">Breakfast Deal</div>
								</div>
							</li>
							<li>
								<div class="halfWrap">
									<div class="heading">One Time</div>
									<div class="text">No</div>
								</div>
								<div class="halfWrap">
									<div class="heading">Discount</div>
									<div class="text"><span class="rupeeIcon"></span> 100</div>
								</div>
							</li>
							<li style="border-bottom: 1px solid #ccc;">
								<div class="halfWrap">
									<div class="heading">Start Date</div>
									<div class="text">12 Jan 2017</div>
								</div>
								<div class="halfWrap">
									<div class="heading">End Date</div>
									<div class="text">13 Jan 2017</div>
								</div>
							</li>
							<li>
								<div class="halfWrap">
									<div class="heading">Shared </div>
									<div class="text">12</div>
								</div>
								<div class="halfWrap">
									<div class="heading">Availed</div>
									<div class="text">3</div>
								</div>
							</li>
						</ul>
					</li>
					<li>
						<ul class="bkfInnerList">
							<li>
								<div class="heading">Categories Includes</div>
								<div class="text">Breakfast</div>
							</li>
							<li>
								<div class="heading">Items Includes</div>
								<div class="text">English Breakfast, South Indian Breakfast, Breakfast buffet </div>
							</li>
						</ul>
					</li>
					<li>
						<ul class="bkfInnerList">
							<li>
								<div class="heading">Subject</div>
								<div class="text">Breakfast Deal !!</div>
							</li>
							<li>
								<div class="heading">Message</div>
								<div class="text">Get free Breakfast at the hotel on the occasion of valentines day. </div>
								<div class="text" style="margin-top: 20px;">
									<span style="float:left">Discount:</span>
									<span class="rupeeIcon" style="float:left"></span>
									100
								</div>
								<div class="text">Service: Room Service</div>
								<div class="text">Category: BreakFast</div>
								<div class="text">Items: English Breakfast, South Indian Breakfast, Breakfast buffet </div>
								<div class="text">Valid till: 16 feb </div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</section>
</div>

<!-- Breakfast deal Edit page start -->
<section style="background-color: #fff;">
	<div class="sectionWrap">
		<div class="roomDetailTopWrap">
			<div class="rdBreadcrumb">
				<a href="" title="">Deals</a>
				<a href="" title="" class="active">> Breakfast Deal</a>
			</div>
		</div>
		<div class="roomDetailTopWrap2">
			<h3 style="margin-top: 32px;">Breakfast Deal - Edit</h3>
		</div>
	</div>
</section>
<div class="mainMidWrap" style="margin-top: 100px;">
	<section>
		<div class="arrMainWrap">
			<div class="fullWrap">
				<div class="defaultYesBtn pullRight" style="margin-right: 0;">Save Changes</div>
				<div class="defaultNoBtn pullRight">Cancel Changes</div>
			</div>
			<div class="bkfMainWrap">
				<ul class="bkfMainEditList">
					<li>
						<div class="bkfMainEditRow">
							<div class="halfWrap bkfEdit40">
								<label for="editDealCode">Deal Code</label>
								<input type="text" name="editDealCode" id="editDealCode" value="AD1009" >
							</div>
							<div class="halfWrap bkfEdit60">
								<label for="editDealName">Deal name</label>
								<input type="text" name="editDealName" id="editDealName" value="BreakFast Deal" >
							</div>
						</div>
						<div class="bkfMainEditRow">
							<ul class="bkfThreeCol">
								<li>
									<label for="oneTime">One Time</label>
									<div class="customCheckBox">
										<input type="checkbox" name="allItem" id="oneTime" value="">
										<div class="check"></div>
									</div>
								</li>
								<li>
									<div class="fullWrap bkfLabelText">Disc Type</div>
									<div class="dualRadioWrap">
										<div class="customRadio ">
											<input type="radio" name="discType" id="discTypePer" value="">
											<div class="radio circle"></div>
										</div>
										<label for="discTypePer">%</label>
									</div>
									<div class="dualRadioWrap">
										<div class="customRadio">
											<input type="radio" name="discType" id="fixed" value="">
											<div class="radio circle"></div>
										</div>
										<label for="fixed">Fixed</label>
									</div>
								</li>
								<li>
									<label for="bfkValue">Value</label>
									<input type="text" name="bfkValue" id="bfkValue" value="100">
								</li>
							</ul>
						</div>
						<div class="bkfMainEditRow">
							<ul class="reactivatePopList">
								<li>
									<label for="bfkStartDate">Start Date</label>
									<div class="defaultDrop">
										<select id="bfkStartDate" name="bfkStartDate">
											<option value="">10 Jan 2017</option>
										</select>
										<span></span>
									</div>
								</li>
								<li>
									<label for="bfkDuration">Duration (Days)</label>
									<input type="text" name="bfkDuration" id="bfkDuration">
								</li>
								<li>
									<span class="or">Or</span>
								</li>
								<li>
									<label for="bfkEndDate">End Date</label>
									<div class="defaultDrop">
										<select id="bfkEndDate" name="bfkEndDate">
											<option value="">10 Jan 2017</option>
										</select>
										<span></span>
									</div>
								</li>
							</ul>
						</div>
						<div class="bkfMainEditRow" style="border: none;">
							<div class="halfWrap bkfRowHalf" style="margin-right: 4%;">
								<label for="addCategory">Add Categories to Deal</label>
								<div class="inputAddBtn">
									<input type="text" name="addCategory" id="addCategory" placeholder="Add Category">
									<div class="addBtn">+</div>
								</div>
								<ul class="bkfAddLinesWrap">
									<li>Breakfast</li>
								</ul>
							</div>
							<div class="halfWrap bkfRowHalf">
								<label for="addItems">Add Items to Deal</label>
								<div class="inputAddBtn">
									<input type="text" name="addItems" id="addItems" placeholder="Add Items">
									<div class="addBtn">+</div>
								</div>
								<ul class="bkfAddLinesWrap">
									<li>English Breakfast</li>
									<li>South Indian Breakfast</li>
									<li>Breakfast buffet</li>
								</ul>
							</div>
						</div>
					</li>
					<li>
						<div class="fullWrap" style="margin-top: 15px;">
							<label for="bkfSubject">Subject</label>
							<input type="text" name="bkfSubject" id="bkfSubject" value="Breakfast Deal !!">
						</div>
						<div class="fullWrap" style="margin-top: 40px;">
							<label for="bkfMessage">Message</label>
							<textarea name="bkfMessage" id="bkfMessage" class="bkfMessage">Get free Breakfast at the hotel on the occasion of valentines day.</textarea>
						</div>
						<div class="fullWrap" style="margin-top: 40px;">
							<label for="">Dynamic Field</label>
							<ul class="bkfDynamicList">
								<li>Title</li>
								<li>First Name</li>
								<li>Last Name</li>
								<li>Room Number</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
</div>


<!-- Breakfast deal Edit page start -->
<section style="background-color: #fff;">
	<div class="sectionWrap">
		<div class="roomDetailTopWrap">
			
		</div>
		<div class="roomDetailTopWrap2">
			<h3 style="margin-top: 32px;">Breakfast Deal - Share</h3>
		</div>
	</div>
</section>
<div class="mainMidWrap" style="margin-top: 100px;">
	<section>
		<div class="arrMainWrap">
			
			<div class="bkfMainWrap">
				<ul class="bkfShareMainList">
					<li>
						<ul class="bkfInnerList">
							<li>
								<div class="heading">Deal Code</div>
								<div class="text">AD1003</div>
							</li>
							<li>
								<div class="heading">Deal Name</div>
								<div class="text">Breakfast Deal</div>
							</li>
							<li>
								<div class="halfWrap">
									<div class="heading">One Time</div>
									<div class="text">No</div>
								</div>
								<div class="halfWrap">
									<div class="heading">Discount</div>
									<div class="text"><span class="rupeeIcon"></span> 100</div>
								</div>
							</li>
							<li>
								<div class="halfWrap">
									<div class="heading">Start Date</div>
									<div class="text">12 Jan 2017</div>
								</div>
								<div class="halfWrap">
									<div class="heading">End Date</div>
									<div class="text">13 Jan 2017</div>
								</div>
							</li>
							<li>
								<div class="heading">Categories Includes</div>
								<div class="text">Breakfast</div>
							</li>
							<li>
								<div class="heading">Items Includes</div>
								<div class="text">English Breakfast, South Indian Breakfast, Breakfast buffet </div>
							</li>
						</ul>
					</li>
					<li>
						<ul class="bfkShareFilterWrap">
							<li>
								<label for="regularUser">
									<span>Regular User</span> 
									<span class="icon circle regularUserColor"></span>
								</label>
								<div class="defaultDrop">
									<select id="regularUser" name="regularUser">
										<option value="">All</option>
										<option value="">Yes</option>
										<option value="">No</option>
									</select>
									<span></span>
								</div>
							</li>
							<li>
								<label for="serviceUsed">
									<span>Service Used</span> 
									<span class="icon circle serviceUsedColor"></span>
								</label>
								<div class="defaultDrop">
									<select id="serviceUsed" name="serviceUsed">
										<option value="">All</option>
										<option value="">Yes</option>
										<option value="">No</option>
									</select>
									<span></span>
								</div>
							</li>
							<li>
								<label for="dealShared">
									<span>Deal Shared</span> 
									<span class="icon circle dealSharedColor"></span>
								</label>
								<div class="defaultDrop">
									<select id="dealShared" name="dealShared">
										<option value="">All</option>
										<option value="">Yes</option>
										<option value="">No</option>
									</select>
									<span></span>
								</div>
							</li>
							<li>
								<label for="dealUsed">
									<span>Deal Used</span> 
									<span class="icon circle dealUsedColor"></span>
								</label>
								<div class="defaultDrop">
									<select id="dealUsed" name="dealUsed">
										<option value="">All</option>
										<option value="">Yes</option>
										<option value="">No</option>
									</select>
									<span></span>
								</div>
							</li>
							<li>
								<div class="defaultYesBtn pullRight">Filter</div>
							</li>
						</ul>
						<div class="bkfFilterGuest">
							<h3>Filtered Guest</h3>
							<div class="defaultNoBtn pullRight">Share Deal</div>
						</div>
						<div class="bkfFilterGraph">
							<div class="bkfFilterGuestRow bkfFilterGuestRowHeader">
								<ul class="bkfFilterGuestCol">
									<li>
										<div class="customCheckBox">
											<input type="checkbox" name="allItem" id="oneTime" value="">
											<div class="check"></div>
										</div>
									</li>
									<li><span>Room No</span></li>
									<li><span>Guest Name</span></li>
									<li><span>Loyalty</span></li>
									<li><span>Delight Quotient</span></li>
									<li>Service <br>Used?</li>
									<li>Deal <br>User?</li>
								</ul>
							</div>
							<div class="bkfFilterGuestRow">
								<ul class="bkfFilterGuestCol">
									<li>
										<div class="customCheckBox">
											<input type="checkbox" name="allItem" id="oneTime" value="">
											<div class="check"></div>
										</div>
									</li>
									<li><span>201</span></li>
									<li><span>Mr. Kumar</span></li>
									<li><span>Platinum</span></li>
									<li>
										<ul class="quotientPoints">
											<li class="active"></li>
											<li class="active"></li>
											<li class="active"></li>
											<li class="active"></li>
											<li></li>
										</ul>
									</li>
									<li class="sUsedLight"></li>
									<li class="dUsedLight"></li>
								</ul>
							</div>
							<div class="bkfFilterGuestRow">
								<ul class="bkfFilterGuestCol">
									<li>
										<div class="customCheckBox">
											<input type="checkbox" name="allItem" id="oneTime" value="">
											<div class="check"></div>
										</div>
									</li>
									<li><span>201</span></li>
									<li><span>Mr. Kumar</span></li>
									<li><span>Gold</span></li>
									<li>
										<ul class="quotientPoints">
											<li class="active"></li>
											<li class="active"></li>
											<li class="active"></li>
											<li class="active"></li>
											<li></li>
										</ul>
									</li>
									<li class="sUsedDark"></li>
									<li class="dUsedLight"></li>
								</ul>
							</div>
							<div class="bkfFilterGuestRow">
								<ul class="bkfFilterGuestCol">
									<li>
										<div class="customCheckBox">
											<input type="checkbox" name="allItem" id="oneTime" value="">
											<div class="check"></div>
										</div>
									</li>
									<li><span>201</span></li>
									<li><span>Mr. Kumar</span></li>
									<li><span>Silver</span></li>
									<li>
										<ul class="quotientPoints">
											<li class="active"></li>
											<li class="active"></li>
											<li class="active"></li>
											<li class="active"></li>
											<li class="active"></li>
										</ul>
									</li>
									<li class="sUsedDark"></li>
									<li class="dUsedDark"><span>10 Feb</span></li>
								</ul>
							</div>
							<div class="bkfFilterGuestRow">
								<ul class="bkfFilterGuestCol">
									<li>
										<div class="customCheckBox">
											<input type="checkbox" name="allItem" id="oneTime" value="">
											<div class="check"></div>
										</div>
									</li>
									<li><span>201</span></li>
									<li><span>Mr. Kumar</span></li>
									<li><span>Platinum</span></li>
									<li>
										<ul class="quotientPoints">
											<li class="active"></li>
											<li class="active"></li>
											<li class="active"></li>
											<li class="active"></li>
											<li></li>
										</ul>
									</li>
									<li></li>
									<li></li>
								</ul>
							</div>
							<div class="bkfFilterGuestRow">
								<ul class="bkfFilterGuestCol">
									<li>
										<div class="customCheckBox">
											<input type="checkbox" name="allItem" id="oneTime" value="">
											<div class="check"></div>
										</div>
									</li>
									<li><span>201</span></li>
									<li><span>Mr. Kumar</span></li>
									<li><span>Platinum</span></li>
									<li>
										<ul class="quotientPoints">
											<li class="active"></li>
											<li class="active"></li>
											<li class="active"></li>
											<li class="active"></li>
											<li></li>
										</ul>
									</li>
									<li class="sUsedLight"></li>
									<li class="dUsedLight"></li>
								</ul>
							</div>

						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
</div>

<section style="background-color: #fff;">
	<div class="sectionWrap">
		<div class="roomDetailTopWrap2">
			<h3 style="margin-top: 32px;">Serene Spa - Guest Sense</h3>
			<div class="topSearchWrap" style="margin-top: 30px;">
				<input type="text" name="" value="" placeholder="Room Number / Guest Name">
				<input type="submit" name="" value="" class="searchButton">
			</div>
		</div>
	</div>
</section>
<div class="mainMidWrap" style="margin-top: 100px;">
	<section>
		<div class="arrMainWrap">
			<div class="arTopHeader">
				<ul class="arInnerMidTabs" style="width: 365px;">
					<li class="active">Royal Wings</li>
					<li>Business Class </li>
					<li>Courtyard</li>
				</ul>
				<ul class="gsColoreInfo">
					<li><span class="circle regularUserColor"></span>Potential User</li>
					<li><span class="circle serviceUsedColor"></span>Service Used</li>
				</ul>
			</div>
			<div class="gsFloorMain">
				<div class="gsFloorInnerMain">
					<h4>Floor 1</h4>
					<ul class="lightInnerList">
						<li>
							<div class="title1">101</div>
							<div class="title2">LUX</div>
						</li>
						<li>
							<div class="title1">103</div>
							<div class="title2">LUX</div>
						</li>
						<li>
							<div class="title1">104</div>
							<div class="title2">LUX</div>
						</li>
						<li class="regularUserColor">
							<div class="title1">105</div>
							<div class="title2">LUX</div>
						</li>
						<li>
							<div class="title1">106</div>
							<div class="title2">LUX</div>
						</li>
						<li class="regularUserColor">
							<div class="title1">107</div>
							<div class="title2">LUX</div>
						</li>
						<li class="serviceUsedColor">
							<div class="title1">108</div>
							<div class="title2">LUX</div>
						</li>
						<li>
							<div class="title1">109</div>
							<div class="title2">LUX</div>
						</li>
						<li class="regularUserColor">
							<div class="title1">101</div>
							<div class="title2">LUX</div>
						</li>
						<li class="regularUserColor">
							<div class="title1">103</div>
							<div class="title2">LUX</div>
						</li>
						<li class="serviceUsedColor">
							<div class="title1">104</div>
							<div class="title2">LUX</div>
						</li>
						<li>
							<div class="title1">105</div>
							<div class="title2">LUX</div>
						</li>
						<li class="regularUserColor">
							<div class="title1">106</div>
							<div class="title2">LUX</div>
						</li>
						<li class="regularUserColor">
							<div class="title1">107</div>
							<div class="title2">LUX</div>
						</li>
						<li class="serviceUsedColor">
							<div class="title1">108</div>
							<div class="title2">LUX</div>
						</li>
						<li>
							<div class="title1">109</div>
							<div class="title2">LUX</div>
						</li>
						<li class="regularUserColor">
							<div class="title1">101</div>
							<div class="title2">LUX</div>
						</li>
						<li class="regularUserColor">
							<div class="title1">103</div>
							<div class="title2">LUX</div>
						</li>
						<li>
							<div class="title1">104</div>
							<div class="title2">LUX</div>
						</li>
						<li class="serviceUsedColor">
							<div class="title1">105</div>
							<div class="title2">LUX</div>
						</li>
						<li class="serviceUsedColor">
							<div class="title1">106</div>
							<div class="title2">LUX</div>
						</li>
						<li class="serviceUsedColor">
							<div class="title1">107</div>
							<div class="title2">LUX</div>
						</li>
						<li>
							<div class="title1">108</div>
							<div class="title2">LUX</div>
						</li>
						<li>
							<div class="title1">109</div>
							<div class="title2">LUX</div>
						</li>
						<li>
							<div class="title1">104</div>
							<div class="title2">LUX</div>
						</li>
						<li>
							<div class="title1">105</div>
							<div class="title2">LUX</div>
						</li>
						<li>
							<div class="title1">106</div>
							<div class="title2">LUX</div>
						</li>
						<li>
							<div class="title1">107</div>
							<div class="title2">LUX</div>
						</li>
						<li>
							<div class="title1">108</div>
							<div class="title2">LUX</div>
						</li>
						<li>
							<div class="title1">109</div>
							<div class="title2">LUX</div>
						</li>
					</ul>
				</div>
				<ul class="floorRightNav crfloorRightNav" style="margin-top:60px;">
					<li class="active">1</li>
					<li>2</li>
					<li>3</li>
					<li>4</li>
					<li>5</li>
					<li>6</li>
					<li>7</li>
					<li>8</li>
				</ul>
				<div class="gsFloorInnerMain">
					<h4>Floor 2</h4>
					<ul class="lightInnerList">
						<li>
							<div class="title1">101</div>
							<div class="title2">LUX</div>
						</li>
						<li>
							<div class="title1">103</div>
							<div class="title2">LUX</div>
						</li>
						<li>
							<div class="title1">104</div>
							<div class="title2">LUX</div>
						</li>
						<li class="regularUserColor">
							<div class="title1">105</div>
							<div class="title2">LUX</div>
						</li>
						<li>
							<div class="title1">106</div>
							<div class="title2">LUX</div>
						</li>
						<li class="regularUserColor">
							<div class="title1">107</div>
							<div class="title2">LUX</div>
						</li>
						<li class="serviceUsedColor">
							<div class="title1">108</div>
							<div class="title2">LUX</div>
						</li>
						<li>
							<div class="title1">109</div>
							<div class="title2">LUX</div>
						</li>
						<li class="regularUserColor">
							<div class="title1">101</div>
							<div class="title2">LUX</div>
						</li>
						<li class="regularUserColor">
							<div class="title1">103</div>
							<div class="title2">LUX</div>
						</li>
						<li class="serviceUsedColor">
							<div class="title1">104</div>
							<div class="title2">LUX</div>
						</li>
						<li>
							<div class="title1">105</div>
							<div class="title2">LUX</div>
						</li>
						<li class="regularUserColor">
							<div class="title1">106</div>
							<div class="title2">LUX</div>
						</li>
						<li class="regularUserColor">
							<div class="title1">107</div>
							<div class="title2">LUX</div>
						</li>
						<li class="serviceUsedColor">
							<div class="title1">108</div>
							<div class="title2">LUX</div>
						</li>
						<li>
							<div class="title1">109</div>
							<div class="title2">LUX</div>
						</li>
						<li class="regularUserColor">
							<div class="title1">101</div>
							<div class="title2">LUX</div>
						</li>
						<li class="regularUserColor">
							<div class="title1">103</div>
							<div class="title2">LUX</div>
						</li>
						<li>
							<div class="title1">104</div>
							<div class="title2">LUX</div>
						</li>
						<li class="serviceUsedColor">
							<div class="title1">105</div>
							<div class="title2">LUX</div>
						</li>
						<li class="serviceUsedColor">
							<div class="title1">106</div>
							<div class="title2">LUX</div>
						</li>
						<li class="serviceUsedColor">
							<div class="title1">107</div>
							<div class="title2">LUX</div>
						</li>
						<li>
							<div class="title1">108</div>
							<div class="title2">LUX</div>
						</li>
						<li>
							<div class="title1">109</div>
							<div class="title2">LUX</div>
						</li>
						<li>
							<div class="title1">104</div>
							<div class="title2">LUX</div>
						</li>
						<li>
							<div class="title1">105</div>
							<div class="title2">LUX</div>
						</li>
						<li>
							<div class="title1">106</div>
							<div class="title2">LUX</div>
						</li>
						<li>
							<div class="title1">107</div>
							<div class="title2">LUX</div>
						</li>
						<li>
							<div class="title1">108</div>
							<div class="title2">LUX</div>
						</li>
						<li>
							<div class="title1">109</div>
							<div class="title2">LUX</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</div>




<!-- popups start
################################
reactivate deal popup
-->

<div class="mainPopupWrap" style="display: none;" >
	<div class="popupInnerWrap dealPopup1">
		<div class="popupCancel"></div>
		<div class="popupHeader">
			Reactivate Deal
		</div>
		<div class="popupContainer">
			<ul class="reactivatePopList">
				<li>
					<label for="reAcStartDate">Start Date</label>
					<div class="defaultDrop">
						<select id="reAcStartDate" name="reAcStartDate">
							<option value="">10 Jan 2017</option>
						</select>
						<span></span>
					</div>
				</li>
				<li>
					<label for="reAcDuration">Duration (Days)</label>
					<input type="text" name="reAcDuration" id="reAcDuration">
				</li>
				<li>
					<span class="or">Or</span>
				</li>
				<li>
					<label for="reAcEndDate">End Date</label>
					<div class="defaultDrop">
						<select id="reAcEndDate" name="reAcEndDate">
							<option value="">10 Jan 2017</option>
						</select>
						<span></span>
					</div>
				</li>
			</ul>
			<div class="defaultYesBtn pullRight" style="margin-right: 0;">Reactivate Deal</div>
			<div class="defaultNoBtn pullRight">Cancel</div>
		</div>
	</div>
</div>



