<div class="mainWrap">
	<header class="header">
		<div class="logoWrap">
			<a routerLink="" title="Taj Vivanta">Taj Vivanta</a>
		</div>
		<div class="headUserName">
			Sandeep Nair
			<span></span>
		</div>
	</header>
</div>
<!-- header end -->


<div class="mainWrap">
	<div class="sideMenuMain">
		<!-- sidebar start -->
		<aside>
			<ul class="sideMenuList">
				<li class="room" [routerLinkActive]="['active']">
					<a routerLink="/rooms" title="Rooms">
						<i></i>
						<p>Rooms</p>
					</a>
				</li>
				<li class="arr" [routerLinkActive]="['active']">
					<a routerLink="/arr-dep" title="ARR & DEP">
						<i></i>
						<p>ARR & DEP</p>
					</a>
				</li>
				<li class="req" [routerLinkActive]="['active']">
					<a routerLink="/requests" title="Requests">
						<i></i>
						<p>Requests</p>
					</a>
				</li>
				<li class="crew" [routerLinkActive]="['active']">
					<a routerLink="/crew" title="Crew">
						<i></i>
						<p>Crew</p>
					</a>
				</li>
				<li class="invent" [routerLinkActive]="['active']">
					<a routerLink="/inventory" title="Inventory">
						<i></i>
						<p>Inventory</p>
					</a>
				</li>
				<li class="deal" [routerLinkActive]="['active']">
					<a routerLink="/deals" title="Deals">
						<i></i>
						<p>Deals</p>
					</a>
				</li>
				<li class="msg" [routerLinkActive]="['active']">
					<a routerLink="/messages" title="Messages">
						<i><span>!</span></i>
						<p>Messages</p>
					</a>
				</li>
				<li class="sett" [routerLinkActive]="['active']">
					<a routerLink="/settings" title="Settings">
						<i></i>
						<p>Settings</p>
					</a>
				</li>
			</ul>
		</aside>
		<!-- sidebar end -->
	</div>
	<div class="mainContainer">
		
			<router-outlet></router-outlet>
		
	</div>
</div>

<div class="pageLoder" *ngIf="routerLoading"></div>	

<div class="bottomToTop"><span></span> TOP</div>