<div class="mainWrap">
	<header class="header">
		<div class="logoWrap">
			<a href="#" title="Taj Vivanta">Taj Vivanta</a>
		</div>
		<div class="headUserName">
			Sandeep Nair
			<span></span>
		</div>
	</header>
</div>
<!-- header end -->