<!-- sidebar start -->
		<aside>
			<ul class="sideMenuList">
				<li class="room">
					<a href="#" title="Rooms">
						<i></i>
						<p>Rooms</p>
					</a>
				</li>
				<li class="arr">
					<a href="#" title="ARR & DEP">
						<i></i>
						<p>ARR & DEP</p>
					</a>
				</li>
				<li class="req">
					<a href="#" title="Requests">
						<i></i>
						<p>Requests</p>
					</a>
				</li>
				<li class="crew">
					<a href="#" title="Crew">
						<i></i>
						<p>Crew</p>
					</a>
				</li>
				<li class="invent">
					<a href="#" title="Inventory">
						<i></i>
						<p>Inventory</p>
					</a>
				</li>
				<li class="deal">
					<a href="#" title="Deals">
						<i></i>
						<p>Deals</p>
					</a>
				</li>
				<li class="msg">
					<a href="#" title="Messages">
						<i><span>!</span></i>
						<p>Messages</p>
					</a>
				</li>
				<li class="sett active">
					<a routerLink="/settings" title="Settings">
						<i></i>
						<p>Settings</p>
					</a>
				</li>
			</ul>
		</aside>
		<!-- sidebar end -->