.setTopTabs li.occupied
		{
			background-color: #EB6C76;
		}
.setTopTabs li.available
		{
			background-color: #84C444;
		}
.setTopTabs li.blocked
		{
			background-color: #EFC41C;
		}
.setTopTabs li .setTopInnerTabs2
		{
			width: 90%;
			float: left;
			padding: 0 5%;
			background-color: #8F8780;
			color: #fff;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
.roomsTopTabs li:last-child
		{
			border: none;
			background-color: transparent;
		}
.roomsTopTabs li
		{
			border: none;
			border-right: 1px solid #fff;
			border-left: 1px solid #fff;
		}
.roomsTopTabs li.active
		{
			border: 1px solid #6B98D0;
		}
.roomsTopTabs li.active a
		{
			padding:9px 4%;
		}
.roomsTopTabs li .topLastTabNo
		{
			float: left;
			font-size: 22px;
			font-weight: 700;
		}
.setTopInnerTabs2 a
		{
			padding:5px 4%;	
		}
.roomsTopTabs li .topLastTabText
		{
			float: right;
			font-size: 14px;
			font-weight: 400;
			line-height: 28px;
		}
.arrMainWrap
		{
			float: left;
			width: 100%;
		}
/*Allocate room CSS start*/
.crMainLeft
		{
			float: left;
			width: calc(99% - 20px);
			margin-top: 10px;
			margin-right: 1%;
		}
.crTopFilterList
		{
			float: left;
			width: 100%;
			margin-bottom: 20px;
		}
.crTopFilterList li
		{
			float: left;
			width: 150px;
			margin-right: 10px;
		}
.crTopFilterList li .defaultDrop
		{
			background-color: #fff;
			margin-top: 0;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
.crTopFilterList li .defaultDrop select
		{
			padding: 10px;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-color: #989898;
			color: #989898;
		}
.crTopFilterList li .defaultDrop span
		{
			top: 14px;
		}
.crRightTopTab
		{
			float: left;
		}
.crMainLeft .halfWrap
		{
			width: 49%;
		}
.crMainLeft > div.halfWrap:first-child
		{
			width: 45%;
			margin-right: 2%;
		}
.crMainLeft > div.halfWrap:last-child
		{
			width: 53%;
		}
.crTopSecondTabWrap
		{
			float: left;
			width: 100%;
			min-height: 50px;
		}
.crArrivalMain
		{
			float: left;
			width: 96%;
			margin-bottom: 20px;
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;	
			background-color: #fff;
			padding: 2%;
		}
.crArrivalList
		{
			float: left;
			width: 100%;
		}
.crArrivalList li
		{
			float: left;
			width: 46%;
			padding: 2%;
			border-bottom: 1px solid #ccc;
		}
.crArrivalList li:nth-child(3), .crArrivalList li:nth-child(4)
		{
			border: none;
		}
.crArrivalList li .aHeading
		{
			float: left;
			width: 100%;
			color: #676767;
			font-size: 12px;
			text-transform: uppercase;
		}
.crArrivalList li .aText
		{
			float: left;
			width: 100%;
			color: #222222;
			font-size: 24px;
			font-weight: 700;
			margin-top: 10px;
			margin-bottom: 5px;
		}
.crArrivalList li .aText.red
		{
			color: #EB6C76;
		}
.crStandaredCircleTab
		{
			float: left;
			width: 100%;
			margin: 10px 0;
		}
.crStandaredCircleTab li
		{
			float: left;
			margin-right: 10px;
			padding: 6px 10px;
			margin-bottom: 5px;
			border: 1px solid #989898;
			font-size: 12px;
			border-radius: 20px;
			-moz-border-radius: 20px;
			-webkit-border-radius: 20px;
			cursor: pointer;
		}
.crStandaredCircleTab li.active, .crStandaredCircleTab li:hover
		{
			background-color: #6A659E;
			color: #fff;
		}
.crStandaredCircleTab li:last-child
		{
			margin: 0;
		}
.crDefaultRedBtn
		{
			float: left;
			background-color: #EB6C76;
			color: #fff;
			padding: 8px 20px;
			margin: 5px 10px;
			font-size: 13px;
			text-transform: uppercase;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			cursor: pointer;
		}
.crDefaultRedBtnCenter
		{
			text-align: center;
		}
.crDefaultRedBtnCenter .crDefaultRedBtn
		{
			display: inline-block;
			float: none !important;
		}
.crAllocateList
		{
			float: left;
			width: 100%;
			margin: 10px 0;
			height: 400px;
			overflow-x: auto;
		}
.crAllocateList > li
		{
			float: left;
			width: 96%;
			margin: 0 2% 10px 2%;
		}
.crDefaultDualBtnMain
		{
			float: left;
			width: 100%;
			position: relative;
			height: 66px;
		}
.crDefaultDualBtn
		{
			position: absolute;
			top: 0;
			float: left;
			width: 80%;
			padding: 6px;
			height: 50px;
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			border: 1px solid #A8B6C6;
			background-color: #fff;
		}
.crDefaultDualBtn.right
		{
			right: 0;
		}
.crDefaultDualBtn .dualBtnInnerMain
		{
			float: left;
			width: 100%;
			line-height: 18px;
		}
.dualBtnInnerMain .hotelLogo
		{
			float: left;
			width: 11px;
			height: 13px;
			background-image: url("../images/icons/rooms/Logo.png");
			background-repeat: no-repeat;
			background-position: center center;
		}
.dualBtnInnerMain .userIdName
		{
			float: left;
			margin: 0 3px;
			color: #222222;
			font-size: 12px;
			line-height: 12px;
		}
.dualBtnInnerMain .userIdName b
		{
			font-weight: 700;
		}
.dualBtnInnerMain .hotelNightIcon
		{
			float: right;
			font-size: 10px;
			color: #222222;
		}
.dualBtnInnerMain .hotelNightIcon span
		{
			float: left;
			width: 10px;
			height: 10px;
			background-image: url("../images/icons/rooms/Nights.png");
			background-repeat: no-repeat;
			background-position: center center;
			margin-right: 5px;
			margin-top: 3px;
		}
.dualBtnInnerMain1
		{
			margin-bottom: 15px;
		}
.dualBtnInnerMain .inHotelType
		{
			float: right;
			text-transform: uppercase;
			font-size: 10px;
			color: #222222;
		}

.crStandaredCircleTab2
		{
			width: 250px;
			margin: 4px 0;
		}
.hotelChangeMainWrap
		{
			width: 100%;
			float: left;
			background-color: #fff;
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			overflow: hidden;
		}
.hotelChangeScroll
		{
			float: left;
			width: 100%;
			height: 470px;
			overflow: auto;
			position: relative;
		}
.hotelChangeRow
		{
			float: left;
			width: 100%;
			position: relative;
			border-bottom: 1px solid #ccc;
		}
.hotelChangeRow.head .hotelChangeCol li
		{
			height: 35px;
		}
.hotelChangeCol li:last-child
		{
			width: 115px;
		}
.hotelChangeCol
		{
			float: left;
			width: 100%;
		}
.hotelChangeCol li
		{
			float: left;
			width: 140px;
			padding: 15px 10px;
			height: 40px;
			border-right: 1px solid #ccc;
		}
.hotelChangeCol li:first-child
		{
			width: 60px;
			color: #676767;
			font-size: 13px;
		}
.hotelChangeCol li:last-child
		{
			border-right: none;
		}
.hotelChangeCol li.darkHead
		{
			background-color: #B7E2F3;
		}
.hotelChangeCol li.head
		{
			background-color: #D5EBF4;
		}
.hotelChangeCol li .date
		{
			float: left;
			width: 100%;
			color: #676767;
			font-size: 14px;
		}
.hotelChangeCol li .day
		{
			float: left;
			width: 100%;
			color: #676767;
			font-size: 11px;
			text-transform: uppercase;
		}
.hotelCardRightCount
		{
			float: left;
			width: 33px;
			position: absolute;
			top: 72px;
			right: 0px;
		}
.hotelCardRightCount > li
		{
			width: 100%;
			height: 60px;
			margin-bottom: 11px;
			font-size: 12px;
			text-align: center;
			font-weight: 700;
		}
.hotelCardRightCount > li span
		{
			float: left;
			width: 100%;
			margin-top: 20px;
			color: #676767;
		}

.crfloorRightNav
		{
			margin-top: 200px;
		}
.hotelChangeInnerCol
		{
			position: absolute;
			margin-left: 20%;
			width: 80%;
		}
.hotelChangeInnerCol li
		{
			width: 170px !important;
			padding: 5px;
			height: 60px;
		}
.crDefaultDualBtnOver
		{
			width: 200px !important;
		}
.hotelChangeInnerCol li:first-child
		{
			width: 180px !important;
		}
.crDefaultDualBtnFull .crDefaultDualBtn
		{
			width:calc(100% - 16px);
			border: none;
		}
.crDefaultDualBtn.grey
		{
			background-color: #EEEDEE;
		}
.crDefaultDualBtn.lightYellow
		{
			background-color: #E1EDC0;
			width: 78%;
		}
.crDefaultDualBtn.lightGreen
		{
			background-color: #B3C9B8;
			width: 78%;
		}
.dualBtnTimeIcon
		{
			float: right;
			width: 15px;
		}
.dualBtnTimeIcon .earlyIcon, .dualBtnTimeIcon .upgradeIcon
		{
			float: left;
			width: 15px;
			height: 15px;
			background-repeat: no-repeat;
			background-position: center center;
			margin-bottom: 3px;
		}
.dualBtnTimeIcon .earlyIcon.red
		{
			background-image: url("../images/icons/rooms/EarlyRed.png");
		}
.dualBtnTimeIcon .earlyIcon.black
		{
			background-image: url("../images/icons/rooms/EarlyBlack.png");
		}
.dualBtnTimeIcon .upgradeIcon.red
		{
			background-image: url("../images/icons/rooms/UpgradeRed.png");
		}
.dualBtnTimeIcon .upgradeIcon.black
		{
			background-image: url("../images/icons/rooms/UpgradeBlack.png");
		}
.dualBtnWhiteTime
		{

			float: left;
			padding: 1px 5px;
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			border: 1px solid #A8B6C6;
			font-size: 10px;
			background-color: #fff;
			line-height: 12px;
		}
.dualBtnInnerMain .halfWrap
		{
			min-height: 10px;
		}
.roomPopup1
		{
			width: 400px;
			height: 200px;	
		}
.roomChangeStatusText
		{
			float: left;
			width: 100%;
			text-align: center;
			font-size: 16px;
			padding: 20px 0;
			color: #676767;
			border-bottom: 1px solid #ccc;
			margin-bottom: 10px;
		}
.roomPopup2
		{
			width: 700px;
			height: 500px;
		}
.ursSearchMid
		{
			width: 340px;
			margin: auto;
		}
.urscalMain
		{
			float: left;
			width: 100%;
		}
.urscalMain .halfWrap
		{
			width: 49%;
		}
.urscalMain > .halfWrap:first-child
		{
			margin-right: calc(2% - 1px);
			border-right: 1px solid #ccc;
		}
.ursCalenderWrap
		{
			width: 98%;
			float: left;
			margin-right: 2%;
		}
.ursCalenderHeader
		{
			text-align: center;
			width: 100%;
			float: left;
		}
.ursCalMonthDate
		{
			display: inline-block;
			color: #6a659e;
			font-size: 18px;
			margin: 0 10px;
		}
.ursCalArrow
		{
			width: 10px;
			height: 17px;
			display: inline-block;
			background-repeat: no-repeat;
			background-position: center center;
			cursor: pointer;
			padding: 0 5px;
		}
.ursCalArrow.ursCalArrowLeft
		{
			background-image: url("../images/icons/rooms/LeftArrowGrey.png");
		}
.ursCalArrow.ursCalArrowRight
		{
			background-image: url("../images/icons/rooms/RightArrowGrey.png");
		}
.ursCalenderContainer, .ursCalenderDayList, .ursCalenderDateList
		{
			float: left;
			width: 100%;
		}
.ursCalenderDayList
		{
			margin: 10px 0;
		}
.ursCalenderDayList li
		{
			float: left;
			color: #6a659e;
			font-size: 11px;
			text-transform: uppercase;
			padding: 3px 11px;
		}
.ursCalenderDateList li
		{
			float: left;
			min-height: 20px;
			padding: 2px 6px;
			width: 20px;
			margin: 0 6px 10px 6px;
			background-color: #fff;
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			font-size: 15px;
			color: #676767;
			border: 1px solid #A8B6C6;
			cursor: pointer;
		}
.ursCalenderDateList li:nth-child(7n)
		{
			margin-right: 0;
		}
.ursCalenderDateList li.occupied
		{
			background-color: #EB6C76;
			color: #fff;
			border-color: #EB6C76;
		}
.ursCalenderDateList li.blocked
		{
			background-color: #EFC41C;
			color: #fff;
			border-color: #EFC41C;
		}
.ursCalenderDateList li.blank
		{
			background-color: transparent;
			border-color: transparent;
		}
.ursCalenderDateList li.marked
		{
			-webkit-box-shadow: 0px 0px 0px 3px rgba(106,101,158,1);
			-moz-box-shadow: 0px 0px 0px 3px rgba(106,101,158,1);
			box-shadow: 0px 0px 0px 3px rgba(106,101,158,1);
			border-color: #fff;
		}
.ursRightWrap
		{
			float: left;
			width: 100%;
			margin-top: 60px;
		}
.ursRightWrap > .halfWrap
		{
			width: 49%;
		}
.ursRightWrap > .halfWrap:first-child
		{
			margin-right: 2%;
		}
.ursRightWrap label
		{
			float: left;
			margin-left: 10px;
			font-size: 14px;
			color: #676767;
		}
.ursRightWrap .defaultDrop select
		{
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
.ursRightWrap .defaultDrop
		{
			background-color: #fff;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
.ursHelpWrap
		{
			margin-top: 15px;
		}
.ursHelpWrap, .ursHelpWrap li
		{
			float: left;
		}
.ursHelpWrap li
		{
			margin-right: 10px;
			float: left;
			font-size: 12px;
			color: #676767;
		}
.ursHelpWrap li span
		{
			float: left;
			width: 15px;
			height: 15px;
			border: 1px solid #A8B6C6;
			margin-right: 5px;
			line-height: 16px;
		}
.ursHelpWrap li.occu span
		{
			background-color: #EB6C76;
			border-color: #EB6C76;
		}
.ursHelpWrap li.block span
		{
			background-color: #EFC41C;
			border-color: #EFC41C;
		}
.roomPopup3
		{
			width: 850px;
			height: 600px;
		}
.popupSearchRight
		{
			float: right;
			position: absolute;
			top: 10px;
			right: 15px;
			width: 190px;
		}
.popupSearchRight input[type="text"]
		{
			padding: 2px 10px 3px 10px;
		}
.popupSearchRight .searchButton
		{
			height: 35px;
		}
.popup3MonthNav
		{
			float: left;
			position: absolute;
			top: 20px;
			left: 15px;
		}
.popup3LeftWrap
		{
			float: left;
			width: calc(99% - 20px);
			margin-right: 1%;
		}
.popup3MonthMain
		{
			float: left;
			width: 1100px;
			margin-top: 10px;
		}
.popup3MonthRow
		{
			float: left;
			width: 100%;
			border-bottom: 1px solid #ccc;
		}
.popup3MonthColWrap
		{
			float: left;
			width: 100%;
		}
.popup3MonthColWrap li
		{
			float: left;
			padding: 10px 0;
			text-align: center;
			border-right: 1px solid #ccc;
			min-height: 36px;
			width: 35px;
		}
.popup3MonthColWrap li:first-child
		{
			width: 80px;
			text-align: left;
		}
.popup3MonthColWrap li:last-child
		{
			border: none;
		}
.popup3MonthColWrap li .date
		{
			float: left;
			width: 100%;
			color: #676767;
			font-size: 12px;
			margin-bottom: 4px;
		}
.popup3MonthColWrap li .day
		{
			float: left;
			width: 100%;
			color: #676767;
			font-size: 12px;
			text-transform: uppercase;
		}
.popup3MonthColWrap li .roomNo
		{
			float: left;
			width: 100%;
			color: #676767;
			font-size: 14px;
			text-transform: uppercase;
		}
.popup3MonthScroll
		{
			float: left;
			width: 100%;
			height: 500px;
			overflow: auto;
		}
.roomPopup3 .arTopHeader
		{
			border: none;
		}
.popup3MonthColWrap li.occu
		{
			background-color: #EB6C76;
		}
.popup3MonthColWrap li.block
		{
			background-color: #EFC41C;
		}
.popup3RoomCount
		{
			margin-top: 105px;
		}
.roomPopup4
		{
			width: 350px;
			height: 450px;
		}
.popupDiscountList
		{
			float: left;
			width: 100%;
			margin-bottom: 10px;
		}
.popupDiscountList li
		{
			float: left;
			width: 100%;
			padding: 10px 0;
			border-bottom: 1px solid #ccc;
		}
.popupDiscountList li input
		{
			float: right;
			width: 40px;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			color: #222222;
			text-align: center;
			font-size: 16px;
		}
.popupDiscountList li label, .popupDiscountList li span
		{
			float: left;
			margin-top: 6px;
			color: #222222;
			font-size: 16px;
		}
.popupDiscountList li span
		{
			float: right;
			width: 40px;
			min-height: 24px;
		}
.roomPopup5
		{
			width: 300px;
			height: 200px;
		}
.passwordAuth
		{
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			color: #222222;
			font-size: 16px;
			padding: 8px 10px
		}
.floorRightNav
		{
			float: right;
			width: 20px;
			margin-top: 200px;
		}
.floorRightNav li
		{
			float: left;
			padding: 2px 4px;
			margin-bottom: 10px;
			clear: both;
			border-radius: 5px;
			cursor: pointer;
			width: 12px;
			text-align: center;
		}
.floorRightNav li.active, .floorRightNav li:hover
		{
			background-color: #222222;
			color: #fff;
		}
.allocateFirstLeftWrap
		{
			float: left;
			width: 20px;
			height: 100%;
		}
.allocateFirstLeftWrap span
		{
			float: left;
			width: 15px;
			height: 15px;
			margin-bottom: 2px;
			background-repeat: no-repeat;
			background-position: center center;
			cursor: pointer;
		}
.allocateFirstLeftWrap span.early
		{
			background-image: url("../images/icons/arrivals/EarlyCheckInGrey.png");
		}
.allocateFirstLeftWrap span.upgrade
		{
			background-image: url("../images/icons/arrivals/UpgradeGrey.png");
		}
.allocateFirstLeftWrap span.upgradeBlack
		{
			background-image: url("../images/icons/arrivals/UpgradeBlack.png");
		}
.allocateFirstLeftWrap span.sRequest
		{
			background-image: url("../images/icons/arrivals/SpecialRequestGrey.png");
		}
.crAllocateList .crDefaultDualBtn
		{
			min-height: 51px;
			height: auto;
		}
.allocateRightSection
		{
			float: left;
			width: 100%;
			border-top: 1px solid #ccc;
			padding: 6px 0;
			margin-top: 8px;
		}
.allocateRightSectionTitle
		{
			float: left;
			width: 100%;
			font-size: 12px;
			color: #676767;
		}
.allocateRightSection1 
		{
			margin-top: 10px;
		}
.allocateRightSectionTitle span
		{
			float: left;
			width: 15px;
			height: 15px;
			margin-right: 4px;
			background-repeat: no-repeat;
			background-position: center center;
			cursor: pointer;
		}
.allocateRightSectionTitle span.early
		{
			background-image: url("../images/icons/arrivals/EarlyCheckInGrey.png");
		}
.allocateRightSectionTitle span.upgrade
		{
			background-image: url("../images/icons/arrivals/UpgradeGrey.png");
		}
.allocateRightSectionTitle span.aRequest
		{
			background-image: url("../images/icons/arrivals/SpecialRequestGrey.png");
		}
.allocateStatusListWrapMain
		{
			float: left;
			width: 100%;
			margin-top: 10px;
		}
.allocateStatusListWrap
		{
			margin: auto;
			width: 68px;
			position: relative;
		}
.allocateStatusList
		{
			float: left;
			width: 100%;
			border-radius: 15px;
			-moz-border-radius: 15px;
			-webkit-border-radius: 15px;
			border: 1px solid #A8B6C6;
			padding: 1px 3px;
		}
.allocateStatusList li
		{
			float: left;
			width: 16px;
			height: 16px;
			margin: 0 3px;
			background-position: center center;
			background-repeat: no-repeat;
		}
.allocateStatusList li.cross
		{
			background-image: url("../images/icons/arrivals/CrossRed.png");
		}
.allocateStatusList li.nuteral
		{
			background-image: url("../images/icons/arrivals/Neutral.png");
		}
.allocateStatusList li.check
		{
			background-image: url("../images/icons/arrivals/TickGreen.png");
		}
.allocateStatusActive
		{
			float: left;
			width: 25px;
			height: 25px;
			position: absolute;
			top: -2px;
			left: 0;
			background-position: center center;
			background-repeat: no-repeat;	
			background-image: url("../images/icons/arrivals/Selector.png");
		}
.allocateStatusActive span
		{
			float: left;
			width: 100%;
			height: 16px;
			margin: 4px 0;
			background-position: center center;
			background-repeat: no-repeat;
		}
.allocateStatusActive.netural
		{
			left: 24px;
		}
.allocateStatusActive.netural span
		{
			background-image: url("../images/icons/arrivals/Neutral.png");
		}
.allocateStatusActive.check
		{
			left: 51px;
		}
.allocateStatusActive.check span
		{
			background-image: url("../images/icons/arrivals/TickGreen.png");
		}
.allocateRightSectionText
		{
			float: left;
			width: 100%;
			color: #222222;
			font-size: 12px;
		}
.crDefaultDualBtnMain.open
		{
			height: 290px;
		}
/*Allocate room CSS End*/
.arrPopupCompletion
		{
			width: 350px;
			height: 370px;
			background-color: #fff;
		}
.popupHeaderRoom
		{
			font-size: 30px;
			font-weight: 700;
			float: left;
		}
.arrPopGuestName
		{
			float: left;
			font-weight: 300;
			text-transform: none;
		}
.popCompletionHeading
		{
			float: left;
			width: 100%;
			text-transform: uppercase;
			font-size: 16px;
			color: #676767;
			font-weight: 700;
			margin-bottom: 20px
		}
.popCompletionList
		{
			float: left;
			width: 100%;
			margin-bottom: 20px;
		}
.popCompletionList > li
		{
			float: left;
			width: 100%;
			padding: 10px 0;
			border-bottom: 1px solid #ccc;
		}
.popCompletionList > li .customCheckBox
		{
			margin: 0 10px 0 0;
		}
.popCompletionList > li label
		{
			color: #222222;
			font-size: 12px;
			float: left;
			margin-top: 3px;
		}
.popCompletionListIcon
		{
			float: right;
		}
.popCompletionListIcon li
		{
			float: left;
			width: 25px;
			height: 25px;
			margin-left: 10px;
			cursor: pointer;
			background-repeat: no-repeat;
			background-position: center center;
		}
.popCompletionListIcon li:first-child
		{
			margin-left: 0;
		}
.popCompletionListIcon li.save
		{
			background-image: url("../images/icons/arrivals/Save.png");
		}
.popCompletionListIcon li.print
		{
			background-image: url("../images/icons/arrivals/Print.png");
		}
.popCompletionListIcon li.mail
		{
			background-image: url("../images/icons/arrivals/Mail.png");
		}
.popCompletionPriceEnter
		{
			float: right;
		}
.popCompletionPriceEnter span
		{
			float: left;
			margin-right: 8px;
			margin-top: 9px;
		}
.popCompletionPriceEnter input
		{
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			width: 50px;
			background-color: transparent;
		}
.popCompletionPriceEdit
		{
			float: right;
		}
.popCompletionPriceEdit span
		{
			float: left;
			margin-right: 8px;
			margin-top: 6px;
		}
.popCompletionPriceEdit p
		{
			float: left;
		}
.popCompletionPriceEdit .editButton
		{
			float: left;
			width: 15px;
			height: 15px;
			margin-left: 10px;
			cursor: pointer;
			background-repeat: no-repeat;
			background-position: center center;
			margin-top: 2px;
			background-image: url("../images/icons/arrivals/EditGrey.png");
		}
.lateCheckoutPopText
		{
			float: left;
			width: 100%;
			color: #676767;
			font-size: 12px;
			margin-bottom: 8px;
		}
.arrPopupLateCheckOut
		{
			width: 300px;
			height: 485px;
			background-color: #fff;
		}
.arrPopupLateCheckOut .defaultNoBtn, .arrPopupLateCheckOut .defaultYesBtn 
		{
			padding: 8px 10px;
		}
.arrPopupLateCheckOut .topSearchWrap, .arrPopupPrintBill .topSearchWrap
		{
			width: 100%;
			border: none;
			margin-top: 10px;
		}
.arrPopupLateCheckOut .topSearchWrap .searchButton
		{
			background-color: #222222;
		}
.arrPopupLateCheckOutList
		{
			float: left;
			width: 100%;
			margin-bottom: 20px;
		}
.arrPopupLateCheckOutList > li
		{
			float: left;
			width: 96%;
			line-height: 20px;
			padding: 10px 2%;
		}
.arrPopupLateCheckOutList > li:first-child label
		{
			cursor: pointer;
		}
.arrPopupLateCheckOutList > li:nth-child(2n)
		{
			background-color: #EEF2F5;
		}
.popCompletionPriceEdit .rupeeIcon
		{
			margin-top: 3px;
		}
.arrPopupLateCheckOutList2
		{
			float: left;
			width: 100%;
		}
.arrPopupLateCheckOutList2 li
		{
			float: left;
			width: 20%;
			font-size: 12px;
			color: #222222;
		}
.arrPopupLateCheckOutList2 li:first-child
		{
			width: 10%;
		}
.arrPopupLateCheckOutList2 li:nth-child(3)
		{
			width: 50%;
		}
.arrPopupLateCheckOutList2 li .customCheckBox
		{
			margin: 0;
		}
.arrPopupPrintBill
		{
			width: 400px;
			height: 500px;
			background-color: #fff;
		}
.arrPopupPrintBill .popupContainer, .arrPopupLateCheckOut .popupContainer, .arrPopupCompletion .popupContainer
		{
			background-color: #fff;
		}
.billLogoMain
		{
			float: left;
			width: 40%;
		}
.billLogoMainWrap
		{
			float: left;
			width: 200px;
		}
.billLogoWrap
		{
			float: left;
			width: 100%;
			height: 50px;
			background-color: #ccc;
		}
.billLogoWrap img
		{
			float: left;
			width: 100%;
			height: 100%;
		}
.billLogoTagline
		{
			text-align: center;
			float: left;
			width: 100%;
			font-size: 12px;
			text-transform: uppercase;
			margin-bottom: 10px;
		}
.billHotelByName
		{
			float: left;
			width: 100%;
			text-align: center;
			color: #EB6C76;
			margin-bottom: 10px;
		}
.billPoweredBy
		{
			float: left;
			width: 100%;
			line-height: 50px;
			margin-top: 10px;
		}
.billPoweredBy span
		{
			float: left;
			color: #676767;
			font-size: 14px;
		}
.billAboutStayLogo
		{
			float: left;
			width: 102px;
			height: 43px;
			background-image: url("../images/icons/LogoFull.png");
			background-repeat: no-repeat;
			background-position: center center;
			margin-left:20px;
		}
.billPoweredBy .sectionEditButton
		{
			background-color: #68798B;
			margin: 10px 0 0 0;
		}
.billRightInfoList
		{
			float: left;
			width: 55%;
		}
.billRightInfoList2
		{
			width: 38%;
			border-right: 4px solid #EB1F45;
			margin-right: 5%;
		}
.billRightInfoList li
		{
			float: left;
			width: 100%;
			margin-bottom: 10px;
		}
.billRightInfoList li .head
		{
			float: left;
			width: 100%;
			color: #676767;
			font-size: 12px;
		}
.billRightInfoList li .text
		{
			float: left;
			width: 100%;
			color: #222222;
			font-size: 14px;
		}
.billCostListMain
		{
			float: left;
			width: 100%;
			margin-top: 20px;
		}
.billCostList
		{
			float: left;
			width: 100%;
		}
.billCostList li
		{
			float: left;
			width: 19%;
			margin-right: 1%;
			padding:10px 0;
			font-size: 12px;
			color: #222222;
			min-height: 10px;
		}
.billCostList li input
		{
			text-align: right;
			padding: 2px 6px;
		}
.billCostList li span
		{
			float: right;
		}
.billCostList li span.rupeeIcon
		{
			margin: 3px;
		}
.billCostList li:nth-child(4), .billCostList li:nth-child(5)
		{
			text-align: right;
		}
.billCostListHeader
		{
			color: #676767;
			font-size: 14px;
			border-bottom: 2px solid #EB1F45;
		}
.printA4
		{
			height: 842px;
        	width: 595px; 
		}
.arrPopupBill
		{
			width: 595px; 
			height: 600px;
			background-color: #fff;	
		}
.billScrollable
		{
			width: 96%; 
			height: 580px;
			padding: 10px 2%;
			overflow-x: auto;	
		}
.billCostList li .extraText
		{
			color: #676767;
			font-size: 12px;
			float: left;
			width: 100%;
		}
.billCostListFooter
		{
			font-weight: 700;
			font-size: 16px;
			color: #222222;
			border-top: 2px solid #EB1F45;
		}
.billPoweredBy .cancelButtonDefault, .billPoweredBy .saveButtonDefault
		{
			margin: 3px 0px;
		}
.billPoweredBy .saveButtonDefault
		{
			margin-left: 15px;billAboutStayLogo
		}
.billCostList li .defaultDrop
		{
			margin-top: 0;
		}
.billCostList li .defaultDrop span
		{
			top: 4px;
		}
.billCostList li .defaultDrop select
		{
			padding: 1px 10px;
		}
.billPoweredBy .saveButtonDefault
		{
			background-color: #68798B;
		}
.billinnerDropAddWrap
		{
			font-size: 12px;
			line-height: 18px;
		}



