html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.3;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Gotham', Arial, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{text-decoration: none;}
@font-face {
  font-family: 'Gotham';
  src: url('fonts/Gotham-Bold.ttf') format('truetype'),
  	   url('fonts/Gotham-BoldItalic.ttf') format('truetype');
  font-weight: 700;
}
/*@font-face {
  font-family: 'Gotham';
  src: url('fonts/Gotham-Medium.ttf') format('truetype'),
  	   url('fonts/Gotham-MediumItalic.ttf') format('truetype');
  font-weight: 400; 
}*/
@font-face {
  font-family: 'Gotham';
  src: url('fonts/Gotham-Book-Regular.otf') format('opentype')
  font-weight: 400; 
}
@font-face {
  font-family: 'Gotham';
  src: url('fonts/Gotham-Light.ttf') format('truetype'),
  	   url('fonts/Gotham-LightItalic.ttf') format('truetype');
  font-weight: 300;
}
a{color: #6B98D0;}
a:active{border: none;}
select{color:#676767}
.lightText{color:#676767}
label
		{
			color: #7a5fa5;
			font-size: 12px;
			margin-bottom: 5px;
			float: left;
		}
input[type="text"], input[type="number"]
		{
			width: 100%;
			/*width: calc(100% - 20px);*/
			padding: 0 0 5px 0;
			border-bottom: 1px solid #ccc;
			border-left: none;
			border-top: none;
			border-right: none;
			font-family: 'Gotham', Arial, sans-serif;
			background-color: transparent;
		}
input[type="text"]:active, input[type="number"]:active,
input[type="text"]:focus, input[type="number"]:focus
		{
			box-shadow: none;
			outline-width: 0;
		}
textarea
		{
			width: 100%;
			padding: 10px;
			box-sizing: border-box;
			border: 1px solid #ccc;
			max-width: 100%;
			font-family: 'Gotham', Arial, sans-serif;
		}
.mainWrap
		{
			float: left;
			width: 100%;
		}
.midWrap
		{
			margin: auto;
			max-width: 1280px;
		}
.mainContainer
		{
			float: left;
			width: calc(100% - 100px);
			background-color: #F0F0F3;
			margin-left: 100px;
			margin-top: 60px;
		}
.mainMidWrap
		{
			margin: auto;
			width: 100%;
			max-width: 1100px;
			margin-top: 155px;
		}
section
		{
			float: left;
			width: 98%;
			padding: 10px 1%;
		}
.sectionWrap
		{
			float: left;
			width: 100%;
		}
h3
		{
			float: left;
			font-size: 16px;
			font-weight: 700;
			line-height: 26px;
			text-transform: uppercase;
		}
h4
		{
			float: left;
			font-size: 16px;
			font-weight: 700;
		}
.column3
		{
			float: left;
			width: 33.33333%;
		}
.halfWrap
		{
			float: left;
			width: 50%;
		}
.fullWrap
		{
			float: left;
			width: 100%;
		}
.rotateUp
		{
			transform: rotate(180deg);
			-o-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-webkit-transform: rotate(180deg);
		}
.rotateDown
		{
			transform: rotate(0deg);
			-o-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-webkit-transform: rotate(0deg);
		}
.circle
		{
			border-radius: 90%;
			-o-border-radius: 90%;
			-ms-border-radius: 90%;
			-moz-border-radius: 90%;
			-webkit-border-radius: 90%;
		}
.pullRight
		{
			float: right !important;
		}
.pullLeft
		{
			float: left !important;
		}
.arrMainWrap
		{
			float: left;
			width: 100%;
		}
.fourColList
		{
			float: left;
			width: 100%;
		}
.fourColList li
		{
			float: left;
			width: 25%;
			font-size: 16px;
			margin-bottom: 5px;
		}
.fourColList li span
		{
			float: left;
			width: 18px;
			height: 18px;
			margin-right: 5px;
			border: 1px #ccc solid;
		}
.fourColList li.active span
		{
			background-image: url("../images/icons/Tick-Blue.png");
			background-size: 12px;
			background-repeat: no-repeat;
			background-position: center center;
		}
.threeColList
		{
			float: left;
			width: 100%;
		}
.threeColList li
		{
			float: left;
			width: 33.3333%;
			font-size: 16px;
			margin-bottom: 5px;
			min-height: 40px;
		}
.threeColList.editable li
{
	cursor: pointer;
}
.threeColList li span
		{
			float: left;
			width: 18px;
			height: 18px;
			margin-right: 5px;
			border: 1px solid #ccc;
		}
.threeColList li.active span
		{
			background-image: url("../images/icons/Tick-Blue.png");
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 12px;
		}
.defaultDrop
		{
			float: left;
			width: 100%;
			position: relative;
			margin-top: 5px;
		}
.defaultDrop select
		{
			float: left;
			width: 100%;
			border: 1px solid #ccc;
			appearance:none;
			-moz-appearance:none;
			-webkit-appearance:none;
			padding: 5px 10px;
			background-color: transparent;
			position: relative;
			z-index: 9;
			cursor: pointer;
		}
.defaultDrop span
		{
			float: left;
			width: 15px;
			height: 15px;
			background-image: url("../images/icons/Dropdown-Thin-Grey.png");
			position: absolute;
			background-repeat: no-repeat;
			background-position: center center;
			top: 9px;
			right: 5px;
			z-index: 0;
		}
.checkIcon, .crossIconRed
		{
			float: left;
			width: 18px;
			height: 18px;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 100%;
			margin-top: 2px;
		}
.checkIcon
		{
			background-image: url("../images/icons/Tick-Green.png");
		}
.crossIconRed
		{
			background-image: url("../images/icons/Cross-Red.png");
		}
/*popup css start*/
.mainPopupWrap input
		{
			padding: 8px 10px;
			width: calc(100% - 20px);
			background-color: #fff;
			border: 1px solid #ccc;
			border-radius: 5px;
		    -moz-border-radius: 5px;
		    -webkit-border-radius: 5px;
		}
.mainPopupWrap
		{
			float: left;
			width: 100%;
			height: 100%;
			position: fixed;
			top: 0;
			left: 0;
			z-index: 99999;
			background-color: rgba(0,0,0,0.6);
		}
.popupInnerWrap
		{
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			background-color: #fff;
			position: absolute;
			margin: auto;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #EEF0F4;
		}
.popupHeader
		{
			float: left;
			text-transform: uppercase;
			font-size: 16px;
			font-weight: 700;
			color: #fff;
			width: calc(100% - 30px);
			padding: 15px;
			background-color: #6A659E;
			border-radius: 10px 10px 0 0;
			-moz-border-radius: 10px 10px 0 0;
			-webkit-border-radius: 10px 10px 0 0;
		}
.popupContainer
		{
			float: left;
			width: calc(100% - 30px);
			padding: 15px;
			background-color: #EEF0F4;
			border-radius: 10px ;
			-moz-border-radius: 10px ;
			-webkit-border-radius: 10px ;
		}
.popupFormWrap
		{
			float: left;
			width: 100%;
		}
.popupFormWrap label
		{
			float: left;
			width: 100%;
			padding: 5px 0;
		}
.popupFormWrap .defaultDrop
		{
			background-color: #fff;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			margin: 0 0 10px 0;
		}
.popupFormWrap .defaultDrop select
		{
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
.cancelButtonDefault
		{
			float: left;
			margin: 3px 10px;
			padding: 3px 10px;
			background-color: #EB1F45;
			color: #fff;
			text-transform: uppercase;
			line-height: 20px;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			cursor: pointer;
		}
.cancelButtonDefault span	
		{
			float: left;
			width: 18px;
			height: 18px;
			margin-right: 10px;
			background-image: url("../images/icons/Cancel.png");
			background-size: 100% 100%;
			margin-top: 1px;
		}
.deleteDefault
		{
			float: left;
			width: 25px;
			height: 25px;
			margin-right: 0;
			background-image: url("../images/icons/Remove.png");
			background-position: center center;
			background-repeat: no-repeat;
			cursor: pointer;
			margin: 2px 10px;
		}
.saveButtonDefault
		{
			float: right;
			border: none;
			margin: 3px 10px;
			padding: 3px 10px;
			background-color: #6A659E;
			color: #fff;
			text-transform: uppercase;
			line-height: 20px;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			cursor: pointer;
			font-family: 'Gotham', Arial, sans-serif;
			font-weight: 400;
		}
.saveButtonDefault span	
		{
			float: left;
			width: 18px;
			height: 18px;
			margin-right: 10px;
			background-image: url("../images/icons/Save.png");
			background-size: 100% 100%;
			margin-top: 1px;
		}
.popupCancel
		{
			float: left;
			width: 30px;
			height: 30px;
			background-image: url("../images/icons/Close-Box.png");
			background-position: center center;
			background-size: 100%;
			background-repeat: no-repeat;
			position: absolute;
			cursor: pointer;
			top: -15px;
			right: -15px;
		}
.customCheckBox
		{
			float: left;
			position: relative;
			width: 20px;
			height: 20px;
			margin: 7px;
		}
.customCheckBox .check
		{
			float: left;
			height: 20px;
			width: 20px;
			background-image: url('../images/icons/Check-Box.png');
			background-repeat: no-repeat;
			background-position: center center;
			position: absolute;
			top: 0;
			left:0;
			z-index: 1;
		}
.customCheckBox input
		{
			cursor: pointer;
			width: 100%;
			height: 100%;
			float: left;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 10;
			opacity: 0;
		}
.customCheckBox input:checked ~ .check:before
		{
			content: "";
			float: left;
			width: 14px;
			height: 14px;
			background-color: #676767;
			position: absolute;
			top: 3px;
			left: 3px;
			border-radius: 3px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
		}
/*custom radio button start*/
.customRadio
		{
			float: left;
			position: relative;
			width: 20px;
			height: 20px;
			margin: 7px;
		}
.customRadio .radio
		{
			float: left;
			height: 20px;
			width: 20px;
			border: 1px solid #222222;
			position: absolute;
			top: 0;
			left:0;
			z-index: 1;
		}
.customRadio input
		{
			cursor: pointer;
			width: 100%;
			height: 100%;
			float: left;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 10;
			opacity: 0;
		}
.customRadio input:checked ~ .radio:before
		{
			content: "";
			float: left;
			width: 12px;
			height: 12px;
			background-color: #676767;
			position: absolute;
			top: 4px;
			left: 4px;
			border-radius: 90%;
			-moz-border-radius: 90%;
			-webkit-border-radius: 90%;
		}
/*custom radio button end*/
.sectionEditButton
		{
			float: right;
			text-transform: uppercase;
			color: #fff;
			padding: 5px 10px;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			margin: 3px 25px;
			background-color: #6A659E;
			line-height: 18px;
			cursor: pointer;
		}
.sectionEditButton span
		{
			width: 18px;
			height: 18px;
			float: left;
			margin-right: 5px;
			background-image: url("../images/icons/Asset-12.png");
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 100%;
		}
.roomAmenBlueCheck
		{
			display: inline-block;
			width: 18px;
			height: 14px;
			background-image: url("../images/icons/Tick-Blue.png");
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 100%;
		}
/*top tab css start*/
.crDateTab
		{
			float: left;
			width: 100%;
			text-align: center;
		}
.crDateTab li
		{
			cursor: pointer;
			display: inline-block;
			padding: 5px;
			width: 30px;
			margin-right: 5px;
			background-color: #fff;
			color: #676767;
			font-size: 7px;
			text-transform: uppercase;
			text-align: center;
			border: 1px solid #989898;
			border-radius: 8px;
			-moz-border-radius: 8px;
			-webkit-border-radius: 8px;
		}
.crDateTab li span
		{
			float: left;
			width: 100%;
			font-size: 14px;
		}
.crDateTab li.active, .crDateTab li:hover
		{
			background-color: #6A659E;
			color: #fff;
		}
.setTopTabs
		{
			float: left;
			width: 100%;
			margin-bottom: 10px;
		}
.setTopTabs li
		{
			float: left;
			width: calc(19.2% - 2px);
			margin-right: 1%;
			background-color: #6B98D0;
			border: 1px solid #6B98D0;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			color: #fff;
			position: relative;
		}
.setTopTabs li a
		{
			color: #fff;
			float: left;
			width: 92%;
			padding:10px 4%;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
.setTopTabs li:last-child
		{
			margin-right: 0;
		}
.setTopTabs li.active a
		{
			background-color: #fff;
			color: #172e55;
		}
.setTopTabs li.active
		{
			background-color: #fff;
			color: #172e55;
		}
.setTopTabs li.active::after
		{
			content: "";
			float: left;
			width: 10px;
			height: 10px;
			position: absolute;
			bottom: -6px;
			right: 30px;
			transform: rotate(47deg);
			-moz-transform: rotate(47deg);
			-webkit-transform: rotate(47deg);
			border-bottom: 1px solid #6B98D0;
			border-right: 1px solid #6B98D0;
			background-color: #fff;
		}
.setTopTabs li .title
		{
			float: left;
			width: 100%;
			text-transform: uppercase;
		}
.setTopTabs li .bigTitle
		{
			float: left;
			width: 100%;
			font-size: 39px;
			font-weight: 700;
			text-transform: uppercase;
		}
.setTopTabs li .title2
		{
			float: left;
			width: 50%;
			font-size: 18px;
			font-weight: 700;
			text-transform: uppercase;
		}
.setTopTabs li .title3
		{
			float: left;
			width: 100%;
			font-size: 22px;
			font-weight: 700;
			text-transform: uppercase;
		}
.pageTopInfo
		{
			float: left;
			width: 100%;
			margin-top: 2px;
		}
.pageTopInfo h3
		{
			color: #20232E;
		}
.topSearchWrap
		{
			float: right;
			width: 340px;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border: 1px solid #989898;	
			overflow: hidden;
		}
.topSearchWrap input[type="text"]
		{
			float: left;
			width: calc(100% - 60px);
			padding: 0 10px;
			border: none;
			height: 30px;
		}
.topSearchWrap .searchButton
		{
			border: none;
			float: left;
			width: 40px;
			height: 30px;
			background-color: #68798B;
			background-image: url("../images/icons/Search-White.png");
			background-repeat: no-repeat;
			background-position: center center;
			cursor: pointer;
		}
.tabFixedSection
		{
			position: fixed;
			width: calc(98% - 100px);
			left: 100px;
			z-index: 999;
			-webkit-box-shadow: 0px 0px 4px 2px rgba(43,60,85,1);
			-moz-box-shadow: 0px 0px 4px 2px rgba(43,60,85,1);
			box-shadow:0px 0px 4px 2px rgba(43,60,85,1);
		}
/*top tab css end*/
.innerCol15Per
		{
			float: left;
			width: calc(13% - 1px);
			padding: 5px 1%;
			min-height: 24px;
			border-right: 1px solid #F0F0F0;
		}
.innerCol90Per
		{
			float: left;
			width: calc(88% - 1px);
			padding: 5px 1%;
			min-height: 24px;
			border-right: 1px solid #F0F0F0;
		}
.innerCol40Per
		{
			float: left;
			width: calc(38% - 1px);
			padding: 5px 1%;
			min-height: 24px;
			border-right: 1px solid #F0F0F0;
		}
.innerCol20Per
		{
			float: left;
			width: calc(18% - 1px);
			padding: 5px 1%;
			min-height: 24px;
			border-right: 1px solid #F0F0F0;
		}
.innerCol25Per
		{
			float: left;
			width: calc(23% - 1px);
			padding: 5px 1%;
			min-height: 24px;
			border-right: 1px solid #F0F0F0;
		}
.menuInnerCol3
		{
			float: left;
			width: calc(16% - 1px);
			padding: 5px 1%;
			min-height: 24px;
			border-right: 1px solid #F0F0F0;
		}
.innerCol12Per
		{
			float: left;
			width: calc(10% - 1px);
			padding: 5px 1%;
			min-height: 24px;
			border-right: 1px solid #F0F0F0;
		}
.innerCol23Per
		{
			float: left;
			width: calc(21.33% - 1px);
			padding: 5px 1%;
			min-height: 24px;
			border-right: 1px solid #F0F0F0;
		}
.innerCol9Per
		{
			float: left;
			width: calc(7% - 1px);
			padding: 5px 1%;
			min-height: 24px;
			border-right: 1px solid #F0F0F0;
		}
.menuInnerCol1
		{
			float: left;
			width: calc(28% - 1px);
			padding: 5px 1%;
			border-right: 1px solid #F0F0F0;
			min-height: 24px;
		}
.menuInnerCol7
		{
			float: left;
			width: calc(8% - 1px);
			padding: 5px 1%;
			min-height: 24px;
			border-right: 1px solid #F0F0F0;
		}
.menuInnerCol6
		{
			float: left;
			width: calc(9.666% - 1px);
			padding: 5px 1%;
			min-height: 24px;
			border-right: 1px solid #F0F0F0;
		}
.defaultYesBtn
		{
			float: left;
			font-size: 14px;
			background-color: #68798B;
			padding: 8px 20px;
			margin: 5px 10px;
			text-transform: uppercase;
			color: #fff;
			border-radius: 5px;
			-o-border-radius: 5px;
			-ms-border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;	
			cursor: pointer;
			text-decoration: none;
			border: none;
		}
.defaultNoBtn
		{
			float: left;
			font-size: 14px;
			background-color: #EB6C76;
			padding: 8px 20px;
			margin: 5px 10px;
			text-transform: uppercase;
			color: #fff;
			border-radius: 5px;
			-o-border-radius: 5px;
			-ms-border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;	
			cursor: pointer;
			text-decoration: none;
			border: none;
		}
.arTopHeader
		{
			float: left;
			width: 98%;
			border-bottom: 1px solid #ccc;
			padding: 10px 1%;
			position: relative;
		}
.arTopRightControl
		{
			float: right;
		}
.arTopRightControl li
		{
			float: left;
			padding: 10px 15px;
			margin-left: 10px;
			background-color: #6A659E;
			font-size: 13px;
			color: #fff;
			cursor: pointer;
			text-transform: uppercase;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
.arInnerMidTabs
		{
			margin: auto;
			width: 330px;
			text-align: center;
		}
.arInnerMidTabs li
		{
			float: left;
			padding: 10px 15px;
			font-size: 13px;
			background-color: #fff;
			border: 1px solid #989898;
			cursor: pointer;
		}
.arInnerMidTabs li:first-child
		{
			border-radius: 5px 0 0 5px;
			-moz-border-radius: 5px 0 0 5px;
			-webkit-border-radius: 5px 0 0 5px;
		}
.arInnerMidTabs li:last-child
		{
			border-radius: 0 5px 5px 0;
			-moz-border-radius: 0 5px 5px 0;
			-webkit-border-radius: 0 5px 5px 0;
		}
.arInnerMidTabs li.active, .arInnerMidTabs li:hover
		{
			background-color: #6A659E;
			color: #fff;
		}
/*card view start*/
.cardViewWrap
		{
			float: left;
			width: 100%;
		}
.cardViewList
		{
			float: left;
			width: 100%;
			margin: 10px 0;
		}
.cardViewList > li
		{
			float: left;
			width: 24.2%;
			margin-right: 1%;
			background-color: #fff;
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			min-height: 310px;
			margin-bottom: 10px;
		}
.cardViewList > li:nth-child(4n)
		{
			margin-right: 0;
		}
.cardHeaderWrap
		{
			float: left;
			width: 90%;
			padding: 4px 5%;
			border-radius: 10px 10px 0 0;
			-moz-border-radius: 10px 10px 0 0;
			-webkit-border-radius: 10px 10px 0 0;
		}
.cardHeaderWrap.green
		{
			background-color: #84C444;
		}
.cardHeaderWrap.red
		{
			background-color: #EB6C76;
		}
.cardHeaderWrap.yellow
		{
			background-color: #EFC41C;
		}
.cardHeaderWrap .roomNo
		{
			float: left;
			color: #fff;
			font-size: 30px;
			font-weight: 700;
		}
.cardHeaderWrap .roomType
		{
			float: left;
			color: #fff;
			font-size: 14px;	
			margin: 12px 0 0 5px;
			text-transform: uppercase;
		}
.cardHeaderRight
		{
			float: right;
			margin-top: 7px;
			line-height: 26px;
		}
.cardHeaderRight .hotelIcon
		{
			float: left;
			width: 20px;
			height: 25px;
			margin-right: 5px;
			background-repeat: no-repeat;
			background-position: center;
			background-image: url("../images/icons/cards/logoBig.png");
		}
.cardHeaderRight .hotelId
		{
			float: left;
			color: #fff;
			font-size: 14px;
		}
.cardInnerMainList
		{
			float: left;
			width: 90%;
			margin: 10px 5%;
		}
.cardInnerMainList li
		{
			float: left;
			width: 100%;
			padding: 6px 0;
			border-bottom: 1px solid #ccc;
		}
.guestName
		{
			float: left;
			font-size: 16px;
			color: #222222;
		}
.silverBtn
		{
			float: left;
			padding: 2px 5px;
			font-size: 12px;
			margin: 0 10px;
			background-color: #C1C1C1;
			text-transform: uppercase;
			color: #fff;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
.goldBtn
		{
			float: left;
			padding: 2px 5px;
			font-size: 12px;
			margin: 0 10px;
			background-color: #D3B02A;
			text-transform: uppercase;
			color: #fff;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
.cardToolTip
		{
			float: right;
			width:20px;
			height: 20px;
			background-image: url("../images/icons/cards/Special_Requests.png");
			background-repeat: no-repeat;
			background-position: center center;
			cursor: pointer;
			position: relative;
		}
.cardToolTipMain
		{
			float: left;
			width: 260px;
			height: 127px;
			position: absolute;
			bottom: 16px;
			right: -20px;
			display: none;
			z-index: 9999;
		}
.cardToolTipInner
		{
			background-color: #fff;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border:2px solid #EB6C76;
			float: left;
			width: 100%;
			height: 100px;
			position: relative;
			padding: 5px;
			cursor: default;
		}
.cardToolTipInner::after
		{
			content: "";
			float: left;
			width: 10px;
			height: 10px;
			position: absolute;
			bottom: -7px;
			right: 36px;
			transform: rotate(47deg);
			-moz-transform: rotate(47deg);
			-webkit-transform: rotate(47deg);
			border-bottom: 2px solid #EB6C76;
			border-right: 2px solid #EB6C76;
			background-color: #fff;
		}
.cardToolTipScroll
		{
			float: left;
			width: 100%;
			height: 100%;
			overflow-x: auto;
		}
.cardToolTip:hover .cardToolTipMain
		{
			display: block;
		}
.cardSmallHeading
		{
			float: left;
			width: 100%;
			color: #676767;
			font-size: 12px;
		}
.cardSmallText
		{
			float: left;
			width: 100%;
			font-size: 12px;
			color: #222222;
			margin-top: 5px;
		}
.cardGreenTick
		{
			float: left;
			width: 16px;
			height: 12px;
			background-image: url("../images/icons/cards/Tick_Green.png");
			background-repeat: no-repeat;
			background-position: center;
			margin: 0 5px;
		}
.cardUpgradeLink
		{
			float: left;
			width: 20px;
			height: 20px;
			background-image: url("../images/icons/cards/Assign_Red.png");
			background-repeat: no-repeat;
			background-position: center;
			margin: -4px 5px 0 5px;
		}
.cardRedCross
		{
			float: left;
			width: 13px;
			height: 13px;
			background-image: url("../images/icons/cards/Cross_Red.png");
			background-repeat: no-repeat;
			background-position: center;
			margin:0 5px;
		}
.cardSmallText span
		{
			float: left;
		}
.cardBottomButton
		{
			float: left;
			width: 100%;
			text-align: center;
			margin-bottom: 10px;
		}
.cardBottomButtonCancel span
		{
			background-color: #EB6C76 !important;
		}
.cardBottomButton span
		{
			display: inline-block;
			padding: 10px 20px;
			font-size: 13px;
			color: #fff;
			background-color: #68798B;
			text-transform: uppercase;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			cursor: pointer;
		}
.cardBottomButton.voilet span
		{
			background-color: #6A659E;
		}
.assignTo
		{
			float: left;
			font-size: 12px;
			color: #676767;
		}
.reqAssinName
		{
			color: #222222;
			font-size: 12px;
			float: left;
			margin-left: 10px;
		}
.reqCardDate
		{
			float: left;
			width: 100%;
			text-align: center;
			color: #222222;
			font-size: 12px;
			margin-top: 5px;
		}
.reqCardProgressBar
		{
			float: left;
			width: 100%;
			height: 6px;
			background-color: #EEEDEE;
			margin-top: 5px;
		}
.reqCardProgressBar span
		{
			float: left;
			height: 6px;
			width: 50%;
		}
.reqCardProgressBar.red span
		{
			background-color: #EB6C76;
		}
.reqCardProgressBar.green span
		{
			background-color: #84C444;
		}
.reqExtraTime
		{
			min-height: 20px;
		}
.reqExtraTime span
		{
			color: #EB6C76;
			font-size: 12px;
			font-weight: 700;
		}
.cardItemMain
		{
			float: left;
			width: 100%;
		}
.cardItemRow
		{
			float: left;
			width: 100%;
		}
.cardItemRow .cardItemCol1
		{
			float:left;
			width: 70%;
			color: #222222;
			font-size: 12px;
			line-height: 32px;
		}
.cardItemRow .cardItemCol1 label
		{
			cursor: pointer;
		}
.cardItemRow .cardItemCol2
		{
			float:left;
			width: 30%;
			color: #222222;
			font-size: 12px;
			line-height: 32px;
		}
.cardItemRowHeader
		{
			font-weight: 700;
			color: #676767;
		}
.cardItemScroll
		{
			float: left;
			width: 100%;
			height: 110px;
			overflow-y: auto;
		}
.markCompleteGrey span
		{
			background-color: #C1C1C1 ;
		}
.cardItemRowRed label, .cardItemRowRed .cardItemCol2, .cardItemRowRed
		{
			color: #EB6C76 !important;
		}
.cardItemRowLineThu label, .cardItemRowLineThu .cardItemCol2
		{
			text-decoration: line-through;
			color: #EB6C76;
		}


/*card end*/

.rdBreadcrumb
		{
			float: left;
			width: 100%;
		}
.rdBreadcrumb a
		{
			color: #676767;
		}
.rdBreadcrumb a.active
		{
			color: #222222;
		}
.errorLine
{
	color: #f00;
	font-size: 12px;
}
.loading
      {
        background:url('../images/small-loading.gif') no-repeat center center;
      }
.rupeeIcon
		{
			background-image: url("../images/icons/rupee.png");
			background-position: center center;
			background-repeat: no-repeat;
			width: 10px;
			height: 15px;
		}
.innerDropAddWrap
		{
			float: left;
			cursor: pointer;
			padding: 0px 0;
			text-transform: uppercase;
			margin: 10px 0;
			font-size: 16px;
			line-height: 1.2;
			color: #007aff !important;
		}
.innerDropAddWrap:hover
		{
			text-decoration: underline;
		}
.innerDropAddWrap span
		{
			float: left;
			width: 20px;
			height: 20px;
			background-image: url("../images/icons/Add.png");
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 100%;
			border-radius: 90%;
			-moz-border-radius: 90%;
			-webkit-border-radius: 90%;
			margin-right: 5px;
		}
.bottomToTop
		{
			float: left;
			padding:8px 10px;
			background-color: #EB1F45;
			position: fixed;
			bottom: 100px;
			right: 0;
			border-radius: 4px 0 0 4px;
			-moz-border-radius: 4px 0 0 4px;
			-webkit-border-radius: 4px 0 0 4px;
			text-decoration: none;
			font-weight: 700;
			color: #fff;
			cursor: pointer;
			-webkit-box-shadow: -4px 4px 12px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: -4px 4px 12px 0px rgba(0,0,0,0.75);
			box-shadow: -4px 4px 12px 0px rgba(0,0,0,0.75);
		}
.bottomToTop span
		{
			float: left;
			width: 19px;
			height: 13px;
			margin-top: 2px;
			margin-right: 5px;
			background-image: url("../images/icons/Up-Arrow-White.png");
			background-repeat: no-repeat;
			background-position: center center;
		}





 