.allRequestList
		{
			float: left;
			width: 100%;
			margin: 20px 0;
		}
.allRequestList li
		{
			float:left;
			width: 19%;
			background-color: #fff;
			margin-right: 1%;
			margin-bottom: 10px;
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			position: relative;
		}
.allRequestList li a
		{
			float: left;
			width: 92%;
			height: 110px;
			padding: 4%;
			color: #222222;
		}
.allRequestListLeft
		{
			float: left;
			width: 70%;
			font-size: 16px;
		}
.allRequestListRight
		{
			float: left;
			width: 30%;
		}
.allRequestListLeft p
		{
			float: left;
			width: 100%;
		}
.allRequestListRight .allRequestListBtn
		{
			float: left;
			width: 80%;
			padding: 5px 10%;
			margin-bottom: 5px;
			color: #fff;
			text-align: right;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			font-size: 18px;
		}
.allRequestListRight div:last-child
		{
			margin-bottom: 0;
		}
.allRequestListIcon
		{
			float: left;
			width: 40px;
			height: 40px;
			position: absolute;
			bottom: 10px;
			left: 10px;
			background-position: center center;
			background-repeat: no-repeat;
		}
.allRequestListIcon.commute
		{
			background-image: url("../images/icons/request/CommuteWeb.png");
		}
.allRequestListIcon.roomService
		{
			background-image: url("../images/icons/request/RoomServiceWeb.png");
		}
.allRequestListIcon.housekeeping
		{
			background-image: url("../images/icons/request/HousekeepingWeb.png");
		}
.allRequestListIcon.laundry
		{
			background-image: url("../images/icons/request/LaundryWeb.png");
		}
.allRequestListIcon.reservations
		{
			background-image: url("../images/icons/request/ReservationsWeb.png");
		}
.allRequestListIcon.internet
		{
			background-image: url("../images/icons/request/InternetWeb.png");
		}
.allRequestListIcon.maintenance
		{
			background-image: url("../images/icons/request/MaintenanceWeb.png");
		}
.allRequestListIcon.bellBoy
		{
			background-image: url("../images/icons/request/BellBoyWeb.png");
		}
.allRequestListIcon.other
		{
			background-image: url("../images/icons/request/OthersWeb.png");
		}
.allRequestListIcon.sereneSpa
		{
			background-image: url("../images/icons/request/HealthBeautyWeb.png");
		}
.allRequestListIcon.healthZone
		{
			background-image: url("../images/icons/request/HealthBeautyWeb.png");
		}
.allRequestListIcon.thaiDelight
		{
			background-image: url("../images/icons/request/RestaurantsCuisinesWeb.png");
		}
.allRequestListIcon.earlyCheckin
		{
			background-image: url("../images/icons/request/EarlyCheckInWeb.png");
		}
.allRequestListIcon.airportPickup
		{
			background-image: url("../images/icons/request/AirportPickupWeb.png");
		}
.allRequestListIcon.lateCheckout
		{
			background-image: url("../images/icons/request/LateCheckOutWeb.png");
		}
.allRequestListIcon.airportDrop
		{
			background-image: url("../images/icons/request/AirportDropWeb.png");
		}

.setTopTabs li.pending, .allRequestListBtn.pending
		{
			background-color: #EB6C76;
			border-color: #EB6C76;
		}
.setTopTabs li.ongoing, .allRequestListBtn.ongoing
		{
			background-color: #EFC41C;
			border-color: #EFC41C;
		}
.setTopTabs li.completed, .allRequestListBtn.completed
		{
			background-color: #84C444;
			border-color: #84C444;
		}
.activeExpireText
		{
			float: left;
			width: 100%;
			text-transform: uppercase;
			color: #676767;
			font-size: 12px;
			margin-bottom: 2px;
		}
.activeExpireText2
		{
			margin-top: 5px;
		}
.topDealsCount
		{
			margin-left: 30px;
			font-size: 18px;
			margin-top: 3px;
		}
.rdUserMoreInfoWrap
		{
			float: left;
			width: 100%;
		}
.rdUserInfoListMain
		{
			float: left;
			width: 100%;
			margin: 10px 0;
		}
.rdUserInfoListMain > li
		{
			float: left;
			width: 100%;
			border-bottom: 1px solid #ccc;
			background-color: #fff;
		}
.rdUserInfoListMain > li div
		{
			border-color: #ccc;
			font-size: 16px;
		}
.rdUserInfoListMain > li:first-child
		{
			background-color: #D7EDF5;
		}
.rdUserInfoListMain > li:first-child div
		{
			color: #676767;
			font-size: 14px;
			line-height: 24px;
			cursor: pointer;
		}
.rdUserInfoListMain > li .rdInfoID
		{
			color: #007aff;
		}
.rdUserInfoListMain > li .rdInfoIDRed
		{
			color: #EB6C76;
		}
.rdUserInfoListMain > li .rdInfoIDRed::after
		{
			content: "\00d7";
			float: right;
			color: #EB6C76;
			width: 20px;
			height: 20px;
			font-size: 28px;
			line-height: 18px;
			text-align: center;
			cursor: pointer;
		}
.rdUserInfoListMain > li div span.drop
		{
			display: inline-block;
			width: 15px;
			height: 8px;
			background-image: url("../images/icons/Dropdown-Thin-Grey.png");
		}
.dealPopup1
		{
			width: 500px;
			height: 200px;
		}
.reactivatePopList
		{
			float: left;
			width: 100%;
			padding: 10px 0;
			border-bottom: 1px solid #ccc;
			margin-bottom: 10px;
		}
.reactivatePopList li
		{
			float: left;
			width: 27%;
			margin-right: 4%;
			min-height: 30px;
		}
.reactivatePopList li:nth-child(3)
		{
			width: 6%;
		}
.reactivatePopList li:last-child
		{
			margin-right: 0;
		}
.reactivatePopList li .or
		{
			float: left;
			width: 100%;
			text-align: center;
			margin-top: 30px;
		}
.reactivatePopList li input
		{
			margin-top: 5px;
			background-color: transparent;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			padding: 6px 10px;
		}
.reactivatePopList li .defaultDrop select
		{
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;	
		}
.bkfMainWrap
		{
			float: left;
			width: 98%;
			padding: 1%;
			background-color: #fff;
			margin-top: 10px;
		}
.bkfMainList
		{
			float: left;
			width: 100%;
		}
.bkfMainList > li
		{
			float: left;
			width: 30%;
			box-sizing: border-box;
			padding: 1%;
			border-right: 1px solid #ccc;
			min-height: 300px;
		}
.bkfMainList > li:nth-child(2)
		{
			float: left;
			width: 25%;
		}
.bkfMainList > li:nth-child(3)
		{
			float: left;
			width: 45%;
			border: none;
		}
.bkfInnerList, .bkfInnerList li
		{
			float: left;
			width: 100%;
		}
.bkfInnerList li 
		{
			margin-bottom: 15px;
			padding-bottom: 15px;
		}
.bkfInnerList li:last-child
		{
			margin-bottom: 0px;
			padding-bottom: 0px;	
		}
.bkfInnerList li .heading
		{
			float: left;
			width: 100%;
			font-size: 14px;
			color: #676767;
		}
.bkfInnerList li .text
		{
			float: left;
			width: 100%;
			font-size: 14px;
			color: #222222;
			margin-top: 5px;
		}
.bkfInnerList li .rupeeIcon
		{
			float: left;
			margin-top: 3px;
			margin-right: 4px;
		}
.bkfMainEditList
		{
			float: left;
			width: 100%;
		}
.bkfMainEditList > li
		{
			float: left;
			width: 50%;
			box-sizing: border-box;
			padding: 1%;
			border-right: 1px solid #ccc;
		}
.bkfMainEditList > li:last-child
		{
			border: none;
		}
.bkfMainEditRow
		{
			float: left;
			width: 100%;
			padding: 15px 0;
			border-bottom: 1px solid #ccc;
		}
.bkfEdit40
		{
			width: 35%;
			margin-right: 5%;
		}
.bkfEdit60
		{
			width: 60%;
		}
.bkfMainEditList > li label
		{
			float: left;
			width: 100%;
			font-size: 14px;
			color: #676767;
			margin-bottom:5px;
		}
.bkfMainEditList > li input[type="text"]
		{
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
.bkfThreeCol
		{
			float: left;
			width: 100%;
		}
.bkfThreeCol li
		{
			width: 32%;
			margin-right: 2%;
			float: left;
		}
.bkfThreeCol li:nth-child(3n)
		{
			margin-right: 0;
		}
.bkfLabelText
		{
			color: #676767;
			margin-bottom: 5px;
		}
.dualRadioWrap
		{
			float: left;
			width: 45%;
		}
.dualRadioWrap label
		{
			width: auto !important;
			line-height: 34px;
		}
.bkfThreeCol li .customCheckBox, .bkfThreeCol li .customRadio
		{
			margin-left: 0;
		}
.inputAddBtn
		{
			float: left;
			width: 100%;
			position: relative;
		}
.inputAddBtn input
		{
			width: calc(100% - 40px) !important;
			padding-right: 30px;
		}
.inputAddBtn .addBtn
		{
			font-size: 16px;
			float: left;
			width: 23px;
			height: 23px;
			border-radius: 4px;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
			background-color: #68798B;
			color: #fff;
			position: absolute;
			top: 3px;
			right: 1px;
			text-align: center;
			cursor: pointer;
		}
.bkfAddLinesWrap
		{
			float: left;
			width: 92%;
			padding: 4%;
			border: 1px solid #ccc;
			border-radius: 4px;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
			margin-top: 10px;
			min-height: 100px;
		}
.bkfAddLinesWrap > li
		{
			float: left;
			width: 100%;
			line-height: 20px;
			font-size: 12px;
		}
.bkfMainEditRow .bkfRowHalf
		{
			width: 48%;
		}
.bkfMessage
		{
			float: left;
			width: 98%;
			padding: 1%;
			border: 1px solid #ccc;
			border-radius: 4px;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
			resize: none;
			min-height: 140px;
			line-height: 1.3;
			font-size: 14px;
			font-weight: 400;
			font-family: 'Gotham', Arial, sans-serif;
		}
.bkfDynamicList
		{
			float: left;
			width: 100%;
			margin-top: 10px;
		}
.bkfDynamicList li
		{
			float: left;
			margin-right: 10px;
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			padding: 8px 12px;
			background-color: #D8D8D8;
			cursor: pointer;
		}
.bkfShareMainList
		{
			width: 100%;
			float: left;
		}
.bkfShareMainList > li
		{
			float: left;
			width: 20%;
			padding: 1%;
			box-sizing: border-box;
			border-right: 1px solid #ccc;
			margin-right: 1%
		}
.bkfShareMainList > li:nth-child(2)
		{
			width: 79%;
			margin-right: 0;
			border: none;
		}
.bfkShareFilterWrap
		{
			float: left;
			width: 100%;
		}
.bfkShareFilterWrap > li
		{
			float: left;
			width: 18.4%;
			margin-right: 2%;
		}
.bfkShareFilterWrap > li .defaultYesBtn, .bkfFilterGuest .defaultNoBtn 
		{
			margin-right: 0;
		}
.bfkShareFilterWrap > li .defaultDrop select
		{
			border-radius: 4px;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
		}
.bfkShareFilterWrap > li .defaultYesBtn
		{
			margin-top: 20px;
		}
.bfkShareFilterWrap > li label span
		{
			float: left;
		}
.bfkShareFilterWrap > li label span.icon
		{
			width: 15px;
			height: 15px;
			margin-left: 10px;
			border: 1px solid #ccc;
		}
.regularUserColor
		{
			background-color: #E3F9D7 !important;
		}
.serviceUsedColor
		{
			background-color: #6C9650 !important;
		}
.dealSharedColor
		{
			background-color: #DFD7F7 !important;
		}
.dealUsedColor
		{
			background-color: #7C71AA !important;
		}
.bkfFilterGuest
		{
			float: left;
			width: 100%;
			margin: 30px 0 10px 0;
		}
.bfkShareFilterWrap li:last-child
		{
			margin-right: 0;
		}
.bkfFilterGraph
		{
			float: left;
			width: 100%;
		}
.bkfFilterGuestRow *
		{
			box-sizing: border-box;
		}
.bkfFilterGuestRow 
		{
			float: left;
			width: 100%;
			border-bottom: 1px solid #ccc;
		}
.bkfFilterGuestCol
		{
			float: left;
			width: 100%;
		}
.bkfFilterGuestCol > li
		{
			width: 10.5%;
			padding: 4px 8px;
			float: left;
			min-height: 45px;
			border-right: 1px solid #ccc;
		}
.bkfFilterGuestCol > li:nth-child(1)
		{
			width: 5%;
		}
.bkfFilterGuestCol > li:nth-child(2)
		{
			width: 14%;
		}
.bkfFilterGuestCol > li:nth-child(3), .bkfFilterGuestCol > li:nth-child(4), .bkfFilterGuestCol > li:nth-child(5)
		{
			width: 20%;
		}
.bkfFilterGuestCol > li:last-child
		{
			border-right: none;
		}
.bkfFilterGuestCol > li .customCheckBox
		{
			background-color: #fff;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			margin: 10px 0 0 0;
		}
.bkfFilterGuestRowHeader
		{
			background-color: #D7EDF5;
		}
.bkfFilterGuestCol li span
		{
			margin-top: 10px;
			width: 100%;
			float: left;
		}
.quotientPoints 
		{
			float: left;
			width: 100%;
			margin-top: 10px;
		}
.quotientPoints li
		{
			float: left;
			margin-right: 5px;
			width: 15px;
			height: 15px;
			background-color: #EEEDEE;
			border-radius: 90%;
			-moz-border-radius: 90%;
			-webkit-border-radius: 90%;	
		}
.quotientPoints li.active
		{
			background-color: #6C9650;
		}
.bkfFilterGuestCol li.sUsedLight
		{
			background-color: #E3F9D7;
			color: #fff;
		}
.bkfFilterGuestCol li.dUsedLight
		{
			background-color: #DFD7F7;
			color: #fff;
		}
.bkfFilterGuestCol li.sUsedDark
		{
			background-color: #6C9650;
			color: #fff;
		}
.bkfFilterGuestCol li.dUsedDark
		{
			background-color: #7C71AA;
			color: #fff;
		}
.gsColoreInfo
		{
			float: right;
			margin-top: 10px;
		}
.gsColoreInfo li
		{
			float: left;
			margin-left: 20px; 
		}
.gsColoreInfo li span
		{
			float: left;
			width: 15px;
			height: 15px;
			border: 1px solid #ccc;
			margin-right: 10px;
		}
.gsFloorMain
		{
			float: left;
			width: 100%;
		}
.gsFloorInnerMain
		{
			float: left;
			width: calc(100% - 20px);
		}
.lightInnerList
		{
			float: left;
			width: 98%;
			padding: 1%;
		}
.lightInnerList li
		{
			float: left;
			width: 8%;
			height: 70px;
			padding: 0.5%;
			margin: 0.5%;
			background-color: #fff;
			text-align: center;
			max-width: 80px;
			min-width: 68px;
			border: 1px solid #ccc;
		}
.lightInnerList li .title1
		{
			float: left;
			width: 100%;
			font-size: 25px;
			color: #000;
			margin-top: 5px;
		}
.lightInnerList li .title2
		{
			float: left;
			width: 100%;
			font-size: 16px;
			text-transform: uppercase;
		}
.floorRightNav
		{
			float: right;
			width: 20px;
			margin-top: 20px;
		}
.floorRightNav li
		{
			float: left;
			padding: 2px 4px;
			margin-bottom: 10px;
			clear: both;
			border-radius: 5px;
			cursor: pointer;
			width: 12px;
			text-align: center;
		}
.floorRightNav li.active, .floorRightNav li:hover
		{
			background-color: #222222;
			color: #fff;
		}
.lightInnerList li.serviceUsedColor .title1, .lightInnerList li.serviceUsedColor .title2
		{
			color: #fff;
		}
.gsFloorInnerMain h4
		{
			font-weight: 300;
			width: 100%;
			text-transform: uppercase;
			margin: 20px 0 0 2%;
		}




