header.header
		{
			float: left;
			width: 98%;
			padding: 0 1%;
			background-color: #6A659E;
			height: 60px;
			line-height: 60px;
			position: fixed;
			top: 0;
			left: 0;
			z-index: 9999;
		}
header .logoWrap
		{
			float: left;
		}
header .logoWrap a
		{
			float: left;
			color: #fff;
			font-size: 23px;
			font-weight: bold;
			text-transform: uppercase;
		}
.headUserName
		{
			float: right;
			color: #fff;
			line-height: 130%;
			margin-top: 20px;
			font-weight: 400;
		}
.headUserName span
		{
			float: right;
			width: 15px;
			height: 10px;
			margin-left: 5px;
			margin-top: 4px;
			background-image: url('../images/icons/Down-White.png');
			background-size: 100%;
			background-repeat: no-repeat;
			background-position: center;
		}






