.crTopFilterList
		{
			float: left;
			margin-bottom: 20px;
		}
.crTopFilterList li
		{
			float: left;
			width: 150px;
			margin-right: 10px;
		}
.crTopFilterList li .defaultDrop
		{
			background-color: #fff;
			margin-top: 0;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
.crTopFilterList li .defaultDrop select
		{
			padding: 10px;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-color: #989898;
			color: #989898;
		}
.crTopFilterList li .defaultDrop span
		{
			top: 14px;
		}
.rdUserMoreInfoWrap
		{
			float: left;
			width: 100%;
		}
.rdUserInfoListMain
		{
			float: left;
			width: 100%;
			margin: 10px 0;
		}
.rdUserInfoListMain > li
		{
			float: left;
			width: 100%;
			border-bottom: 1px solid #ccc;
			background-color: #fff;
		}
.rdUserInfoListMain > li div
		{
			border-color: #ccc;
			font-size: 16px;
		}
.rdUserInfoListMain > li:first-child
		{
			background-color: #D7EDF5;
		}
.rdUserInfoListMain > li:first-child div
		{
			color: #676767;
			font-size: 14px;
			line-height: 24px;
			cursor: pointer;
		}
.rdInfoID
		{
			color: #007aff;
		}
.rdUserInfoListMain > li div span.drop
		{
			display: inline-block;
			width: 15px;
			height: 8px;
			background-image: url("../images/icons/Dropdown-Thin-Grey.png");
		}
.invertoryPopup1
		{
			width: 600px;
			height: 600px;
		}
.popupRoomNoInput
		{
			float: left;
			margin-top: 5px;
			width: 60px;
			background-color: transparent;
			border-radius: 4px;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
		}
.popGetdetailBtn
		{
			padding: 5px 10px;
		}
.activeCodeWrap
		{
			float: left;
			width: 100%;
			margin-top: 20px;
			padding-bottom: 10px;
			border-bottom: 1px solid #ccc;
			margin-bottom: 10px;
		}
.assignPopCol3
		{
			float: left;
			width: 100%;
			margin-top: 10px;
		}
.assignPopCol3 > li
		{
			float: left;
			width: 37%;
			margin-right: 2%;
			font-size: 12px;
		}
.assignPopCol3 > li span.full
		{
			float: left;
			width: 100%;
		}
.assignPopCol3 > li:last-child
		{
			margin-right: 0;
			width: 22%;
		}
.assignPopCol3 > li .removeButton
		{
			cursor: pointer;
			font-size: 16px;
			text-align: right;
		}
.invertoryPopup1 .lightText
		{
			font-size: 12px;
		}
.assignPopCol3 label
		{
			float: left;
			width: 100%;
			margin-bottom: 5px;
			color: #676767;
		}
.assignPopCol3 > li .defaultYesBtn
		{
			margin: 25px 0 0 0;
			padding: 6px 0px;
			width: 100%;
			text-align: center;
		}
.assignPopCol3 > li .defaultDrop select
		{
			border-radius: 4px;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
		}
.assignRadioCheck
		{
			float: left;
			width: 100%;
			margin: 10px 0;
		}
.assignRadioCheck li
		{
			float: left;
			width: 100%;
			padding: 10px 0;
			border-bottom: 1px solid #ccc;
		}
.assignRadioCheck li label
		{
			line-height: 36px;
			float: left;
			margin-left: 10px;
		}
.invertoryPopup2
		{
			width: 500px;
			height: 460px;
		}
.activationPopList
		{
			float: left;
			width: 100%;
		}
.activationPopList li
		{
			float: left;
			width: 48%;
			margin-right: 4%;
			margin-bottom: 15px;
		}
.activationPopList li:nth-child(2n)
		{
			margin-right: 0;
		}
.activationPopList li label
		{
			float: left;
			width: 100%;
			color: #676767;
			margin-bottom: 5px;
		}
.activationPopList li input, .activationPopList li  .defaultDrop select
		{
			border-radius: 4px;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
			background-color: transparent;
		}
.activationPopList li input[type="password"]
		{
			width: calc(100% - 20px);
			border: 1px solid #ccc;
			padding: 5px 10px;
		}
.acPopDesTxt span
		{
			float: left;
		}
.acPopDesTxt span.rupeeIcon
		{
			margin-top: 3px;
		}
.acPopDesTxt
		{
			margin-top: 10px;
		}
.addCodeBrowseList
		{
			float: left;
			width: 100%;
			margin-bottom: 10px;
		}
.addCodeBrowseList li
		{
			float: left;
			width: 70%;
			margin-right: 4%;
		}
.addCodeBrowseList li:nth-child(2)
		{
			width: 26%;
			margin-right: 0;
		}
.addCodeBrowseList li > input[type="text"]
		{
			border-radius: 4px;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
			background-color: transparent;
		}
.addCodeBrowseList li label
		{
			float: left;
			width: 100%;
			color: #676767;
		}
.codeUploadButtonMain
		{
			float: left;
			width: 100%;
			position: relative;
			height: 30px;
			margin-top: 18px;
			text-align: center;
		}
.codeUploadButtonMain span
		{
			float: left;
			width: 100%;
			padding: 5px 0;
			position: absolute;
			top: 0;
			left: 0;
			color: #fff;
			text-transform: uppercase;
			border-radius: 4px;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
			z-index: 9;
			background-color: #68798B;
		}
.codeUploadButtonMain input
		{
			float: left;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 99;
			opacity: 0;
			cursor: pointer;
		}
.addCodeOrWrap
		{
			float: left;
			width: 100%;
			margin: 20px 0;
			border-bottom: 1px solid #ccc;
		}
.addCodeOrWrap > div
		{
			float: left;
			width: 100%;
			margin-bottom:-10px;
			text-align: center;
		}
.addCodeOrWrap > div > span
		{
			display: inline-block;
			text-align: center;
			padding: 0 20px;
			font-size: 16px;
			background-color: #EEF0F4;
		}
.invertoryPopup3
		{
			width: 500px;
			height: 420px;
		}
.carPopList li .defaultDrop
		{
			margin-top: 0;
		}
.carDriverBox
		{
			width: 8% !important;
			border-right: none !important;
		}





