.mainMsgWrap
		{
			float: left;
			width: 100%;
		}
.msgLeftWrap
		{
			float: left;
			width: 28%;
			margin-right: 1%;
			padding: 1%;
			background-color: #fff;
		}
.msgUserList
		{
			float: left;
			width: 100%;
		}
.msgUserList li
		{
			float: left;
			width: 90%;
			margin-bottom: 10px;
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			background-color: #B7E2F3;
			padding: 5%;
			cursor: pointer;
		}
.msgUserList li:last-child
		{
			margin-bottom: 0;
		}
.msgSideLeftWrap
		{
			float: left;
			width: 80%;
		}
.msgSideLeftWrap .msgNumber
		{
			float: left;
			width: 100%;
			font-size: 14px;
			font-weight: 700;
			color: #222222;
		}
.msgSideLeftWrap .msgSideUserName
		{
			float: left;
			width: 100%;
			font-size: 12px;
			color: #222222;
			margin-top: 4px;
		}
.msgUserList li .msgSideCount
		{
			float: right;
			width: 25px;
			height: 25px;
			background-color: #EB6C76;
			margin-top: 8px;
			text-align: center;
			color: #fff;
			line-height: 24px;
		}
.msgUserList li.msgDark
		{
			background-color: #6A659E;

		}
.msgUserList li.msgDark .msgNumber, .msgUserList li.msgDark .msgSideUserName
		{
			color: #fff;
		}
.msgSideGold
		{	
			padding: 5px;
			font-size: 12px;
			background-color: #D3B02A;
			text-transform: uppercase;
			color: #fff;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
.msgSideSilver
		{
			padding: 5px;
			font-size: 12px;
			background-color: #C1C1C1;
			text-transform: uppercase;
			color: #fff;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
.msgRightWrap
		{
			float: left;
			width: 69%;
		}
.msgRightTop
		{
			float: left;
			width: 96%;
			padding: 2%;
			background-color: #fff;
		}
.msgTopInfo
		{
			float: left;
			width: 96%;
			padding: 0 2% 2% 2%;
			border-bottom: 1px solid #222222;
		}
.msgTopInfo .msgNumber
		{
			font-weight: 700;
			margin-bottom: 6px;
		}
.msgTopInfo .msgNumber, .msgTopInfo .msgGuestName
		{
			float: left;
			width: 100%;
			color: #222222;
			font-size: 16px;
		}
.msgRightScroll
		{
			float: left;
			width: 100%;
			height: calc(100vh - 362px);
			overflow-y: auto;
			margin: 10px 0;
		}
.msgTextMain
		{
			float: left;
			width: 100%;
		}
.msgListWrap
		{
			float: left;
			width: 80%;
		}
.msgListWrap li
		{
			float: left;
			width: 70%;
			padding: 1%;
			border: 2px solid #6A659E;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			margin-bottom: 15px;
			position: relative;
			-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
			box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
		}
.msgListWrap li .msgDateTime
		{
			float: left;
			width: 100%;
			text-align: right;
			font-size: 10px;
			color: #676767;
		}
.msgListWrap li .msgText
		{
			float: left;
			width: 100%;
			font-size: 14px;
			color: #222222;
			min-height: 15px;
			margin: 8px 0;
		}
.autoMsgIcon
		{
			float: left;
			width: 22px;
			height: 22px;
			border: 1px solid #EB6C76;
			color: #EB6C76;
			text-align: center;
			font-size: 20px;
			line-height: 22px;
			position: absolute;
			top: 20%;
			right: -40px;
			cursor: pointer;
		}
.msgListWrap li.right
		{
			float: right;
			border-color: #EB6C76;
		}
.msgtypingWrap
		{
			float: left;
			width: calc(98% - 120px);
			height: 80px;
			margin-right: 2%;
			background-color: #fff;
			margin-top: 10px;
		}
.msgtypingWrap textarea, .msgtypingWrap input[type="text"]
		{
			float: left;
			width: 100%;
			padding: 1%;
			height: 100%;
			border: none;
			resize: none;
			line-height: 1.3;
			font-size: 12px;
			font-weight: 400;
			color: #989898;
			font-family: 'Gotham', Arial, sans-serif;

		}
.messageSendBtn
		{
			float: left;
			border: 2px solid #172E55;
			width: 120px;
			height: 80px;
			padding-left: 50px;
			background-image: url("../images/icons/SendWhite@2x.png");
			background-position: 10px center;
			background-repeat: no-repeat;
			background-color: #172E55;
			color: #fff;
			font-size: 16px;
			cursor: pointer;
			margin-top: 10px;
			transition: all 0.3s ease 0s;
			-moz-transition: all 0.3s ease 0s;
			-webkit-transition: all 0.3s ease 0s;
			border-radius: 4px;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
			font-weight: bold;
		}
.messageSendBtn:hover
		{
			background-color: #fff;
			color: #172E55;
			background-image: url("../images/icons/Send@2x.png");
		}
/*.msgFixedWrap
		{
			position: fixed;
		    bottom: 8px;
		    width: 57%;
		}*/


