p{color: #222222;}
.reqTopFilterList
		{
			width: 250px;
			float: left;
		}
.reqTopFilterList > li
		{
			float: left;
			width: 49%;
			margin-right: 2%;
		}
.reqTopFilterList > li:last-child
		{
			margin-right: 0;
		}
.reqTopFilterList > li .defaultDrop
		{
			background-color: #fff;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			margin-top: 0;
		}
.reqTopFilterList > li .defaultDrop select
		{
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			padding: 10px;
		}
.reqTopFilterList > li .defaultDrop span
		{
			top: 14px;
		}
.reqPopup1
		{
			width: 600px;
			height: 650px;
		}
.reqTopWrap
		{
			float: left;
			width: 100%;
		}
.reqTopWrap label
		{
			float: left;
			width: 100%;
			color: #676767;
			font-size: 12px;
			margin-bottom: 5px;
		}
.popupContainer, .popupInnerWrap
		{
			background-color: #fff;
		}
.popupContainer input[type="text"]
		{
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			float: left;
		}
.reqTopWrap .roomInput
		{
			width: 60px;
		}
.reqTopWrap .defaultYesBtn
		{
			padding: 5px 20px;
			margin: 0 10px;
		}
.reqPopUserName
		{
			margin: 43px 0 10px 0;
			color: #222222;
			font-size: 16px;
		}
.reqOrWrap
		{
			float: left;
			width: 100%;
			border-top: 1px solid #ccc;
			margin: 20px 0 10px 0;
		}
.reqOrWrap span
		{
			float: left;
			width: 100%;
			margin-top: -12px;
			text-align: center;
		}
.reqOrWrap span:after
		{
			content: "OR";
			display: inline-block;
			font-size: 16px;
			color: #676767;
			padding: 0 10px;
			background-color: #fff;
		}
.reqPopNowBtn
		{
			float: left;
			width: 100%;
			text-align: center;
		}
.reqPopNowBtn span
		{
			float: none;
			display: inline-block;
			padding: 5px 40px;
		}
.reqPopItemMain
		{
			float: left;
			width: 100%;
			color: #222222;
			font-size: 12px;
			margin: 10px 0;
		}
.reqPopItemRow
		{
			float: left;
			width: 98%;
			padding: 5px 1%;
			border-bottom: 1px dashed #EEEDEE;
		}
.reqPopItemCol
		{
			float: left;
			width: 100%;
		}
.reqPopItemCol li
		{
			float: left;
			width: 17%;
			margin-right: 2%;
			line-height: 28px;
			min-height: 10px;
		}
.reqPopItemCol li:first-child
		{
			width: 5%;
		}
.reqPopItemCol li:nth-child(2)
		{
			width: 35%;
		}
.reqPopItemCol li:nth-child(3)
		{
			text-align: center;
		}
.reqPopItemCol li:last-child
		{
			margin-right: 0;
			text-align: right;
		}
.reqPopItemCol li .customCheckBox
		{
			margin: 4px;
			background-color: #fff;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
.reqPopItemRowHead
		{
			font-weight: 700;
			background-color: #EEEDEE;
			color: #676767 !important;
		}
.reqPopQtyWrap
		{
			float: left;
			width: 100%;
		}
.reqPopQtyWrap input
		{
			width: 22px;
			float: none !important;
			margin: auto;
		}
.reqPopQtyWrap span
		{
			float: left;
			width: 15px;
			height: 15px;
			padding: 7px 3px;
			background-repeat: no-repeat;
			background-position: center center;
			cursor: pointer;
		}
.reqPopQtyWrap span.left
		{
			background-image: url("../images/icons/cards/Remove_Grey.png");
		}
.reqPopQtyWrap span.right
		{
			float: right;
			background-image: url("../images/icons/cards/Add_Grey.png");
		}
.reqPopItemScroll
		{
			float: left;
			width: 100%;
			height: 125px;
			overflow-y: auto;
		}
.reqTopHalfBottom
		{
			border-bottom: 1px solid #ccc;
			border-top: 1px solid #ccc;
			padding: 8px 0;
		}
.reqTopHalf > div:last-child
		{
			width: 40%;
			float: right;
		}
.reqPopTotalWrap
		{
			float: left;
			width: 90%;
			padding: 0 5%;
		}
.reqPopTotalWrap li
		{
			float: left;
			width: 100%;
			margin-bottom: 8px;
			font-size: 12px;
			color: #222222;
			text-align: right;
		}
.reqPopTotalWrap li span
		{
			float: left;
			color: #676767;
		}
.reqPopTotalWrap li:last-child
		{
			font-weight: 700;
		}
.specialRequest
		{
			float: left;
			width: 100%;
			margin: 8px 0;
		}
.specialRequestHeader
		{
			float: left;
			width: 100%;
		}
.specialRequestHeader .title
		{
			float: left;
			margin-right: 10px;
			color: #676767;
		}
.specialRequestHeader .cardToolTip
		{
			float: left;
		}
.specialRequest textarea
		{
			float: left;
			width: 96%;
			resize: none;
			height: 60px;
			padding: 5px 1%;
			border: 1px solid #ccc;
			margin-top: 5px;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			line-height: 1.3;
			font-size: 14px;
			font-weight: 400;
			font-family: 'Gotham', Arial, sans-serif;
		}
.reqPopup2
		{
			width: 600px;
			height: 500px;
		}
.specialRequest2
		{
			border-bottom: 1px solid #ccc;
			border-top: 1px solid #ccc;
			padding: 10px 0;
		}
.reqPopTopMidText
		{
			display: inline-block;
			color: #fff;
			font-size: 14px;
			margin-top: 10px;
		}
.reqPopTopHead
		{
			text-align: center;
		}
.reqPopup3
		{
			width: 600px;
			height: 560px;
		}
.reqPopFeedback
		{
			float: left;
			width: 100%;
			margin: 10px 0;
		}
.reqPopFeedback li
		{
			float: left;
			width: 40%;
		}
.reqPopFeedback li span
		{
			float: left;
			width: 20px;
			height: 20px;
			margin-right: 10px;
			background-repeat: no-repeat;
			background-position: center center;
		}
.reqPopFeedback li span.star
		{
			background-image: url("../images/icons/rooms/StarGreen.png");
		}
.reqPopFeedback li span.clock
		{
			background-image: url("../images/icons/rooms/ClockGreen.png");
		}
.popupHeader .cardHeaderRight
		{
			margin-top: -4px;
		}
.reqPopItemCol2 li:last-child
		{
			text-align: left;
		}
.reqPopItemCol3 li:nth-child(2)
		{
			width: 52%;
		}
.reqPopItemCol3 li p
		{
			line-height: 20px;
		}
.reqPopItemCol3 li p:first-child
		{
			margin-top: 5px;
		}
.specialRequest3 {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}
.specialRequest p
		{
			float: left;
			width: 100%;
			min-height: 50px;
			margin-top: 5px;
			max-height: 80px;
			overflow-x: auto;
		}
.reqPopItemCol4 li:nth-child(2)
		{
			width: 25%;
		}
.reqPopItemCol4 li
		{
			width: 15%;
		}
.reqPopItemCol4 li:nth-child(3)
		{
			text-align: left;
		}
.reqPopItemCol5 li:nth-child(2), .reqPopItemCol5 li:nth-child(3)
		{
			width: 45%;
		}
.reqPopItemCol5 li:last-child
		{
			text-align: left;
		}
.reqCommTopMid
		{
			margin: auto;
			width: 350px;
		}
.crDateTab li
		{
			float: left;
		}
.crDateTab li.reqCommTopWhiteBtn
		{
			width: auto;
			padding: 10px;
			font-size: 14px;
		}
.reqCommHeadingWrap
		{
			width: 98%;
			float: left;
			margin: 10px 0;
			padding: 0 1%;
		}
.reqCommHeadingWrap h4
		{
			color: #20232E;
			font-size: 14px;
		}
.reqCommColorInfo
		{
			float: right;
		}
.reqCommColorInfo li
		{
			float: left;
			margin-right: 10px;
			margin-top: 2px;
		}
.reqCommColorInfo li span
		{
			float: left;
			width: 15px;
			height: 15px;
			margin-right: 5px;
			margin-top: 2px;
		}
.reqCommColorInfo li:nth-child(1) span
		{
			background-color: #F7BFC3;
		}
.reqCommColorInfo li:nth-child(2) span
		{
			background-color: #FFEBBA;
		}
.reqCommColorInfo li:nth-child(3) span
		{
			background-color: #B4E2EB;
			margin-right: 5px;
		}
.commCardMainWrap
		{
			float: left;
			width: 98%;
			padding: 1%;
			background-color: #fff;
		}
.commCardList
		{
			float: left;
			width: 100%;
		}
.commCardList li
		{
			float: left;
			width: 24.2%;
			height: 110px;
			margin-right: 1%;
			color: #222222;
			position: relative;
		}
.commCardList li:last-child
		{
			margin-right: 0;
		}
.commCardListInner
		{
			float: left;
			width: 85%;
			height: calc(100% - 10px);
			font-size: 11px;
			padding:5px 2%;
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 99;
			cursor: move;
			background-color: #B4E2EB;
		}
.commCardListInner.reject
		{
			left: 0;
			background-color: #EB6C76;
			z-index: 9;
		}
.commCardListReject
		{
			float: left;
			width: 18px;
			cursor: pointer;
		}
.commCardListReject .icon
		{
			float: left;
			width: 18px;
			height: 18px;
			background-image: url("../images/icons/request/Reject_White.png");
			background-repeat: no-repeat;
			background-position: center;
		}
.commCardListReject span
		{
			float: left;
			width: 100%;
			color: #fff;
			text-align: center;
			font-size: 11px;
			line-height: 13px;
		}
.airportPickWrap
		{
			float: left;
			width: 120px;
		}
.airportPickWrap .icon
		{
			float: left;
			width: 30px;
			height: 30px;
			background-image: url("../images/icons/request/Airport_Pickup_Large.png");
			background-repeat: no-repeat;
			margin-right: 5px;
			background-position: center;	
		}
.airportPickWrap p
		{
			float: left;
			font-size: 11px;
			width: calc(100% - 35px);
		}
.commCardListInner .bold
		{
			font-weight: 700;
			font-size: 12px;
		}
.commCardListInner .hotelIcon
		{
			float: left;
			width: 14px;
			height: 16px;
			background-image: url("../images/icons/request/Logo_Small.png");
			background-repeat: no-repeat;
			background-position: center;
			margin-right: 5px;
		}
.commCardListInner .goldBtn
		{
			margin: 0;
		}
.airportDrop .icon
		{
			background-image: url("../images/icons/request/Airport_Drop_Large.png");
		}
.cardCarIcon .icon
		{
			background-image: url("../images/icons/request/Others_Large.png");
		}
.cardLongId
		{
			min-width: 60px;
			text-align: right;
		}
.pickupColor
		{
			background-color: #F7BFC3;
		}
.dropColor
		{
			background-color: #FFEBBA;
		}
.commGraphMain
		{
			float: left;
			width: 100%;
			margin-top: 10px;
		}
.commGraphLeftFix
		{
			float: left;
			width: 20%;
			background-color: #fff;
		}
.commGraphHourHead
		{
			float: left;
			width: 92%;
			font-size: 14px;
			color: #222222;
			padding: 5px 4%;
			font-weight: 700;
			background-color: #F0F0F3;
		}
.commGraphColoredHead
		{
			float: left;
			width: 92%;
			font-weight: 700;
			padding: 10px 4%;
			color: #222222;
			min-height: 19px;
			background-color: #D5EBF4;
		}
.commGraphHotelInfo
		{
			float: left;
			width: 92%;
			padding: 10px 4% 10px 0%;
			margin-left: 4%;
			color: #222222;	
			min-height: 34px;
			background-color: #fff;
			border-bottom: 1px solid #C4CEDB;
		}
.commGraphHotelInfo .head
		{
			float: left;
			width: 100%;
			font-size: 14px;
			color: #785FA7;
		}
.commGraphHotelInfo .text
		{
			float: left;
			width: 100%;
			font-size: 12px;
			color: #676767;
		}
.commGraphScroll
		{
			float: left;
			width: 80%;
			overflow-x: auto;
		}
.commGraphScrollInner
		{
			float: left;
			width:3100px;
			min-height: 200px;
			position: relative;
		}
.commGraphHourList
		{
			float: left;
			width: 100%;
		}
.commGraphHourList li
		{
			float: left;
			width: 124px;
		}
.commGraphHourList li .commGraphHourHead
		{
			font-weight: 400;
		}
.commGraphHourList li .timePeriod
		{
			text-transform: uppercase;
			font-size: 10px;
			margin-top: 5px;
		}
.commGraphHotelInfo .commGrapBox
		{
			width: 30px;
			float: left;
			min-height: 34px;
			padding: 10px 0;
			border-right: 1px solid #C4CEDB;
		}
.commGraphHotelInfo .commGrapBox:last-child
		{
			border: none;
		}
.commGraphHourList .commGraphHotelInfo
		{
			margin: 0;
			padding: 0;
			width: calc(100% - 1px);
			border-right: 1px solid #E47925;
		}
.commGraphHourList .commGraphHotelInfo:first-child
		{
			border-left: 1px solid #E47925;	
		}
.commGraphUpperWrap
		{
			float: left;
			width: 100%;
			height:100%;
			position: absolute;
			top: 0;
			left: 0;
		}
.graphCard
		{
			float: left;
			width: 245px;
			position: absolute;
			padding:10px 5px;
			background-color: #F7BFC3;
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			min-height: 52px;
			box-sizing: border-box;
			overflow: hidden;
		}
.graphCard > .fullWrap
		{
			min-width: 200px;
		}
.graphCardIcon
		{
			float: left;
			width: 20px;
			height: 30px;
			margin-right: 5px;
			background-repeat: no-repeat;
			background-position: center center;
		}
.graphCardIcon.pickup
		{
			background-image: url("../images/icons/request/Airport_Pickup_Small.png");
		}
.graphCardIcon.drop
		{
			background-image: url("../images/icons/request/Airport_Drop_Small.png");
		}
.graphCardIcon.car
		{
			background-image: url("../images/icons/request/Others_Small.png");
		}
.graphCardRightWrap
		{
			float: left;
			width: calc(100% - 25px);
			font-size: 11px;
			color: #222222;
		}
.graphCardRightWrap .hotelNo
		{
			float: left;
			font-weight: 700;
			color: #222222;
			font-size: 12px;
			margin-right: 5px;
		}
.graphCard.drop
		{
			background-color: #FFEBBA;
		}
.graphCard.edited
		{
			border: 2px dashed #EB6C76;
			padding: 8px 5px;
			cursor: move;
		}
.graphCard.dropDone
		{
			border: 2px dotted #84C444;
			padding: 9px 5px;
			background-color: #fff;
		}
.graphCard.dropDone::after
		{
			content: "";
			height: 52px;
			width: 30px;
			background-color: #84C444;
			position: absolute;
			top: -2px;
			right: -2px;
			border-radius: 0 10px 10px 0;
			-moz-border-radius: 0 10px 10px 0;
			-webkit-border-radius: 0 10px 10px 0;
			background-image: url("../images/icons/request/Tick_Black.png");
			background-repeat: no-repeat;
			background-position: center center;
		}
.graphCard.other
		{
			background-color: #B4E2EB;
		}
.graphCard.fullDay
		{
			border: 2px dashed #EB6C76;
			padding: 8px 5px;
		}
.commGraphRealTimeLine
		{
			height: calc(100% - 30px);
			position: absolute;
			top: 30px;
			left: 300px;
			border-right: 1px dashed #000;
			z-index: 99;
		}
.crDateTab li
		{
			position: relative;
		}
.crDateTab li .notifi
		{
			float: left;
			width: 18px;
			height: 18px;
			background-color: #E54B2E;
			position: absolute;
			top: -10px;
			right: -5px;
			color: #fff;
			font-size: 12px;
			text-align: center;
		}
.commCardListInner.spaWhite
		{
			background-color: #fff;
			border: 1px solid #A8B6C6;
			padding: 4px 2%;
		}
.massageTopText p
		{
			width: 100%;
		}
.commCardListInner .fullWrap
		{
			line-height: 16px;
		}
.commGraphMassLeft .head
		{
			margin-top: 8px;
		}
.graphCardRightWrap2
		{
			width: 100%;
		}
.setTopTabs li .setTopInnerTabs2
		{
			width: 90%;
			float: left;
			padding: 0 5%;
			background-color: #8F8780;
			color: #fff;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
.setTopInnerTabs2 a
		{
			padding:5px 4%;	
		}
.roomsTopTabs li .topLastTabNo
		{
			float: left;
			font-size: 22px;
			font-weight: 700;
		}
.roomsTopTabs li .topLastTabText
		{
			float: right;
			font-size: 14px;
			font-weight: 400;
			line-height: 28px;
		}
.setTopTabs li a p
		{
			color: #fff;
		}
.setTopTabs li.active a p
		{
			color: #222222;
		}
.roomsTopTabs li:last-child {
    border: none;
    background-color: transparent;
}
.setTopTabs li.pending, .allRequestListBtn.pending
		{
			background-color: #EB6C76;
			border-color: #EB6C76;
		}
.setTopTabs li.ongoing, .allRequestListBtn.ongoing
		{
			background-color: #EFC41C;
			border-color: #EFC41C;
		}
.setTopTabs li.completed, .allRequestListBtn.completed
		{
			background-color: #84C444;
			border-color: #84C444;
		}
.allRequestList
		{
			float: left;
			width: 100%;
			margin: 20px 0;
		}
.allRequestList li
		{
			float:left;
			width: 19%;
			background-color: #fff;
			margin-right: 1%;
			margin-bottom: 10px;
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			position: relative;
		}
.allRequestList li a
		{
			float: left;
			width: 92%;
			height: 110px;
			padding: 4%;
			color: #222222;
		}
.allRequestListLeft
		{
			float: left;
			width: 70%;
			font-size: 16px;
		}
.allRequestListRight
		{
			float: left;
			width: 30%;
		}
.allRequestListLeft p
		{
			float: left;
			width: 100%;
		}
.allRequestListRight .allRequestListBtn
		{
			float: left;
			width: 80%;
			padding: 5px 10%;
			margin-bottom: 5px;
			color: #fff;
			text-align: right;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			font-size: 18px;
		}
.allRequestListRight div:last-child
		{
			margin-bottom: 0;
		}
.allRequestListIcon
		{
			float: left;
			width: 40px;
			height: 40px;
			position: absolute;
			bottom: 10px;
			left: 10px;
			background-position: center center;
			background-repeat: no-repeat;
		}
.allRequestListIcon.commute
		{
			background-image: url("../images/icons/request/CommuteWeb.png");
		}
.allRequestListIcon.roomService
		{
			background-image: url("../images/icons/request/RoomServiceWeb.png");
		}
.allRequestListIcon.housekeeping
		{
			background-image: url("../images/icons/request/HousekeepingWeb.png");
		}
.allRequestListIcon.laundry
		{
			background-image: url("../images/icons/request/LaundryWeb.png");
		}
.allRequestListIcon.reservations
		{
			background-image: url("../images/icons/request/ReservationsWeb.png");
		}
.allRequestListIcon.internet
		{
			background-image: url("../images/icons/request/InternetWeb.png");
		}
.allRequestListIcon.maintenance
		{
			background-image: url("../images/icons/request/MaintenanceWeb.png");
		}
.allRequestListIcon.bellBoy
		{
			background-image: url("../images/icons/request/BellBoyWeb.png");
		}
.allRequestListIcon.other
		{
			background-image: url("../images/icons/request/OthersWeb.png");
		}
.allRequestListIcon.sereneSpa
		{
			background-image: url("../images/icons/request/HealthBeautyWeb.png");
		}
.allRequestListIcon.healthZone
		{
			background-image: url("../images/icons/request/HealthBeautyWeb.png");
		}
.allRequestListIcon.thaiDelight
		{
			background-image: url("../images/icons/request/RestaurantsCuisinesWeb.png");
		}
.reqPopItemCol6 li:first-child
		{
			width: 35%;
		}
.reqPopItemCol6 li:nth-child(2)
		{
			width: 16%;
			text-align: center;
		}
.reqPopItemCol6 li:nth-child(2) input
		{
			text-align: center;
		}
.reqPopItemCol6 li
		{
			margin-right: 5%;
		}
.popStartEndTime label
		{
			float: left;
			width: 100%;
			margin-bottom: 4px;
			color: #676767;
			font-size: 12px;
		}
.popStartEndTime .halfWrap
		{
			width: 47%;
		}
.popStartEndTime div.halfWrap:first-child
		{
			margin-right: 6%;
		}
.reqPopColoredTitle
		{
			float: left;
			width: 100%;
			font-size: 16px;
			font-weight: 700;
			text-transform: uppercase;
		}
.reqPopColoredTitle.red
		{
			color: #eb6c76;
		}
.reqPopColoredTitle.yellow
		{
			color: #EFC41C;
		}
.reqPopColoredTitle.green
		{
			color: #84C444;
		}
.reqPopItemCol p
		{
			line-height: 24px;
		}
.reqPopItemCol7 li:first-child
		{
			width: 41%;
		}
.reqPopItemCol7 li:nth-child(2)
		{
			width: 30%;
		}
.reqPopItemCol7 li
		{
			margin-right: 6%;
		}
.reqPopItemCol7 .defaultDrop select
		{
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
.reqPopItemRowBorder
		{
			border-bottom: 1px solid #EEEDEE;
		}
.popDropLabel
		{
			float: left;
			width: 100%;
			color: #676767;
			line-height: 14px;
			font-size: 12px;
			margin-top: 4px;
		}
.rupeeIconMainWrap
		{
			line-height: 14px;
		}
.rupeeIconMainWrap, .rupeeIconMainWrap span, .rupeeIconMainWrap i
		{
			float: left;
		}
.rupeeIconMainWrap
		{
			width: 100%;
		}
.rupeeIconMainWrap i
		{
			width: 10px;
			height: 12px;
			background-color: #ccc;
			margin: 0 4px;
		}
.reqPopItemScroll > div:last-child
		{
			border-bottom: 0;
		}
.reqPopItemCol7 p
		{
			float: left;
			line-height: 20px !important;
		}
.assignTo span
		{
			color: #000;
			margin-left: 10px;
		}
.reqExtraTime2
		{
			font-size: 12px;
			color: #EB6C76;
		}
.reqTopHalfBottom2 .fullWrap
		{
			margin-bottom: 6px;
		}
.cancelRequestText
		{
			float: left;
			width: 100%;
			text-align: center;
			font-size: 16px;
			padding: 20px 0;
			color: #676767;
			border-bottom: 1px solid #ccc;
			margin-bottom: 10px;
		}
.reqPopupCancel
		{
			width: 400px;
			height: 200px;
		}

.rdUserMoreInfoWrap
		{
			float: left;
			width: 100%;
			padding: 10px 0;
		}
.rdUserMoreInfoWrap h3
		{
			font-weight: 300;
		}
.rdUserInfoListMain
		{
			float: left;
			width: 100%;
			margin: 10px 0;
		}
.rdUserInfoListMain > li
		{
			float: left;
			width: 100%;
			border-bottom: 1px solid #ccc;
			background-color: #fff;
		}
.rdUserInfoListMain > li div
		{
			border-color: #ccc;
			font-size: 16px;
		}
.rdUserInfoListMain > li:first-child
		{
			background-color: #D7EDF5;
		}
.rdUserInfoListMain > li:first-child div
		{
			color: #676767;
			font-size: 14px;
			line-height: 24px;
			cursor: pointer;
		}
.rdUserInfoListMain > li .rdInfoID
		{
			color: #007aff;
		}
.rdUserInfoListMain > li .rdInfoIDRed
		{
			color: #EB6C76;
		}
.rdUserInfoListMain > li .rdInfoIDRed::after
		{
			content: "\00d7";
			float: right;
			color: #EB6C76;
			width: 20px;
			height: 20px;
			font-size: 28px;
			line-height: 18px;
			text-align: center;
			cursor: pointer;
		}
.rdUserInfoListMain > li div span.drop
		{
			display: inline-block;
			width: 15px;
			height: 8px;
			background-image: url("../images/icons/Dropdown-Thin-Grey.png");
		}
.innerStatusCustom
		{
			width: calc(14% - 1px);
		}
.rdProgressMain
		{
			float: left;
			position: relative;
			width: 100%;
		}
.rdTimeProgressBar
		{
			float: left;
			width: 100%;
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			height: 5px;
			margin-top: 5px;
			background-color: #EEEDEE;
		}
.rdTimeProgressBar span
		{
			float: left;
			width: 30%;
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			background-color: #84C444;
			height: 5px;
		}
.rdTimeProgressBar.red span
		{
			background-color: #EB6C76;
		}
.rdProgressMain span
		{
			font-size: 10px;
			color: #222222;
		}
.rdProgressMain div.plusTime
		{
			float: left;
			width: 100%;
			text-align: center;
			font-size: 12px !important;
			color: #EB6C76;
			position: absolute;
			top: -2px;
			left: 0;
		}
.rdFeedbackWrap
		{
			float: left;
			width: 100%;
			color: #222222;
			font-size: 16px;
		}
.rdFeedbackWrap span
		{
			float: left;
			width: 22px;
			height: 22px;
			background-position: center center;
			background-repeat: no-repeat;
			margin-right: 3px;
		}
.rdFeedbackWrap .greenStar
		{
			background-image: url("../images/icons/rooms/StarGreen.png");
		}
.rdFeedbackWrap .redStar
		{
			background-image: url("../images/icons/rooms/StarRed.png");
		}
.rdFeedbackWrap .greenClock
		{
			background-image: url("../images/icons/rooms/ClockGreen.png");
		}
.rdFeedbackWrap .redClock
		{
			background-image: url("../images/icons/rooms/ClockRed.png");
		}


