.setTopTabs li.occupied
		{
			background-color: #EB6C76;
		}
.setTopTabs li.available
		{
			background-color: #84C444;
		}
.setTopTabs li.blocked
		{
			background-color: #EFC41C;
		}
.setTopTabs li .setTopInnerTabs2
		{
			width: 90%;
			float: left;
			padding: 0 5%;
			background-color: #8F8780;
			color: #fff;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
.roomsTopTabs li:last-child
		{
			border: none;
			background-color: transparent;
		}
.roomsTopTabs li
		{
			border: none;
			border-right: 1px solid #fff;
			border-left: 1px solid #fff;
		}
.roomsTopTabs li.active
		{
			border: 1px solid #6B98D0;
		}
.roomsTopTabs li.active a
		{
			padding:9px 4%;
		}
.roomsTopTabs li .topLastTabNo
		{
			float: left;
			font-size: 22px;
			font-weight: 700;
		}
.setTopInnerTabs2 a
		{
			padding:5px 4%;	
		}
.roomsTopTabs li .topLastTabText
		{
			float: right;
			font-size: 14px;
			font-weight: 400;
			line-height: 28px;
		}
.arMainFloorWrap
		{
			float: left;
			width: 100%;
			margin: 10px 0;
		}
.arFloorHead
		{
			float: left;
			width: 100%;
		}
.arFloorHead h4
		{
			font-weight: 300;
			width: 100%;
			text-transform: uppercase;
			margin: 10px 0;
		}
.arFloorScrollWrap
		{
			float: left;
			width: calc(100% - 25px);
			height: 310px;
			overflow-x: auto;
		}
.arFloorList
		{
			float: left;
			width: 100%;
		}
.arFloorList li
		{
			float: left;
			width: 13.4%;
			min-width: 138px;
			padding: 1%;
			margin-right: 1%;
			margin-bottom: 10px;
			height: 118px;
			border: 1px solid #989898;
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			background-color: #fff;
			position: relative;
		}
/*.arFloorList li:nth-child(6n)
		{
			margin-right:0;
		}*/
.arFloorList li .floorListText1
		{
			width: 50%;
			float: left;
			font-size: 14px;
			color: #676767;
			text-transform: uppercase;
		}
.arFloorList li .floorListText2
		{
			width: 50%;
			float: left;
			font-size: 33px;
			color: #eb6c76;
			font-weight: 700;
		}
.arFloorList li .floorListTopRight
		{
			float: right;
			width: 50%;
			min-height: 40px;
		}
.floorListTopRight .flTitile1
		{
			float: right;
			color: #222222;
			font-size: 9px;
			padding: 5px;
			border: 1px solid #A8B6C6;
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			margin-bottom: 3px;
			text-transform: uppercase;
		}
.floorListCustomerName
		{
			font-size: 14px;
			color: #222222;
			margin-top: 10px;
		}
.arFloorList li .floorListSilver
		{
			float: left;
			padding: 4px 10px;
			margin-top: 5px;
			color: #fff;
			text-transform: uppercase;
			font-size: 11px;
			background-color: #989898;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
.arFloorList li .floorListGold
		{
			float: left;
			padding: 4px 10px;
			margin-top: 5px;
			color: #fff;
			text-transform: uppercase;
			font-size: 11px;
			background-color: #D3B02A;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
.arFloorList li .floorListBotomIcon
		{
			float: left;
			width: 31px;
			height: 31px;
			position: absolute;
			bottom: 10px;
			right: 10px;
			background-repeat: no-repeat;
			background-position: center center;
		}
.roomBlockedIcon
		{
			background-image: url("../images/icons/rooms/Blocked.png");
		}
.roomDirtyIcon
		{
			background-image: url("../images/icons/rooms/Dirty.png");
		}
.floorRightNav
		{
			float: right;
			width: 20px;
			margin-top: 20px;
		}
.floorRightNav li
		{
			float: left;
			padding: 2px 4px;
			margin-bottom: 10px;
			clear: both;
			border-radius: 5px;
			cursor: pointer;
			width: 12px;
			text-align: center;
		}
.floorRightNav li.active, .floorRightNav li:hover
		{
			background-color: #222222;
			color: #fff;
		}
.roomDetailTopWrap
		{
			float: left;
			width: 100%;
			background-color: #fff;
		}
.roomDetailTopWrap2
		{
			float: left;
			width: 100%;
		}
.rdRoomNoWrap
		{
			float: left;
		}
.rdRoomNoWrap span.roomType
		{
			color: #222222;
			text-transform: uppercase;
			float: left;
			margin-top: 50px;
		}
.rdRoomNoWrap span.roomNumber
		{
			float: left;
			color: #6a659e;
			font-weight: 700;
			font-size: 61px;
		}
.roomDetailTopWrap2 .topSearchWrap
		{
			margin-top: 30px;
		}
.rdRoomControlWrap
		{
			float: left;
			width: 100%;
			margin-top: 20px;
		}
.rdRoomCtrlList
		{
			float: right;
		}
.rdRoomCtrlList li
		{
			float: left;
			padding: 10px 15px;
			margin-right: 10px;
			border-radius: 5px;
			background-color: #6A659E;
			color: #fff;
			cursor: pointer;
		}
.rdCustomerDetailWrap
		{
			float: left;
			width: 100%;
			margin-top: 10px;
			border-bottom: 1px solid #ccc;
			margin-bottom: 20px;
			padding-bottom: 20px;
		}
.rdCustomerDetailWrap h4
		{
			float: left;
			width: 100%;
			color: #222222;
			font-size: 24px;
			font-weight: 700;
			margin-bottom: 10px;
		}
.rdCustProfileWrap
		{
			float: left;
			width: 240px;
			height: 300px;
			border: 10px solid #fff;
		}
.rdCustProfileWrap img
		{
			float: left;
			width: 100%;
			height: 100%;
		}
.rdCustProfileRight
		{
			float: left;
			width: calc(96% - 260px);
			margin-left: 4%;
		}
.rdCustInfoList
		{
			float: left;
			width: 100%;
		}
.rdCustInfoList > li
		{
			float: left;
			width: 45%;
			margin-right: 2%;
			min-height: 300px;
		}
.rdCustInfoList > li:nth-child(2)
		{
			border-left: 1px solid #ccc;
			padding-left: 2%;
		}
.rdCustInfoInnerList
		{
			float: left;
			width: 100%;
		}
.rdCustInfoInnerList li
		{
			float: left;
			width: 90%;
			padding: 10px 5%;
			border-bottom: 1px solid #ccc;
		}
.rdCustInfoInnerList li p
		{
			float: left;
			width: 100%;
			color: #676767;
			font-size: 12px;
			margin-bottom: 5px;
		}
.rdCustInfoInnerList li span
		{
			float: left;
			width: 100%;
			font-size: 16px;
			color: #222222;
		}
.rdUserMoreInfoWrap
		{
			float: left;
			width: 100%;
			padding: 10px 0;
		}
.rdUserMoreInfoWrap h3
		{
			font-weight: 300;
		}
.rdUserInfoListMain
		{
			float: left;
			width: 100%;
			margin: 10px 0;
		}
.rdUserInfoListMain > li
		{
			float: left;
			width: 100%;
			border-bottom: 1px solid #ccc;
			background-color: #fff;
		}
.rdUserInfoListMain > li div
		{
			border-color: #ccc;
			font-size: 16px;
		}
.rdUserInfoListMain > li:first-child
		{
			background-color: #D7EDF5;
		}
.rdUserInfoListMain > li:first-child div
		{
			color: #676767;
			font-size: 14px;
			line-height: 24px;
			cursor: pointer;
		}
.rdUserInfoListMain > li .rdInfoID
		{
			color: #007aff;
		}
.rdUserInfoListMain > li div span.drop
		{
			display: inline-block;
			width: 15px;
			height: 8px;
			background-image: url("../images/icons/Dropdown-Thin-Grey.png");
		}
.innerStatusCustom
		{
			width: calc(11% - 1px);
		}
.rdProgressMain
		{
			float: left;
			width: 100%;
		}
.rdTimeProgressBar
		{
			float: left;
			width: 100%;
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			height: 5px;
			margin-top: 5px;
			background-color: #EEEDEE;
		}
.rdTimeProgressBar span
		{
			float: left;
			width: 30%;
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			background-color: #84C444;
			height: 5px;
		}
.rdProgressMain span
		{
			font-size: 10px;
			color: #222222;
		}
.rdFeedbackWrap
		{
			float: left;
			width: 100%;
			color: #222222;
			font-size: 16px;
		}
.rdFeedbackWrap span
		{
			float: left;
			width: 22px;
			height: 22px;
			background-position: center center;
			background-repeat: no-repeat;
			margin-right: 3px;
		}
.rdFeedbackWrap .greenStar
		{
			background-image: url("../images/icons/rooms/StarGreen.png");
		}
.rdFeedbackWrap .redStar
		{
			background-image: url("../images/icons/rooms/StarRed.png");
		}
.rdFeedbackWrap .greenClock
		{
			background-image: url("../images/icons/rooms/ClockGreen.png");
		}
.rdFeedbackWrap .redClock
		{
			background-image: url("../images/icons/rooms/ClockRed.png");
		}
/*change room CSS start*/
.crMainLeft
		{
			float: left;
			width: calc(99% - 20px);
			margin-top: 10px;
			margin-right: 1%;
		}
.crTopFilterList
		{
			float: left;
			width: 100%;
			margin-bottom: 20px;
		}
.crTopFilterList li
		{
			float: left;
			width: 150px;
			margin-right: 10px;
		}
.crTopFilterList li .defaultDrop
		{
			background-color: #fff;
			margin-top: 0;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
.crTopFilterList li .defaultDrop select
		{
			padding: 10px;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-color: #989898;
			color: #989898;
		}
.crTopFilterList li .defaultDrop span
		{
			top: 14px;
		}
.crRightTopTab
		{
			float: left;
		}
.crMainLeft .halfWrap
		{
			width: 49%;
		}
.crMainLeft > div.halfWrap:first-child
		{
			width: 45%;
			margin-right: 2%;
		}
.crMainLeft > div.halfWrap:last-child
		{
			width: 53%;
		}
.crTopSecondTabWrap
		{
			float: left;
			width: 100%;
			min-height: 50px;
		}
.crArrivalMain
		{
			float: left;
			width: 96%;
			margin-bottom: 20px;
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;	
			background-color: #fff;
			padding: 2%;
		}
.crArrivalList
		{
			float: left;
			width: 100%;
		}
.crArrivalList li
		{
			float: left;
			width: 46%;
			padding: 2%;
			border-bottom: 1px solid #ccc;
		}
.crArrivalList li:nth-child(3), .crArrivalList li:nth-child(4)
		{
			border: none;
		}
.crArrivalList li .aHeading
		{
			float: left;
			width: 100%;
			color: #676767;
			font-size: 12px;
			text-transform: uppercase;
		}
.crArrivalList li .aText
		{
			float: left;
			width: 100%;
			color: #222222;
			font-size: 24px;
			font-weight: 700;
			margin-top: 10px;
			margin-bottom: 5px;
		}
.crArrivalList li .aText.red
		{
			color: #EB6C76;
		}
.crStandaredCircleTab
		{
			float: left;
			width: 100%;
			margin: 10px 0;
		}
.crStandaredCircleTab li
		{
			float: left;
			margin-right: 10px;
			padding: 6px 10px;
			margin-bottom: 5px;
			border: 1px solid #989898;
			font-size: 12px;
			border-radius: 20px;
			-moz-border-radius: 20px;
			-webkit-border-radius: 20px;
			cursor: pointer;
		}
.crStandaredCircleTab li.active, .crStandaredCircleTab li:hover
		{
			background-color: #6A659E;
			color: #fff;
		}
.crStandaredCircleTab li:last-child
		{
			margin: 0;
		}
.crDefaultRedBtn
		{
			float: left;
			background-color: #EB6C76;
			color: #fff;
			padding: 8px 20px;
			margin: 5px 10px;
			font-size: 13px;
			text-transform: uppercase;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			cursor: pointer;
		}
.crDefaultRedBtnCenter
		{
			text-align: center;
		}
.crDefaultRedBtnCenter .crDefaultRedBtn
		{
			display: inline-block;
			float: none !important;
		}
.crAllocateList
		{
			float: left;
			width: 100%;
			margin: 10px 0;
			height: 400px;
			overflow-x: auto;
		}
.crAllocateList li
		{
			float: left;
			width: 96%;
			margin: 0 2% 10px 2%;
		}
.crDefaultDualBtnMain
		{
			float: left;
			width: 100%;
			position: relative;
			height: 60px;
		}
.crDefaultDualBtn
		{
			position: absolute;
			top: 0;
			float: left;
			width: 80%;
			padding: 8px;
			height: 44px;
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			border: 1px solid #A8B6C6;
			background-color: #fff;
		}
.crDefaultDualBtn.right
		{
			right: 0;
		}
.crDefaultDualBtn .dualBtnInnerMain
		{
			float: left;
			width: 100%;
		}
.dualBtnInnerMain .hotelLogo
		{
			float: left;
			width: 11px;
			height: 13px;
			background-image: url("../images/icons/rooms/Logo.png");
			background-repeat: no-repeat;
			background-position: center center;
		}
.dualBtnInnerMain .userIdName
		{
			float: left;
			margin: 0 0 0 8px;
			color: #222222;
			font-size: 12px;
			line-height: 12px;
		}
.dualBtnInnerMain .userIdName b
		{
			font-weight: 700;
		}
.dualBtnInnerMain .hotelNightIcon
		{
			float: right;
			font-size: 10px;
			color: #222222;
		}
.dualBtnInnerMain .hotelNightIcon span
		{
			float: left;
			width: 10px;
			height: 10px;
			background-image: url("../images/icons/rooms/Nights.png");
			background-repeat: no-repeat;
			background-position: center center;
			margin-right: 5px;
		}
.dualBtnInnerMain1
		{
			margin-bottom: 15px;
		}
.dualBtnInnerMain .inHotelType
		{
			float: right;
			text-transform: uppercase;
			font-size: 10px;
			color: #222222;
		}

.crStandaredCircleTab2
		{
			width: 250px;
			margin: 4px 0;
		}
.hotelChangeMainWrap
		{
			width: 100%;
			float: left;
			background-color: #fff;
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			overflow: hidden;
		}
.hotelChangeScroll
		{
			float: left;
			width: 100%;
			height: 470px;
			overflow: auto;
			position: relative;
		}
.hotelChangeRow
		{
			float: left;
			width: 100%;
			position: relative;
			border-bottom: 1px solid #ccc;
		}
.hotelChangeRow.head .hotelChangeCol li
		{
			height: 35px;
		}
.hotelChangeCol li:last-child
		{
			width: 115px;
		}
.hotelChangeCol
		{
			float: left;
			width: 100%;
		}
.hotelChangeCol li
		{
			float: left;
			width: 140px;
			padding: 15px 10px;
			height: 40px;
			border-right: 1px solid #ccc;
		}
.hotelChangeCol li:first-child
		{
			width: 60px;
			color: #676767;
			font-size: 13px;
		}
.hotelChangeCol li:last-child
		{
			border-right: none;
		}
.hotelChangeCol li.darkHead
		{
			background-color: #B7E2F3;
		}
.hotelChangeCol li.head
		{
			background-color: #D5EBF4;
		}
.hotelChangeCol li .date
		{
			float: left;
			width: 100%;
			color: #676767;
			font-size: 14px;
		}
.hotelChangeCol li .day
		{
			float: left;
			width: 100%;
			color: #676767;
			font-size: 11px;
			text-transform: uppercase;
		}
.hotelCardRightCount
		{
			float: left;
			width: 33px;
			position: absolute;
			top: 72px;
			right: 0px;
		}
.hotelCardRightCount > li
		{
			width: 100%;
			height: 60px;
			margin-bottom: 11px;
			font-size: 12px;
			text-align: center;
			font-weight: 700;
		}
.hotelCardRightCount > li span
		{
			float: left;
			width: 100%;
			margin-top: 20px;
			color: #676767;
		}

.crfloorRightNav
		{
			margin-top: 200px;
		}
.hotelChangeInnerCol
		{
			position: absolute;
			margin-left: 20%;
			width: 80%;
		}
.hotelChangeInnerCol li
		{
			width: 170px !important;
			padding: 5px;
			height: 60px;
		}
.crDefaultDualBtnOver
		{
			width: 200px !important;
		}
.hotelChangeInnerCol li:first-child
		{
			width: 180px !important;
		}
.crDefaultDualBtnFull .crDefaultDualBtn
		{
			width:calc(100% - 16px);
			border: none;
		}
.crDefaultDualBtn.grey
		{
			background-color: #EEEDEE;
		}
.crDefaultDualBtn.lightYellow
		{
			background-color: #E1EDC0;
			width: 78%;
		}
.crDefaultDualBtn.lightGreen
		{
			background-color: #B3C9B8;
			width: 78%;
		}
.dualBtnTimeIcon
		{
			float: right;
			width: 15px;
		}
.dualBtnTimeIcon .earlyIcon, .dualBtnTimeIcon .upgradeIcon
		{
			float: left;
			width: 15px;
			height: 15px;
			background-repeat: no-repeat;
			background-position: center center;
			margin-bottom: 3px;
		}
.dualBtnTimeIcon .earlyIcon.red
		{
			background-image: url("../images/icons/rooms/EarlyRed.png");
		}
.dualBtnTimeIcon .earlyIcon.black
		{
			background-image: url("../images/icons/rooms/EarlyBlack.png");
		}
.dualBtnTimeIcon .upgradeIcon.red
		{
			background-image: url("../images/icons/rooms/UpgradeRed.png");
		}
.dualBtnTimeIcon .upgradeIcon.black
		{
			background-image: url("../images/icons/rooms/UpgradeBlack.png");
		}
.dualBtnWhiteTime
		{

			float: left;
			padding: 1px 5px;
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			border: 1px solid #A8B6C6;
			font-size: 10px;
			background-color: #fff;
			line-height: 12px;
		}
.dualBtnInnerMain .halfWrap
		{
			min-height: 10px;
		}
.roomPopup1
		{
			width: 400px;
			height: 200px;	
		}
.roomChangeStatusText
		{
			float: left;
			width: 100%;
			text-align: center;
			font-size: 16px;
			padding: 20px 0;
			color: #676767;
			border-bottom: 1px solid #ccc;
			margin-bottom: 10px;
		}
.roomPopup2
		{
			width: 700px;
			height: 500px;
		}
.ursSearchMid
		{
			width: 340px;
			margin: auto;
		}
.urscalMain
		{
			float: left;
			width: 100%;
		}
.urscalMain .halfWrap
		{
			width: 49%;
		}
.urscalMain > .halfWrap:first-child
		{
			margin-right: calc(2% - 1px);
			border-right: 1px solid #ccc;
		}
.ursCalenderWrap
		{
			width: 98%;
			float: left;
			margin-right: 2%;
		}
.ursCalenderHeader
		{
			text-align: center;
			width: 100%;
			float: left;
		}
.ursCalMonthDate
		{
			display: inline-block;
			color: #6a659e;
			font-size: 18px;
			margin: 0 10px;
		}
.ursCalArrow
		{
			width: 10px;
			height: 17px;
			display: inline-block;
			background-repeat: no-repeat;
			background-position: center center;
			cursor: pointer;
			padding: 0 5px;
		}
.ursCalArrow.ursCalArrowLeft
		{
			background-image: url("../images/icons/rooms/LeftArrowGrey.png");
		}
.ursCalArrow.ursCalArrowRight
		{
			background-image: url("../images/icons/rooms/RightArrowGrey.png");
		}
.ursCalenderContainer, .ursCalenderDayList, .ursCalenderDateList
		{
			float: left;
			width: 100%;
		}
.ursCalenderDayList
		{
			margin: 10px 0;
		}
.ursCalenderDayList li
		{
			float: left;
			color: #6a659e;
			font-size: 11px;
			text-transform: uppercase;
			padding: 3px 11px;
		}
.ursCalenderDateList li
		{
			float: left;
			min-height: 20px;
			padding: 2px 6px;
			width: 20px;
			margin: 0 6px 10px 6px;
			background-color: #fff;
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			font-size: 15px;
			color: #676767;
			border: 1px solid #A8B6C6;
			cursor: pointer;
		}
.ursCalenderDateList li:nth-child(7n)
		{
			margin-right: 0;
		}
.ursCalenderDateList li.occupied
		{
			background-color: #EB6C76;
			color: #fff;
			border-color: #EB6C76;
		}
.ursCalenderDateList li.blocked
		{
			background-color: #EFC41C;
			color: #fff;
			border-color: #EFC41C;
		}
.ursCalenderDateList li.blank
		{
			background-color: transparent;
			border-color: transparent;
		}
.ursCalenderDateList li.marked
		{
			-webkit-box-shadow: 0px 0px 0px 3px rgba(106,101,158,1);
			-moz-box-shadow: 0px 0px 0px 3px rgba(106,101,158,1);
			box-shadow: 0px 0px 0px 3px rgba(106,101,158,1);
			border-color: #fff;
		}
.ursRightWrap
		{
			float: left;
			width: 100%;
			margin-top: 60px;
		}
.ursRightWrap > .halfWrap
		{
			width: 49%;
		}
.ursRightWrap > .halfWrap:first-child
		{
			margin-right: 2%;
		}
.ursRightWrap label
		{
			float: left;
			margin-left: 10px;
			font-size: 14px;
			color: #676767;
		}
.ursRightWrap .defaultDrop select
		{
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
.ursRightWrap .defaultDrop
		{
			background-color: #fff;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
.ursHelpWrap
		{
			margin-top: 15px;
		}
.ursHelpWrap, .ursHelpWrap li
		{
			float: left;
		}
.ursHelpWrap li
		{
			margin-right: 10px;
			float: left;
			font-size: 12px;
			color: #676767;
		}
.ursHelpWrap li span
		{
			float: left;
			width: 15px;
			height: 15px;
			border: 1px solid #A8B6C6;
			margin-right: 5px;
			line-height: 16px;
		}
.ursHelpWrap li.occu span
		{
			background-color: #EB6C76;
			border-color: #EB6C76;
		}
.ursHelpWrap li.block span
		{
			background-color: #EFC41C;
			border-color: #EFC41C;
		}
.roomPopup3
		{
			width: 850px;
			height: 600px;
		}
.popupSearchRight
		{
			float: right;
			position: absolute;
			top: 10px;
			right: 15px;
			width: 190px;
		}
.popupSearchRight input[type="text"]
		{
			padding: 2px 10px 3px 10px;
		}
.popupSearchRight .searchButton
		{
			height: 35px;
		}
.popup3MonthNav
		{
			float: left;
			position: absolute;
			top: 20px;
			left: 15px;
		}
.popup3LeftWrap
		{
			float: left;
			width: calc(99% - 20px);
			margin-right: 1%;
		}
.popup3MonthMain
		{
			float: left;
			width: 1100px;
			margin-top: 10px;
		}
.popup3MonthRow
		{
			float: left;
			width: 100%;
			border-bottom: 1px solid #ccc;
		}
.popup3MonthColWrap
		{
			float: left;
			width: 100%;
		}
.popup3MonthColWrap li
		{
			float: left;
			padding: 10px 0;
			text-align: center;
			border-right: 1px solid #ccc;
			min-height: 36px;
			width: 35px;
		}
.popup3MonthColWrap li:first-child
		{
			width: 80px;
			text-align: left;
		}
.popup3MonthColWrap li:last-child
		{
			border: none;
		}
.popup3MonthColWrap li .date
		{
			float: left;
			width: 100%;
			color: #676767;
			font-size: 12px;
			margin-bottom: 4px;
		}
.popup3MonthColWrap li .day
		{
			float: left;
			width: 100%;
			color: #676767;
			font-size: 12px;
			text-transform: uppercase;
		}
.popup3MonthColWrap li .roomNo
		{
			float: left;
			width: 100%;
			color: #676767;
			font-size: 14px;
			text-transform: uppercase;
		}
.popup3MonthScroll
		{
			float: left;
			width: 100%;
			height: 500px;
			overflow: auto;
		}
.roomPopup3 .arTopHeader
		{
			border: none;
		}
.popup3MonthColWrap li.occu
		{
			background-color: #EB6C76;
		}
.popup3MonthColWrap li.block
		{
			background-color: #EFC41C;
		}
.popup3RoomCount
		{
			margin-top: 105px;
		}
.roomPopup4
		{
			width: 350px;
			height: 450px;
		}
.popupDiscountList
		{
			float: left;
			width: 100%;
			margin-bottom: 10px;
		}
.popupDiscountList li
		{
			float: left;
			width: 100%;
			padding: 10px 0;
			border-bottom: 1px solid #ccc;
		}
.popupDiscountList li input
		{
			float: right;
			width: 40px;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			color: #222222;
			text-align: center;
			font-size: 16px;
		}
.popupDiscountList li label, .popupDiscountList li span
		{
			float: left;
			margin-top: 6px;
			color: #222222;
			font-size: 16px;
		}
.popupDiscountList li span
		{
			float: right;
			width: 40px;
			min-height: 24px;
		}
.roomPopup5
		{
			width: 300px;
			height: 200px;
		}
.passwordAuth
		{
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			color: #222222;
			font-size: 16px;
			padding: 8px 10px
		}

