.sectionHeader
		{
			float: left;
			width: 96%;
			color: #fff;
			padding: 2px 2%;
			background-color: #172E55;
			cursor: pointer;
		}
.sectionHeader h3
		{
			padding: 4px 0;
		}
.sectionHeader .sectionRightInfo
		{
			float: right;
			font-size: 21px;
			font-weight: 700;
			color: #fff;
			padding: 4px 0;
			text-transform: uppercase;
			cursor: pointer;
		}
.sectionHeader .sectionRightInfo span
		{
			float: left;
			width: 20px;
			height: 20px;
			background-image: url("../images/icons/Down-White.png");
			background-position: center center;
			background-repeat: no-repeat;
			margin-right: 5px;
			margin-top: 5px;
		}
.quickLink
		{
			background-color: #D7EDF5;
			color: #676767;
		}
.sectionContainer
		{
			float: left;
			width: 92%;
			padding: 4%;
			background-color: #fff;
			color: #676767;
		}
.innerDropMain
		{
			width: 96%;
			padding: 5px 2%;
		}
.quickLinkList
		{
			width: 80%;
			float: left;
			padding: 0 10%;
		}
.quickLinkList li
		{
			float: left;
			width: 50%;
			margin-bottom: 15px;
			text-transform: uppercase;
		}
.quickLinkList li a
		{
			float: left;
			color: #6B98D0;
			font-weight: 700;
			font-size: 18px;
		}
.quickLinkList li span
		{
			float: left;
			width: 22px;
			height: 22px;
			margin-right: 10px;
		}
.quickLinkList li span.active
		{
			background-image: url("../images/icons/Tick-Blue.png");
			background-repeat: no-repeat;
			background-position: center center;
		}
.sectionDetailList
		{
			float: left;
			width: 50%;
		}
.sectionDetailList > li
		{
			float: left;
			width: 96%;
			margin-right: 4%;
			color: #676767;
			margin-bottom: 10px;
		}
.detailTitle
		{
			float: left;
			width: 100%;
			font-size: 12px;
			font-weight: 400;
			margin-bottom: 5px;
			color: #7a5fa5;
		}
.sectionDetailList li .detailText
		{
			float: left;
			width: 100%;
			font-size: 16px;
			font-weight: 400;
			min-height: 70px;
			max-width: 500px;
			color: #222222;
		}
.sectionDetailList li .detailText input
		{
			width: 100%;
			font-size: 16px;
			font-weight: 400;
			color: #222222;
		}
.sectionDetailList li .detailText textarea
		{
			font-size: 16px;
			font-weight: 400;
			color: #222222;	
		}
.detailPhotoWrap
		{
			float: left;
			width: 100%;
			margin-top: 5px;
		}
.detailPhotoWrap li
		{
			float: left;
			width: 70px;
			height: 70px;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			background-color: #6A659E;
			margin-right: 20px;
			position: relative;
			margin-bottom: 10px;
		}
.detailPhotoWrap li img
		{
			float: left;
			width: 100%;
			height: 100%;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
.detailPhotoWrap li span
		{
			float: left;
			width: 22px;
			height: 22px;
			background-image: url("../images/icons/Tick-Green.png");
			background-repeat: no-repeat;
			background-size: 90%;
			background-position: center center;
			position: absolute;
			background-color: #fff;
			bottom: 5px;
			left: 5px;
		}
.checkOutIn
		{
			float: left;
			width: 120px;
			margin-right: 10px;
		}
.awardList
		{
			float: left;
			width: 100%;
		}
.awardList li
		{
			float: left;
			width: calc(21% - 1px);
			padding: 2% 2% 0 2%;
			text-align: center;
			border-right: 1px solid #F0F0F0;
		}
.awardList li:last-child
		{
			border: none;
		}
.awardList li .moveBtn
		{
			float: right;
			width: 26px;
			height: 19px;
			cursor: move;
			background-image: url("../images/icons/Move.png");
			background-position: center;
			background-repeat: no-repeat;
		}
.awardList li .imageWrap
		{
			display: inline-block;
			width: 70px;
			height: 70px;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			position: relative;
		}
.awardList li .imageWrap img
		{
			float: left;
			width: 100%;
			height: 100%;
		}
.awardList li > p
		{
			width: 80%;
			float: left;
			margin: 5px 10%;
			min-height: 35px;
		}
.awardList li .year
		{
			font-weight: 700;
			min-height: 10px;
		}
.addAwardButton
		{
			margin: auto;
			width: 50px;
			height: 50px;
			padding: 10px;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border: 1px solid #ccc;
			cursor: pointer;
			font-size: 12px;
		}
.addAwardButton p
		{
			float: left;
			width: 100%;
			margin: 1px 0 !important;
			text-align: left;
			font-size: 12px !important
		}
.secInnerDropDown
		{
			float: left;
			width: 100%;
		}
.secInnerDropDown > li
		{
			float: left;
			width: 100%;
			margin-bottom: 5px;
		}
.secInnerDropHeader
		{
			float: left;
			width: 96%;
			padding: 5px 2%;
			background-color: #D7EDF5;	
			cursor: pointer;
			min-height: 30px;
		}
.secInnerDropDown li h4
		{
			line-height: 28px;
		}
.secInnerDropDown li .sectionEditButton, .secInnerDropDown li .cancelButtonDefault, .secInnerDropDown li .saveButtonDefault
		{
			margin: 0 25px;
			height: 20px;
			padding: 5px 10px;
		}
/*.secInnerDropDown li .sectionEditButton span
		{
			width: 18px;
			height: 18px;
			background-size: 100%;
		}*/
.innerDropArrow
		{
			float: right;
			width: 20px;
			height: 20px;
			background-image: url("../images/icons/Down-Arrow-Grey.png");
			background-repeat: no-repeat;
			background-position: center center;
			cursor: pointer;
			padding: 4px;
		}
.innerEditMain
		{
			float: left;
			width: 100%;
			margin-bottom: 5px;
		}
.innerEditMain .sectionEditButton
		{
			margin: 2px;
		}
.innerDropContainer
		{
			float: left;
			width: calc(96% - 2px);
			padding: 0 2%;
			border: 1px solid #F0F0F0;
		}
.innerDropList
		{
			float: left;
			width: calc(100% - 2px);
			border-right: 1px solid #F0F0F0;
			border-left: 1px solid #F0F0F0;
		}
.innerDropList li
		{
			width: 96%;
			padding: 0px 2%;
			font-size: 16px;
			float: left;
			border-bottom: 1px solid #F0F0F0;
		}
.innerDropList li.header
		{
			font-weight: 700;
			background-color: #D6ECF5;
		}
.innerDropList li .sec1
		{
			width: 30%;
			float: left;
			padding: 5px 0;
		}
.innerDropList li .sec2
		{
			float: left;
			width: calc(66% - 1px);
			padding: 5px 2%;
			border-left: 1px solid #F0F0F0;
		}

/*second tab css start*/
.fmQuickLeft
		{
			float: left;
			width: 20%;
			padding: 0 1%;
			margin-right: 2%;
			background-color: #fff;
			min-height: 250px;
		}
.fmQuickRight
		{
			background-color: #fff;
			width: 76%;
			min-height: 250px;
		}
.fmQuickList
		{
			float: left;
			width: 80%;
			padding: 0 10%;
		}
.fmQuickList li
		{
			float: left;
			width: 100%;
			padding: 10px 0;
			font-weight: 700;
			font-size: 18px;
			text-align: center;
			text-transform: uppercase;
			border-bottom: 1px solid #F0F0F0;
		}
.fmQuickList li:last-child
		{
			border: none;
		}
.fmQuickRight .sectionContainer
		{
			padding: 15px 4%;
		}
.fmQuickList li a
		{
			width: 100%;
			float: left;
			
		}
.fmQuickLeftTitle
		{
			float: left;
			width: 100%;
			text-transform: uppercase;
			font-size: 18px;
			font-weight: 700;
			text-align: center;
			margin-top: 70px;
		}
.fmQuickLeftCount
		{
			float: left;
			width: 100%;
			text-align: center;
			font-weight: 700;
			font-size: 52px;
			margin-top: 30px;
		}
.stdMainWrap
		{
			float: left;
			width: 80%;
			padding: 30px 10%;
		}
.stdMainWrap .stdHalfList > li p
		{
			margin-top: 5px;
			margin-bottom: 4px;
			width: 100%;
			float: left;
			font-size: 16px;
			color: #222222;
		}
.stdHalfList
		{
			float: left;
			width: 100%;
		}
.stdHalfList > li
		{
			float: left;
			width: 40%;
			margin-right: 20%;
			margin-bottom: 20px;
			min-height: 58px;
		}
.stdHalfList > li:nth-child(2n)
		{
			margin-right: 0;
		}
.stdHalfList li input
		{
			margin-top: 6px;
			font-size: 16px;
		}
/*.stdHalfList li label, .stdHalfList li input
		{
			width: 100%;
			float: left;
			font-size: 16px;
		}
.stdHalfList li input
		{
			width: calc(100% - 20px);
			border: 1px solid #ccc;
			margin-top: 5px;
			padding: 5px 10px;
		}*/
.stdHalfList li .halfWrap
		{
			width: 46%;
		}
.stdHalfList li .halfWrap:nth-child(2)
		{
			margin-left: 8%;

		}
.roomPhotoWrap
		{
			float: left;
			width: 100%;
			margin: 20px 0;
		}
.crossIcon
		{
			float: left;
			width: 20px;
			height: 20px;
			background-color: #EB1F45;
			position: absolute;
			top: -10px;
			right: -10px;
			color: #fff;
			text-align: center;
			line-height: 12px;
			cursor: pointer;
			background-image: url("../images/icons/Remove.png");
			background-size: 100%;
			background-position: center;
			background-repeat: no-repeat;
		}
.addRoomPhoto
		{
			background-color: #fff !important;
			/*margin-left: 15px;*/
			margin-right: 0 !important;
		}
.addRoomPhoto .addAwardButton
		{
			height: 48px;
		}
.roomPhotoWrap .detailPhotoWrap
		{
			margin: 10px 0;
		}
.roomList
		{
			margin-bottom: 20px ;
		}
.secInnerDark 
		{
			margin: 10px 0;
		}
.secInnerDark li .secInnerDropHeader.headerDrak
		{
			background-color: #6B98D0;
			color: #fff;
		}
.secInnerDark li .secInnerDropHeader.headerDrak .innerDropArrow
		{
			background-image: url("../images/icons/Down-White.png");
		}
.lightInnerList
		{
			float: left;
			width: 100%;
			padding-top: 2%;
		}
.lightInnerList li
		{
			float: left;
			width: 8%;
			height: 70px;
			padding: 0.5%;
			margin: 0.5%;
			background-color: #D6ECF5;
			text-align: center;
			max-width: 80px;
			min-width: 68px;
		}
.lightInnerList li .title1
		{
			float: left;
			width: 100%;
			font-size: 25px;
			color: #000;
		}
.lightInnerList li .title2
		{
			float: left;
			width: 100%;
			font-size: 16px;
			text-transform: uppercase;
		}
.roomAmen a
		{
			color: #676767;
		}
.amQuickList
		{
			width: 500px;
			margin: auto;
			float: none;
		}
.amQuickList li
		{
			width: 95%;
			padding: 10px 0 10px 5%;
			text-align: left;
		}
.amQuickList li .amQuickBig
		{
			float: left;
			width: 90%;
		}
.amQuickList li .amQuickSmall
		{
			float: left;
			width: 10%;
		}
.restuTopWrap
		{
			float: left;
			width: 100%;
			margin-top: 10px;
		}
.restuTopWrap li
		{
			float: left;
			margin-right: 30px;
			font-size: 16px;
			font-weight: 700;
			cursor: pointer;
		}
.restuTopWrap li span
		{
			float: right;
			margin-left: 10px;
		}
.restuTwoRow
		{
			width: 45%;
			float: left;
			min-height: 100px;
		}
.restuLeftRow
		{
			margin-right: 10%;
		}
.restuTwoRow .stdHalfList > li
		{
			width: 100%;
			margin-right: 0;
			min-height: 60px;
		}
.stdHalfList li textarea
		{
			float: left;
			width: calc(100% - 20px);
			resize: none;
			height: 120px;
			padding: 5px 10px;
			font-family: 'Gotham', Arial, sans-serif;
			font-weight: 300;
			margin-top: 5px;
			border: 1px solid #ccc;
		}
.directionList
		{
			float: left;
			width: 100%;
			border: 1px solid #F0F0F0;
			margin-top: 10px;
		}
.directionList li
		{
			float: left;
			width: 100%;
			font-size: 16px;
			border-bottom: 1px solid #F0F0F0;
		}
.directionList li:last-child
		{
			border:none;
		}
.directionList li:first-child
		{
			font-weight: 700;
			background-color: #D6ECF5;
		}
.directionList li .wrap1
		{
			float: left;
			width: calc(32% - 1px);
			padding: 10px 4%;
			border-right: 1px solid #F0F0F0;
		}
.directionList li .wrap2
		{
			float: left;
			width: 52%;
			padding: 10px 4%;
		}
.directionList li .innerDropAddWrap
		{
			margin-left: 4%;
		}
.msgLinkList
		{
			width: 100%;
			padding: 0;
		}
.msgLinkList li
		{
			width: 25%;
		}
/*fourth tab css start*/
/*.sysGenDrop li
		{
			margin-bottom: 0;
		}*/
.sysGenInnerList
		{
			float: left;
			width: 100%;
			border: 1px solid #F0F0F0;
		}
.sysGenInnerList li
		{
			float: left;
			width: 100%;
			font-size: 16px;
			line-height: 24px;
			border-bottom: 1px solid #F0F0F0;
		}
.sysGenInnerList li:first-child
		{
			font-weight: 700;
			background-color: #D6ECF5;
		}
.sysGenInnerList li:last-child
		{
			border: none;
		}
.sysGenInnerList li .innerColFour1
		{
			float: left;
			width: calc(8% - 1px);
			padding: 10px 1%;
			height: 20px;
			overflow: hidden;
			border-right: 1px solid #F0F0F0;
		}
.sysGenInnerList li .innerColFour2
		{
			float: left;
			width: calc(18% - 1px);
			padding: 10px 1%;
			border-right: 1px solid #F0F0F0;
			height: 20px;
			overflow: hidden;
		}
.sysGenInnerList li .innerColFour3
		{
			float: left;
			width: calc(28% - 1px);
			padding: 10px 1%;
			border-right: 1px solid #F0F0F0;
			height: 20px;
			overflow: hidden;
		}
.sysGenInnerList li .innerColFour4
		{
			float: left;
			width:38%;
			padding: 10px 1%;
			height: 20px;
			overflow: hidden;
		}
.sysGenInnerList li input
		{
			float: left;
		}
.sysGenListCheck
		{
			float: left;
			width: 20px;
			height: 20px;
			background-position: center center;
			background-repeat: no-repeat;
		}
.sysGenListCheck.active
		{
			background-image: url("../images/icons/Tick-Blue.png");
		}
.innerSendButton
		{
			float: left;
			font-weight: bold;
			text-transform: uppercase;
			text-decoration: underline;
			cursor: pointer;
		}
.innerSendButton span
		{
			float: left;
			width: 20px;
			height: 20px;
			background-image: url('../images/icons/Send.png');
			background-position: center center;
			background-repeat: no-repeat;
			margin-top: 3px;
			margin-right: 5px;
		}
.innerDropAddSpace
		{
			padding: 0px 1%;
		}
.adHocList li .innerColFour2
		{
			/*width: 18%;*/
			border: none;
		}
.adHocList li .innerColFour1
		{
			width: calc(8% - 1px);
			border-left: 1px solid #F0F0F0;
		}
/* 5th tab css start*/
.fmQuickLeft2
		{
			padding: 0;
			width: 22%;
		}
.menuLinkList
		{
			width: 100%;
			padding: 10px 0;
		}
.menuLinkList li
		{
			width: 33.33%;
		}
.menuCurrMain
		{
			margin: auto;
			width:120px;
			margin-top: 75px;
		}
.menuCurrMain .detailPhotoWrap
		{
			text-align: center;
			margin-top: 20px;
		}
.menuCurrMain .detailPhotoWrap li
		{
			float: none;
			display: inline-block;
			margin: 0;
		}
.menuInnerEditMain
		{
			margin-top: 20px;
		}
.menuInnerHeaderGreenCheck
		{
			float: left;
			width: 30px;
			height: 30px;
			margin: -5px 10px 0 10px;
			background-image: url("../images/icons/Tick-Green.png");
			background-position: center center;
			background-repeat: no-repeat;
		}
.menuInnerHeaderRedCross
		{
			float: left;
			width: 30px;
			height: 30px;
			margin: -2px 10px 0 10px;
			background-image: url("../images/icons/Cross-Red.png");
			background-position: center center;
			background-repeat: no-repeat;
			cursor: pointer;
		}
.sysGenInnerList .last
		{
			border: none;
		}
.innerThinHeading
		{
			font-weight: 300;
		}
.menuInnerTimeList
		{
			float: left;
			width: 100%;
			margin: 10px 0;
		}
.menuInnerTimeList li
		{
			float: left;
			font-size: 16px;
			line-height: 30px;
			margin-right: 30px;
			font-weight: 300;
			width: 300px;
		}
.menuInnerTimeList li strong
		{
			float: left;
			font-weight: 700;
			margin-right: 5px;
		}
.menuInnerTimeList li .menuInnerHeaderRedCross
		{
			margin: 0 10px;
		}
.menuAllChannelList
		{
			float: left;
			width: 100%;
		}
.menuAllChannelList li
		{
			float: left;
			margin: 20px;
			width: 185px;
			position: relative;
		}
.channelLogoWrap
		{
			float: left;
			width: 100%;
			height: 80px;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
.channelLogoWrap img
{
	float: left;
	width: 100%;
	height: 80px;
}
.channelNameWrap
		{
			float: left;
			width: 100%;
			margin-top: 10px;
			font-size: 16px;
		}
.channelNameWrap strong
		{
			float: right;
			font-weight: 700;
			width: 40px;
			text-align: right;
		}
.channelNameWrap strong input
		{
			text-align: right;
			font-weight: 700;
			font-size: 16px;
			color: #676767;
		}
.channelNameWrap span
		{
			float: left;
			width: calc(100% - 40px);
		}
.innerEditMain h3.innerThinHeading
		{
			width: 100%;
			min-height: 30px;
		}


/*popup css start*/
.tab1Popup1
		{
			width: 400px;
			height: 260px;
		}
.tab1PopupAddCatRule
		{
			width: 400px;
			height: 160px;
		}
.tab1PopupHouseRule
		{
			width: 400px;
			height: 160px;
		}
.awardControl
		{
			margin-top: 20px;
		}
.awardControl div
		{
			float: right;
		}
.awardControl .cancelButtonDefault
		{
			margin-right: 20px;
		}
/*popup 2 css start*/
.tab2Popup1
		{
			width: 500px;
			height: 500px;
		}
.editRoomsList
		{
			float: left;
			width: 100%;
		}
.editRoomsList li
		{
			float: left;
			width: 100%;
			padding: 5px 0 ;
			border-bottom: 1px solid #ccc;
		}
.editRoomsList li:last-child
{
	border-style: dashed; 
}
.editRoomsList li .editRemoveIcon
		{
			float: left;
			width: 25px;
			height: 25px;
			margin: 0 5px;
			background-image: url("../images/icons/Remove.png");
			background-repeat: no-repeat;
			background-position: center center;
		}
.editRoomsList li .editRoomCol
		{
			float: left;
			line-height: 24px;
			min-height: 20px;
			margin-right: 2%;
		}
.editRoomsList li .editRoomCol1
		{
			width: 10%;
		}
.editRoomsList li .editRoomCol2
		{
			width: 30%;
		}
.editRoomsList li .editRoomCol3
		{
			width: 44%;
		}
.editRoomsList li .editRoomCol4
		{
			width: 10%;
			margin-right: 0;
		}
.editRoomNumber
		{
			float: left;
			width: calc(80% - 2px);
			padding: 8px 10%;
			background-color: #fff;
			border: 1px solid #ccc;
			border-radius: 5px;
			-o-border-radius: 5px;
			-ms-border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			color: #676767;
		}
.editRoomCol3 .defaultDrop
		{
			margin-top: 0;
			background-color: #fff;
			border-radius: 5px;
		}
.editRoomCol3 .defaultDrop span
		{
			top: 12px;
		}
.editRoomCol3 .defaultDrop select
		{
			border-radius: 5px;
			-o-border-radius: 5px;
			-ms-border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			padding: 7px 10px;
			color: #676767;
		}
.editRoomMovIcon
		{
			float: left;
			width: 25px;
			height: 25px;
			background-image: url("../images/icons/Move.png");
			background-repeat: no-repeat;
			background-position: center center;
			padding: 5px;
			cursor: move;
		}
.editRoomCol2 .innerDropAddWrap
		{
			color: #676767;
		}
.editRoomScroll
		{
			float: left;
			width: 100%;
			height: 400px;
			overflow-y: auto;
		}
.tab2Popup2
		{
			max-width: 1100px;
			max-height: 520px;
			width: 80%;
			height: 80%;
		}
.tab2Popup2Scroll
		{
			width:100%;
			overflow: auto;
			max-height: 80%;
			min-height: 200px;
		}
.roomAmenListWrap
		{
			float: left;
			width: 100%;
			clear: both;
			border-bottom: 1px solid #ccc;
		}
.tab2Popup2Scroll > div.roomAmenListWrap:nth-child(2n + 3)
		{
			background-color: #D6ECF5;
		}
.roomAmenListLeftFix
		{
			float: left;
			width: 200px;
		}
.roomAmenListLeftFix .roomAmenListWrap
		{
			width: 100% !important;
		}
.roomAmenListLeftFix .roomAmenListWrap ul li
		{
			width: calc(100% - 40px) !important;
		}

.roomAmenInnerList
		{
			float: left;
			width: 100%;
		}

.roomchekbox.disabled
{
	background-color: #ebebeb;
	cursor: not-allowed;
}

.roomchekbox
{
	cursor: pointer;
}

.roomAmenInnerList li.roomchekbox span.active
		{
			background-image: url("../images/icons/Tick-Blue.png");
			background-repeat: no-repeat;
			background-position: center center;
			float: left;
			width: 22px;
			height: 22px;
			margin-left: 20px;
		}
.roomAmenInnerList li
		{
			float: left;
			width: 65px;
			padding: 10px 0;
			text-align: center;
			border-right: 1px solid #ccc;
			min-height: 19px;
			color: #7a5fa5;
			font-weight: 700;
			font-size: 16px;
		}
.roomAmenInnerList li.roomAmenFilterMain2
		{
			width: 160px;
			text-align: left;
			padding: 10px 20px;
		}
.roomAmenInnerList li .defaultDrop
		{
			margin-top: 0;
			background-color: #fff;
			border-radius: 5px;
			-o-border-radius: 5px;
			-ms-border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
.roomAmenFilterMain
		{
			padding: 6px 20px !important;
		}
.roomAmenInnerList li .defaultDrop select
		{
			border-radius: 5px;
			-o-border-radius: 5px;
			-ms-border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
.roomAmenEditButton
		{
			float: right;
			margin-top: 10px;
		}
.tab4Popup1
		{
			float: left;
			width: 90%;
			height: 500px;
		}
.editmsgList
{
	float: left;
	width: 100%;
	border-bottom: 1px dashed #6B98D0;
	padding-bottom: 10px;
	color: #676767;
}
.editmsgList > li
{
	float: left;
	width: 25%;
	border-right: 1px solid #ccc;
	padding: 0 1% 1% 1%;
}
.editmsgList > li:last-child
		{
			width: 16%;
			border: none;
		}
.editmsgInnerWrap
{
	float: left;
	width: 100%;
}
.editmsgInnerWrap label
{
	line-height: 34px;
	cursor: pointer;
}
.editmsgInnerHeading
{
	float: left;
	width: 100%;
	margin: 15px 0 5px 0;

}
.subjectLineEdit 
{
	float:left;
	width: 99%;
	position: relative;
}
.subjectLineEdit textarea
{
	float: left;
	width:96%;
	border: 1px solid #ccc;
	background-color: #fff;
	height:80px !important;
	margin-top: 10px;
	padding: 2% 2% 20px 2%;
	resize: none;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	line-height: 1.3;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Gotham', Arial, sans-serif;
	color: #676767;
}
.editmsgInnerWrap .customCheckBox
{
	margin-left: 0;
}
.editMsgTextCount 
		{
			float: left;
			position: absolute;
			bottom: 5px;
			right: 20px;
			font-weight: 300;
		}
.editMsgTextarea textarea
		{
			height: 120px;
		}
.editMsgDynList
		{
			float: left;
			width: 100%;
			margin-top: 20px;
		}
.editMsgDynList li
		{
			float: left;
			clear: both;
			padding: 5px 10px;
			border-radius: 5px;
			margin-bottom: 10px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			background-color: #D5D6D7;
			cursor: pointer;
		}
.editMsgAddHocList
		{
			float: left;
			width: 100%;
			border-bottom: 1px dashed #6B98D0;
			padding-bottom: 10px;
		}
.editMsgAddHocList > li
		{
			float: left;
			width: 45%;
			border-right: 1px solid #ccc;
			padding: 2%;
			min-height: 365px;
		}
.editMsgAddHocList li:last-child
		{
			border: none;
		}
.tab4Popup2
		{
			width: 600px;
			height: 550px;
			color: #676767;
		}
.tab4Popup3
		{
			float: left;
			width:1000px;
			height: 550px;
			color: #676767;
		}
.tab4Popup3 .editMsgAddHocList > li
		{
			width: 29%;
		}
.tab4Popup3 .editMsgAddHocList > li:nth-child(2)
			{
				width: 33%;
			}
.tab4Popup3 .editMsgAddHocList > li:nth-child(3)
			{
				width: 25%;
			}
.editMsgAddHocList li .fullWrap .halfWrap
		{
			width: 48% !important;
		}
.sentToRoomsList
		{
			float: left;
			width: 100%;
			margin: 15px 0;
		}
.sentToRoomsList li
		{
			float: left;
			padding: 5px;
			width: 45px;
			margin-right: 10px;
			background-color: #fff;
			margin-bottom: 10px;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			text-align: center;
		}
.sentToRoomsList li:nth-child(5n)
		{
			margin-right: 0px;
		}
.sentToRoomsList li.active
		{
			background-color: #6A659E;
			color: #fff;
		}
.recipientListWrap
		{
			float: left;
			width: 96%;
			padding: 3%;
			background-color: #fff;
			border: 1px solid #ccc;
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;			
			min-height: 325px;
		}
.recipientList
		{
			float: left;
			width: 100%;
			margin: 10px 0;
		}
.recipientList li
		{
			float: left;
			padding: 5px 12px;
			margin-right: 10px;
			background-color: #6A659E;
			color: #fff;
			margin-bottom: 10px;
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			text-align: center; 
		}
.tab5Popup1
		{
			width: 700px;
			height: 550px;
			color: #676767;
		}
.menuPopAddMain
		{
			float: left;
			width: 100%;
		}
.menuPopAddMain .defaultDrop select
		{
			padding: 7px 10px;rj
		}
.menuPopAddMain .halfWrap
		{
			width: 48%;
		}
.menuPopAddMain label
		{
			float: left;
			width: 100%;
			padding-bottom: 0;
		}
.menuPopAddMain input
		{
			float: left;
			width: 96%;
			padding: 8px 2%;
			background-color: #fff;
			border: 1px solid #ccc;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
.menuPopAddMain .customRadio 
		{
			margin-top: 3px;
		}
.menuPopAddMain .customCheckBox
		{
			margin-top: 3px;
		}
.meniRadioWrap
		{
			float: left;
			width: 100%;
			margin: 10px 0;
		}
.meniRadioWrap label, .meniRadioWrap input
		{
			width: auto !important;
		}
.meniRadioWrap input
		{
			margin-top: 5px;
		}
.meniRadioWrap label
		{
			margin-right: 20px;
			line-height: 20px;
			padding: 0;
			margin-top: 5px;
		}
.menuPopCol3List
		{
			float: left;
			width: 100%;
		}
.menuPopCol3List li
		{
			float: left;
			width: 31%;
			margin-right: 3.3%;
		}
.menuPopCol3List li:last-child
		{
			margin-right: 0;
		}
.accompanyingWrap
		{
			margin-top: 10px;
		}
.accompanyingWrap input
		{
			width: 80%;
		}
.accompanyingAddBtn
		{
			float: left;
			padding: 7px 3.6% 4px 3.6%;
			background-color: #676868;
			color: #fff;
			font-size: 16px;
			font-weight: 700;
			margin-left: 2%;
			cursor: pointer;
		}
.accompanyingLabelList
		{
			float: left;
			width: 100%;
			margin: 10px 0;
		}
.accompanyingLabelList li
		{
			float: left;
			width: calc(27% - 2px);
			margin-right: 3.5%;
			padding: 5px 2%;
			border: 1px solid #ccc;
			background-color: #fff;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			margin-bottom: 10px;
		}
.accompanyingLabelList li:nth-child(3n)
		{
			margin: 0;
		}
.accompanyingLabelList li span
		{
			width: 20px;
			height: 20px;
			float: right;
			text-align: center;
			font-size: 20px;
			line-height: 22px;
			border-radius: 90%;
			-moz-border-radius: 90%;
			-webkit-border-radius: 90%;
			background-color: #20232E;
			color: #fff;
			cursor: pointer;
		}
.menuPopDes
		{
			padding: 10px !important;
			width: calc(100% - 20px) !important;
			height: 75px !important;
		}
.menudetailPhotoWrap li
		{
			border: 5px solid #fff;
		}
.tab5Popup1 .roomPhotoWrap
		{
			margin: 0;
		}
.tab5Popup1 .editmsgInnerHeading
		{
			margin-top: 0;
		}
.menudetailPhotoWrap li:last-child
		{
			border: none;
			width: 80px;
			height: 80px;
		}
.menudetailPhotoWrap li:last-child .addAwardButton
		{
			width: 60px;
			height: 58px;
		}
.menuPopScrollWrap
		{
			float: left;
			width: 100%;
			height: 415px;
			overflow-x: auto;
		}
.tab5Popup1 .awardControl
		{
			margin-top: 10px;
			padding-top: 10px;
			border-top:1px dashed #6B98D0;
		}
.tab5Popup2
		{
			float: left;
			width: 400px;
			max-height: 320px;
			color: #676767;
		}
.channelNumberInput
		{
			float: left;
			width: 95%;
			padding: 6px 2%;
			background-color: #fff;
			border: 1px solid #ccc;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
.tab5Popup2Scroll
		{
			float: left;
			width: 100%;
			height: 150px;
			overflow-x: auto;
		}
.menuCurrMain .defaultDrop span
		{
			top: 6px;
		}
.innerEditMain.menuInnerEditMain
		{
			min-height: 32px;
		}
