.sideMenuMain
		{
			float: left;
			width: 100px;
			background-color: #172E55;
			height: calc(100vh - 60px);
			position: fixed;
			margin-top: 60px;
		}
aside
		{
			float: left;
			width: 100%;
			height: 100%;
		}
.sideMenuList
		{
			float: left;
			width: 100%;
			background-color: #172E55;
		}
.sideMenuList li
		{
			float: left;
			width: 100%;
			padding: 10px 0;
			border-bottom: 1px solid #2B3C55;
			text-align: center;
		}
.sideMenuList li a
		{
			float: left;
			width: 100%;
			height: 100%;
		}
.sideMenuList li i
		{
			display: inline-block;
			width: 33px;
			height: 32px;
			background-repeat: no-repeat;
			background-position: center center;
			position: relative;
		}
.sideMenuList li p
		{
			color: #6B98D0;
			float: left;
			width: 100%;
			font-size: 10px;
			text-transform: uppercase;
		}
.sideMenuList li.msg i span
		{
			float: left;
			width: 15px;
			height: 15px;
			color: #fff;
			position: absolute;
			top: -5px;
			right: -5px;
			border-radius: 90%;
			-moz-border-radius: 90%;
			-webkit-border-radius: 90%;
			background-color: #F84545;
		}
.sideMenuList li.active p
		{
			color: #fff;
		}
.sideMenuList li.room i
		{
			background-image: url("../images/icons/Rooms-Blue.png");
		}
.sideMenuList li.arr i
		{
			background-image: url("../images/icons/Arr&Dep-Blue.png");
		}
.sideMenuList li.req i
		{
			background-image: url("../images/icons/Reqeusts-Blue.png");
		}
.sideMenuList li.crew i
		{
			background-image: url("../images/icons/Crew-Blue.png");
		}
.sideMenuList li.invent i
		{
			background-image: url("../images/icons/Inventory-Blue.png");
		}
.sideMenuList li.deal i
		{
			background-image: url("../images/icons/Deals-Blue.png");
		}
.sideMenuList li.msg i
		{
			background-image: url("../images/icons/Messages-Blue.png");
		}
.sideMenuList li.sett i
		{
			background-image: url("../images/icons/Settings-Blue.png");
		}
.sideMenuList li.room.active i
		{
			background-image: url("../images/icons/Rooms-White.png");
		}
.sideMenuList li.arr.active i
		{
			background-image: url("../images/icons/Arr&Dep-White.png");
		}
.sideMenuList li.req.active i
		{
			background-image: url("../images/icons/Reqeusts-White.png");
		}
.sideMenuList li.crew.active i
		{
			background-image: url("../images/icons/Crew-White.png");
		}
.sideMenuList li.invent.active i
		{
			background-image: url("../images/icons/Inventory-White.png");
		}
.sideMenuList li.deal.active i
		{
			background-image: url("../images/icons/Deals-White.png");
		}
.sideMenuList li.msg.active i
		{
			background-image: url("../images/icons/Messages-White.png");
		}
.sideMenuList li.sett.active i
		{
			background-image: url("../images/icons/Settings-White.png");	
		}
