<section style="margin-top: 10px;">
			<div class="sectionWrap">
				<div class="sectionHeader quickLink">
					<h3>Quick Links</h3>
				</div>
				<div class="sectionContainer">
					<ul class="fmQuickList amQuickList">
						<li *ngFor="let amenity of amenities.getAmenityCat(); let i=index">
							<div class="amQuickBig"><a href="javascript:void(0)" (mousedown)="accord[i]=true" (click)="quickLinkScroll('accord' + i)" title="{{ amenity.name }}">{{ amenity.name }}</a></div>
							<div class="amQuickSmall">1</div>
						</li>
					</ul>
				</div>
			</div>
		</section>
		
		<section *ngFor="let amenityCat of amenities.getAmenityCat();let i=index">
			<div class="sectionWrap" id="accord{{ i }}">
				<div class="sectionHeader" (click)="accord[i]=accordClick(accord[i])">
					<h3>{{ amenityCat.reservationCategoryName }} ({{amenities.getAmenityByCat(amenityCat.reservationType).length}})</h3>
					<div class="sectionRightInfo">
						<span [ngClass]="accordClass(accord[i])"></span>
					</div>
				</div>
				<div class="sectionContainer innerDropMain" *ngIf="accord[i]">
					
					<ul class="secInnerDropDown">
						<li *ngFor="let amenity of amenities.getAmenityByCat(amenityCat.reservationType);let j=index">
							<form #amenityForm="ngForm" (ngSubmit)="$event.preventDefault();editStatus=amenityEdit['a'+j]=submitAmenityForm(amenityForm.valid)">
							<div class="secInnerDropHeader" (click)="accord['sub' + i+'-'+j]=accordClick(accord['sub' + i+'-'+j])">
								<h4>{{amenity.name}}</h4>
								<div class="innerDropArrow" [ngClass]="accordClass(accord['sub' + i+'-'+j])"></div>
								<div class="sectionEditButton" *ngIf="!amenityEdit['a'+j] && !editStatus && accord['sub' + i+'-'+j]" (click)="$event.stopPropagation();accord['sub' + i+'-'+j]=amenityEdit['a'+j]=true;editStatus=true;amenityEditClick(amenity);">
									<span></span>
									Edit
								</div>
								<div style="float:right;" *ngIf="amenityEdit['a'+j]">
									<div class="cancelButtonDefault" (click)="$event.stopPropagation();amenityEdit['a'+j]=false;editStatus=false;cancelAmenityEdit()">
										<span></span>
										Cancel
									</div>
									<button type="submit" class="saveButtonDefault" (click)="$event.stopPropagation();">
										<span></span>
										Save
									</button>
								</div>
							</div>
							<div class="innerDropContainer" *ngIf="accord['sub' + i+'-'+j]">
								<ul class="restuTopWrap">
									<li>
										RESERVATIONS
										<span *ngIf="amenity.provideReservations" class="checkIcon"></span>
										<span *ngIf="!amenity.provideReservations" class="crossIconRed"></span>
									</li>
									<li>
										DEALS
										<span *ngIf="amenity.hasDeals" class="checkIcon"></span>
										<span *ngIf="!amenity.hasDeals" class="crossIconRed"></span>
									</li>
								</ul>
								<div class="stdMainWrap" *ngIf="amenityEdit['a'+j]">
									<div class="restuTwoRow restuLeftRow">
										<ul class="stdHalfList">
											<li *ngIf="amenity.reservationType==1">
												<label for="pCuisine">Primary Cuisine</label>
												<input type="text" #primaryc="ngModel" name="primary_cuisin{{j}}" required="required" [(ngModel)]="amenityFormData.primaryCuisine">
												<small [hidden]="primaryc.valid || (primaryc.pristine && !amenityForm.submitted)" class="errorLine">
									            	Primary Cuisine is required.
									          	</small>
											</li>
											<li>
												<label for="restuName">Name</label>
												<input type="text" id="restuName{{j}}" #name="ngModel" required name="restuName{{j}}" [(ngModel)]="amenityFormData.name">
												<small [hidden]="name.valid || (name.pristine && !amenityForm.submitted)" class="errorLine">
									            	Name is required.
									          	</small>
											</li>
											<li>
												<label for="amenityType">Amenity Type</label>
												<input type="text" #type="ngModel" required id="amenityType{{j}}" name="amenityType{{j}}" [(ngModel)]="amenityFormData.amenityType">\
												<small [hidden]="type.valid || (type.pristine && !amenityForm.submitted)" class="errorLine">
									            	Amenity Type is required.
									          	</small>
											</li>
											<li>
												<div class="roomPhotoWrap">
												<div class="detailTitle">Photos &nbsp; &nbsp; &nbsp; &nbsp; (.jpg or .png of size 200x300)</div>
												<ul class="detailPhotoWrap">
													<li *ngFor="let additionimg of amenity.additionalImageUrls;let im=index">
														<div class="crossIcon circle" (click)="removeAdditionImage(amenity.additionalImageUrls, im)"></div>
														<img [src]="additionimg">
													</li>
													<li class="addRoomPhoto">
														<div class="addAwardButton">
															<p>+ Add</p>
														</div>
													</li>
												</ul>
											</div>
											</li>
											<li>
												<label for="description">Description</label>
												<textarea #description="ngModel" required name="description{{j}}" id="description{{j}}" name="description" [(ngModel)]="amenityFormData.description"></textarea>
												
												<small [hidden]="description.valid || (description.pristine && !amenityForm.submitted)" class="errorLine">
									            	Description is required.
									          	</small>
											</li>
											<li>
												<label for="mPopular">Most Popular (separate using)</label>
												<div *ngFor="let mp of amenityFormData.mostPopular;let m=index" style="position:relative;float:left;width:100%; margin-bottom:10px;">
													<div class="crossIcon circle" *ngIf="amenityFormData.mostPopular.length>1" (click)="removeMostPopular(amenityFormData.mostPopular, m)"></div>
													<textarea name="mostPopular[]" style="height: 60px;" id="mPopular" [(ngModel)]="amenityFormData.mostPopular[m]"></textarea>
												</div>
												<div class="innerDropAddWrap" (click)="addMostPopular(amenityFormData.mostPopular)"><span></span> Add More</div>
											</li>
										</ul>
									</div>
									<div class="restuTwoRow">
										<ul class="stdHalfList">
											<li></li>
											<li>
												<label for="guestCat">Guest Sense Category</label>
												<input type="text" name="guestscat" id="guestscat" [(ngModel)]="amenityFormData.guestSenseCategory" >
											</li>
											<li>
												<div class="halfWrap">
													<label for="openTime">Opening Time</label>
													<input type="text" id="openTime" name="openTime" [(ngModel)]="amenityFormData.startTime">	
												</div>
												<div class="halfWrap">
													<label for="closeTime">Closing Time</label>
													<input type="text" id="closeTime" name="closeTime" [(ngModel)]="amenityFormData.endTime">
												</div>
											</li>
											<li>
												<label for="entryCriteria">Entry Criteria</label>
												<input type="text" id="entryCriteria" name="entryCriteria" [(ngModel)]="amenityFormData.entryCriteria">
											</li>
											<li>
												<div class="halfWrap">
													<label for="restuWing">Wing</label>
													<div class="defaultDrop">
														<select #wing="ngModel" name="wing{{j}}" [(ngModel)]="amenityFormData.wingId" id="restuWing">
															<option *ngFor="let wing of wings.model" [value]="wing.wingId">{{wing.name}}</option>
														</select>
														<span></span>
													</div>
													<small [hidden]="wing.valid || (wing.pristine && !amenityForm.submitted)" class="errorLine">
										            	Wing is required.
										          	</small>
												</div>
												<div class="halfWrap">
													<label for="restuFloor">Floor</label>
													<div class="defaultDrop">
														<select #floor="ngModel" name="floor{{j}}" required [(ngModel)]="amenityFormData.floorId" id="restuFloor">
															<option *ngFor="let floor of floors.getByWingId(amenityFormData.wingId)" [value]="floor.floorId">{{floor.name}}</option>
														</select>
														<span></span>
													</div>
													<small [hidden]="floor.valid || (floor.pristine && !amenityForm.submitted)" class="errorLine">
										            	Floor is required.
										          	</small>
												</div>
											</li>
											<li>
												<ul class="directionList">
													<li>
														<div class="wrap1">
															Direction
														</div>
														<div class="wrap2">
															Text
														</div>
													</li>
													<li>
														<div class="wrap1">
															Up
														</div>
														<div class="wrap2">
															Take lift up to the ...
														</div>
													</li>
													<li>
														<div class="wrap1">
															Right
														</div>
														<div class="wrap2">
															Take right towards...
														</div>
													</li>
													<li>
														<div class="innerDropAddWrap">
															<span></span>
															ADD DIRECTION
														</div>
													</li>
												</ul>
											</li>
										</ul>
									</div>
								</div><!-- std main wrap -->
								<div class="stdMainWrap" *ngIf="!amenityEdit['a'+j]">
									<div class="restuTwoRow restuLeftRow">
										<ul class="stdHalfList">
											<li *ngIf="amenity.reservationType==1">
												<label for="pCuisine">Primary Cuisine</label>
												<p>{{ amenity.primaryCuisine }}</p>
											</li>
											<li>
												<label for="restuName">Name</label>
												<p>{{ amenity.name }}</p>
											</li>
											<li>
												<label for="amenityType">Amenity Type</label>
												<p>{{ amenity.amenityType }}</p>
											</li>
											<li>
												<div class="roomPhotoWrap">
												<div class="detailTitle">Photos </div>
												<ul class="detailPhotoWrap">
													<li *ngFor="let additionimg of amenity.additionalImageUrls">
														<img [src]="additionimg">
													</li>
												</ul>
											</div>
											</li>
											<li>
												<label for="description">Description</label>
												<p>{{amenity.description}}</p>
											</li>
											<li>
												<label for="mPopular">Most Popular (separate using)</label>
												<p *ngFor="let mostPopular of amenity.mostPopular">{{mostPopular}}</p>
											</li>
										</ul>
									</div>
									<div class="restuTwoRow">
										<ul class="stdHalfList">
											<li></li>
											<li>
												<label for="guestCat">Guest Sense Category</label>
												<p>{{amenity.guestSenseCategory}}</p>
											</li>
											<li>
												<div class="halfWrap">
													<label for="openTime">Opening Time</label>
													<p>{{amenity.startTime}}</p>
												</div>
												<div class="halfWrap">
													<label for="closeTime">Closing Time</label>
													<p>{{amenity.endTime}}</p>
												</div>
											</li>
											<li>
												<label for="entryCriteria">Entry Criteria</label>
												<p>{{amenity.entryCriteria}}</p>
											</li>
											<li>
												<div class="halfWrap">
													<label for="restuWing">Wing</label>
													<p>{{wings.getById(amenity.wingId).name}}</p>
												</div>
												<div class="halfWrap">
													<label for="restuFloor">Floor</label>
													<p>{{floors.getById(amenity.floorId).name}}</p>
												</div>
											</li>
											<li>
												<ul class="directionList">
													<li>
														<div class="wrap1">
															Direction
														</div>
														<div class="wrap2">
															Text
														</div>
													</li>
													<li>
														<div class="wrap1">
															Up
														</div>
														<div class="wrap2">
															Take lift up to the ...
														</div>
													</li>
													<li>
														<div class="wrap1">
															Right
														</div>
														<div class="wrap2">
															Take right towards...
														</div>
													</li>
												</ul>
											</li>
										</ul>
									</div>
								</div><!-- std main wrap -->
							</div>
							</form>
						</li>
					</ul>
					<div class="innerDropAddWrap" (click)="addNewAmenityCategory(amenityCat, i);editStatus=true">
						<span></span>
						ADD ROOM CATEGORY
					</div>
				</div>
			</div>

		</section>
		