<section style="background-color: #fff;">
	<div class="sectionWrap">
		<div class="roomDetailTopWrap">
			<div class="rdBreadcrumb">
				<a href="" title="">Rooms</a>
				<a href="" title="" class="active">> Room Details</a>
			</div>
		</div>
		<div class="roomDetailTopWrap2">
			<div class="topSearchWrap">
				<input type="text" name="" value="" placeholder="Reservation Number / Guest Name">
				<input type="submit" name="" value="" class="searchButton">
			</div>
		</div>
	</div>
</section>
<div class="mainMidWrap" style="margin-top: 80px;">
	<section>
		<div class="mainMsgWrap">
			<div class="msgLeftWrap">
				<ul class="msgUserList">
					<li *ngFor="let user of chatUsers;let i=index" [ngClass]="{'msgDark': user.userData.userId==selectedUser.userData.userId }" (click)="chatUserTrigger(user)">

						<div class="msgSideLeftWrap">
							<div class="msgNumber">{{user.userData.number}}</div>
							<div class="msgSideUserName">{{user.userData.title}} {{user.userData.firstName}} <span class="msgSideSilver">Silver</span></div>
						</div>
						<div class="msgSideCount circle" *ngIf="user.unreadMessageCount>0">{{user.unreadMessageCount}}</div>
					</li>
				</ul>
			</div>
			<div class="msgRightWrap">
				<div class="msgRightTop" *ngIf="messages.length<=0">
				No Message
				</div>
				<div class="msgRightTop" *ngIf="messages.length>0">
					<div class="msgTopInfo">
						<div class="msgNumber">{{selectedUser.userData.number}}</div>
						<div class="msgGuestName">{{selectedUser.userData.title}} {{selectedUser.userData.firstName}}</div>
					</div>
					<div class="msgRightScroll">
						<div class="msgTextMain">
							<ul class="msgListWrap">
								<li *ngFor="let message of messages" [ngClass]="message.byUser==true?'':'right'">
									<div class="msgDateTime">   
										{{ timeConversion(message.created) }}
									</div>
									<div class="msgText">
										{{ message.messageText }}
									</div>
									<div class="autoMsgIcon circle">!</div>
								</li>
								
							</ul>
						</div>
					</div>
				</div>
				<div class="fullWrap msgFixedWrap">
					<form #messageForm="ngForm" (ngSubmit)="submitMessage(messageForm , messageForm.value, messageForm.valid)">
						<div class="msgtypingWrap">
							<textarea name="message" autocomplete="off" [(ngModel)] = "text" required placeholder="Type your message here"></textarea>
						</div>
						<input type="submit" name="messageSendBtn" value="Send" class="messageSendBtn">
					</form>
				</div>
			</div>
		</div>
	</section>
</div>


