<section style="margin-top: 10px;">
			<div class="sectionWrap">
				<div class="sectionHeader quickLink">
					<h3>Quick Links</h3>
				</div>
				<div class="sectionContainer">
					<ul class="quickLinkList msgLinkList">
						<li>
							<a href="javascript:void(0)" (mousedown)="accord1=accord11=true;" (click)="commonservices.quickLinkScroll('accord11')" title="ROOM ALLOCATION">
								<span class="active"></span>
								ROOM ALLOCATION
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" (mousedown)="accord1=accord12=true;" (click)="commonservices.quickLinkScroll('accord12')" title="EARLY CHECK-IN">
								<span></span>
								EARLY CHECK-IN		
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" (mousedown)="accord1=accord13=true;" (click)="commonservices.quickLinkScroll('accord13')" title="AIRPORT PICKUP">
								<span class="active"></span>
								AIRPORT PICKUP		
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" (mousedown)="accord1=accord14=true;" (click)="commonservices.quickLinkScroll('accord14')" title="CHECK-IN">
								<span></span>
								CHECK-IN	
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" (mousedown)="accord1=accord15=true;" (click)="commonservices.quickLinkScroll('accord15')" title="ROOM SERVICE">
								<span></span>
								ROOM SERVICE
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" (mousedown)="accord1=accord16=true;" (click)="commonservices.quickLinkScroll('accord16')" title="HOUSEKEEPING">
								<span class="active"></span>
								HOUSEKEEPING		
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" (mousedown)="accord1=accord17=true;" (click)="commonservices.quickLinkScroll('accord17')" title="LAUNDRY">
								<span></span>
								LAUNDRY
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" (mousedown)="accord1=accord18=true;" (click)="commonservices.quickLinkScroll('accord18')" title="INTERNET">
								<span class="active"></span>
								INTERNET		
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" (mousedown)="accord1=accord19=true;" (click)="commonservices.quickLinkScroll('accord19')" title="RESERVATIONS">
								<span class="active"></span>
								RESERVATIONS
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" (mousedown)="accord1=accord110=true;" (click)="commonservices.quickLinkScroll('accord110')" title="COMMUTE">
								<span></span>
								COMMUTE
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" (mousedown)="accord1=accord111=true;" (click)="commonservices.quickLinkScroll('accord111')" title="MAINTENANCE">
								<span class="active"></span>
								MAINTENANCE
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" (mousedown)="accord1=accord112=true;" (click)="commonservices.quickLinkScroll('accord112')" title="LATE CHECK-OUT">
								<span></span>
								LATE CHECK-OUT
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" (mousedown)="accord1=accord113=true;" (click)="commonservices.quickLinkScroll('accord113')" title="AIRPORT DROP">
								<span></span>
								AIRPORT DROP
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" (mousedown)="accord1=accord114=true;" (click)="commonservices.quickLinkScroll('accord114')" title="BELL BOY">
								<span></span>
								BELL BOY
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" (mousedown)="accord1=accord115=true;" (click)="commonservices.quickLinkScroll('accord115')" title="CHECK-OUT">
								<span></span>
								CHECK-OUT
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" (mousedown)="accord2=true;" (click)="commonservices.quickLinkScroll('accord2')" title="AD HOC">
								<span></span>
								AD HOC
							</a>
						</li>
					</ul>
				</div>
			</div>
		</section>
		
		<section>
			<div class="sectionWrap">
				<div class="sectionHeader" (click)="accord1=commonservices.accordClick(accord1)">
					<h3>SYSTEM GENERATED</h3>
					<div class="sectionRightInfo">
						<span [ngClass]="commonservices.accordClass(accord1)"></span>
						Top
					</div>
				</div>
				<div class="sectionContainer innerDropMain" *ngIf="accord1">
					<!-- <div class="innerEditMain">
						<div class="sectionEditButton">
							<span></span>
							Edit
						</div>
					</div> -->
					<ul class="secInnerDropDown secInnerDark sysGenDrop">
						<li id="accord11">
							<div class="secInnerDropHeader headerDrak" (click)="accord11=commonservices.accordClick(accord11)">
								<h4>ROOM ALLOCATION</h4>
								<div class="innerDropArrow" [ngClass]="commonservices.accordClass(accord11)"></div>
							</div>
							<div class="innerDropContainer" *ngIf="accord11">
							</div>
						</li>
						<li id="accord12">
							<div class="secInnerDropHeader headerDrak" (click)="accord12=commonservices.accordClick(accord12)">
								<h4>EARLY CHECK-IN</h4>
								<div class="innerDropArrow" [ngClass]="commonservices.accordClass(accord12)"></div>
							</div>
							<div class="innerDropContainer" *ngIf="accord12">
							</div>
						</li>
						<li id="accord13">
							<div class="secInnerDropHeader headerDrak" (click)="accord13=commonservices.accordClick(accord13)">
								<h4>AIRPORT PICKUP</h4>
								<div class="innerDropArrow" [ngClass]="commonservices.accordClass(accord13)"></div>
								<div class="sectionEditButton" *ngIf="accord13">
									<span></span>
									Edit
								</div>
							</div>
							<div class="innerDropContainer" *ngIf="accord13">
								<ul class="sysGenInnerList">
									<li>
										<div class="innerColFour1">Enabled</div>
										<div class="innerColFour2">Message Type</div>
										<div class="innerColFour3">Subject</div>
										<div class="innerColFour4">Message</div>
									</li>
									<li>
										<div class="innerColFour1">
											<span class="sysGenListCheck active"></span>
										</div>
										<div class="innerColFour2">Confirm</div>
										<div class="innerColFour3">Airport Pickup Confirmaiton</div>
										<div class="innerColFour4">Dear [Title] [Guest Last Name], We will be...</div>
									</li>
									<li>
										<div class="innerColFour1">
											<span class="sysGenListCheck active"></span>
										</div>
										<div class="innerColFour2">Confirm</div>
										<div class="innerColFour3">Airport Pickup Confirmaiton</div>
										<div class="innerColFour4">Dear [Title] [Guest Last Name], We will be...</div>
									</li>
									<li>
										<div class="innerColFour1">
											<span class="sysGenListCheck"></span>
										</div>
										<div class="innerColFour2">Remind</div>
										<div class="innerColFour3"></div>
										<div class="innerColFour4"></div>
									</li>
								</ul>
							</div>
						</li>
						<li id="accord14">
							<div class="secInnerDropHeader headerDrak" (click)="accord14=commonservices.accordClick(accord14)">
								<h4>CHECK-IN</h4>
								<div class="innerDropArrow" [ngClass]="commonservices.accordClass(accord14)"></div>
							</div>
							<div class="innerDropContainer" *ngIf="accord14">
							</div>
						</li>
						<li id="accord15">
							<div class="secInnerDropHeader headerDrak" (click)="accord15=commonservices.accordClick(accord15)">
								<h4>ROOM SERVICE</h4>
								<div class="innerDropArrow" [ngClass]="commonservices.accordClass(accord15)"></div>
							</div>
							<div class="innerDropContainer" *ngIf="accord15">
							</div>
						</li>
						<li id="accord16">
							<div class="secInnerDropHeader headerDrak" (click)="accord6=commonservices.accordClick(accord16)">
								<h4>HOUSEKEEPING</h4>
								<div class="innerDropArrow" [ngClass]="commonservices.accordClass(accord16)"></div>
							</div>
							<div class="innerDropContainer" *ngIf="accord16">
							</div>
						</li>
						<li id="accord17">
							<div class="secInnerDropHeader headerDrak" (click)="accord17=commonservices.accordClick(accord17)">
								<h4>LAUNDRY</h4>
								<div class="innerDropArrow" [ngClass]="commonservices.accordClass(accord17)"></div>
								<div class="sectionEditButton" *ngIf="accord17">
									<span></span>
									Edit
								</div>
							</div>
							<div class="innerDropContainer" *ngIf="accord17">
								<ul class="sysGenInnerList">
									<li>
										<div class="innerColFour1">Enabled</div>
										<div class="innerColFour2">Message Type</div>
										<div class="innerColFour3">Subject</div>
										<div class="innerColFour4">Message</div>
									</li>
									<li>
										<div class="innerColFour1">
											<span class="sysGenListCheck active"></span>
										</div>
										<div class="innerColFour2">Remind</div>
										<div class="innerColFour3">We will get it done!!</div>
										<div class="innerColFour4">Dear [Title] [Guest Last Name], We will be...</div>
									</li>
								</ul>
							</div>
						</li>
						<li id="accord18">
							<div class="secInnerDropHeader headerDrak" (click)="accord18=commonservices.accordClick(accord18)">
								<h4>INTERNET</h4>
								<div class="innerDropArrow" [ngClass]="commonservices.accordClass(accord18)"></div>
								<div class="sectionEditButton" *ngIf="accord18">
									<span></span>
									Edit
								</div>
							</div>
							<div class="innerDropContainer" *ngIf="accord18">
								<ul class="sysGenInnerList">
									<li>
										<div class="innerColFour1">Enabled</div>
										<div class="innerColFour2">Message Type</div>
										<div class="innerColFour3">Subject</div>
										<div class="innerColFour4">Message</div>
									</li>
									<li>
										<div class="innerColFour1">
											<span class="sysGenListCheck active"></span>
										</div>
										<div class="innerColFour2">Confirm</div>
										<div class="innerColFour3">Internet credentials</div>
										<div class="innerColFour4">Dear [Title] [Guest Last Name], We will be...</div>
									</li>
								</ul>
							</div>
						</li>
						<li id="accord19">
							<div class="secInnerDropHeader headerDrak" (click)="accord19=commonservices.accordClick(accord19)">
								<h4>RESERVATIONS</h4>
								<div class="innerDropArrow" [ngClass]="commonservices.accordClass(accord19)"></div>
							</div>
							<div class="innerDropContainer" *ngIf="accord19">
							</div>
						</li>
						<li id="accord110">
							<div class="secInnerDropHeader headerDrak" (click)="accord110=commonservices.accordClick(accord110)">
								<h4>COMMUTE</h4>
								<div class="innerDropArrow" [ngClass]="commonservices.accordClass(accord110)"></div>
							</div>
							<div class="innerDropContainer" *ngIf="accord110">
							</div>
						</li>
						<li id="accord111">
							<div class="secInnerDropHeader headerDrak" (click)="accord111=commonservices.accordClick(accord110)">
								<h4>MAINTENANCE</h4>
								<div class="innerDropArrow" [ngClass]="commonservices.accordClass(accord111)"></div>
							</div>
							<div class="innerDropContainer" *ngIf="accord111">
							</div>

						</li>
						<li id="accord112">
							<div class="secInnerDropHeader headerDrak" (click)="accord112=commonservices.accordClick(accord112)">
								<h4>LATE CHECK-OUT</h4>
								<div class="innerDropArrow" [ngClass]="commonservices.accordClass(accord112)"></div>
							</div>
							<div class="innerDropContainer" *ngIf="accord112">
							</div>

						</li>
						<li id="accord113">
							<div class="secInnerDropHeader headerDrak" (click)="accord113=commonservices.accordClick(accord113)">
								<h4>AIRPORT DROP</h4>
								<div class="innerDropArrow" [ngClass]="commonservices.accordClass(accord113)"></div>
							</div>
							<div class="innerDropContainer" *ngIf="accord13">
							</div>

						</li>
						<li id="accord114">
							<div class="secInnerDropHeader headerDrak" (click)="accord114=commonservices.accordClick(accord114)">
								<h4>BELL BOY</h4>
								<div class="innerDropArrow" [ngClass]="commonservices.accordClass(accord114)"></div>
							</div>
							<div class="innerDropContainer" *ngIf="accord114">
							</div>

						</li>
						<li id="accord115">
							<div class="secInnerDropHeader headerDrak" (click)="accord115=commonservices.accordClick(accord115)">
								<h4>CHECK-OUT</h4>
								<div class="innerDropArrow" [ngClass]="commonservices.accordClass(accord115)"></div>
							</div>
							<div class="innerDropContainer" *ngIf="accord115">
							</div>

						</li>
					</ul>
				</div>
			</div>
		</section>
		<section>
			<div class="sectionWrap" id="accord2">
				<div class="sectionHeader" (click)="accord2=commonservices.accordClick(accord2)">
					<h3>AD HOC</h3>
					<div class="sectionRightInfo">
						<span [ngClass]="commonservices.accordClass(accord2)"></span>
						Top
					</div>
				</div>
				<div class="sectionContainer innerDropMain" *ngIf="accord2">
					<!-- <div class="innerEditMain">
						<div class="sectionEditButton">
							<span></span>
							Edit
						</div>
					</div> -->
					<ul class="secInnerDropDown sysGenDrop">
						<li>
							<div class="secInnerDropHeader" (click)="accord21=commonservices.accordClick(accord21)">
								<h4>GENERAL</h4>
								<div class="innerDropArrow " [ngClass]="commonservices.accordClass(accord21)"></div>
							</div>
							<div class="innerDropContainer" *ngIf="accord21">
							</div>
						</li>
						<li>
							<div class="secInnerDropHeader" (click)="accord22=commonservices.accordClick(accord22)">
								<h4>GENERAL</h4>
								<div class="innerDropArrow" [ngClass]="commonservices.accordClass(accord22)"></div>
							</div>
							<div class="innerDropContainer" *ngIf="accord22">
							</div>
						</li>
						<li>
							<div class="secInnerDropHeader" (click)="accord23=commonservices.accordClick(accord23)">
								<h4>EMERGENCY</h4>
								<div class="innerDropArrow" [ngClass]="commonservices.accordClass(accord23)"></div>
								<div class="sectionEditButton" *ngIf="accord23">
									<span></span>
									Edit
								</div>
							</div>
							<div class="innerDropContainer" *ngIf="accord23">
								<ul class="sysGenInnerList adHocList">
									<li>
										<div class="innerColFour2">Notification Type</div>
										<div class="innerColFour3">Subject</div>
										<div class="innerColFour4">Message</div>
										<div class="innerColFour1">Send</div>
									</li>
									<li>
										<div class="innerColFour2">General</div>
										<div class="innerColFour3">Airport Pickup Confirmaiton</div>
										<div class="innerColFour4">Dear [Title] [Guest Last Name], We will be...</div>
										<div class="innerColFour1">
											<div class="innerSendButton">
												<span></span>
												Send
											</div>
										</div>
									</li>
									<li>
										<div class="innerColFour2">General</div>
										<div class="innerColFour3">We are Sorry!!</div>
										<div class="innerColFour4">Dear [Title] [Guest Last Name], We will be...</div>
										<div class="innerColFour1">
											<div class="innerSendButton">
												<span></span>
												Send
											</div>
										</div>
									</li>
									<li>
										<div class="innerDropAddWrap innerDropAddSpace">
											<span></span>
											ADD MESSAGE
										</div>
									</li>
								</ul>
							</div>
						</li>
						<li>
							<div class="secInnerDropHeader" (click)="accord24=commonservices.accordClick(accord24)">
								<h4>SIGHTSEEING</h4>
								<div class="innerDropArrow" [ngClass]="commonservices.accordClass(accord24)"></div>
							</div>
							<div class="innerDropContainer" *ngIf="accord24">
							</div>
						</li>
						<li>
							<div class="secInnerDropHeader" (click)="accord25=commonservices.accordClick(accord25)">
								<h4>FEEDBACK REQUEST</h4>
								<div class="innerDropArrow" [ngClass]="commonservices.accordClass(accord25)"></div>
							</div>
							<div class="innerDropContainer" *ngIf="accord25">
							</div>
						</li>
						<li>
							<div class="secInnerDropHeader" (click)="accord26=commonservices.accordClick(accord26)">
								<h4>GENERAL MANAGER</h4>
								<div class="innerDropArrow" [ngClass]="commonservices.accordClass(accord26)"></div>
							</div>
							<div class="innerDropContainer" *ngIf="accord26">
							</div>
						</li>
						<li>
							<div class="secInnerDropHeader" (click)="accord27=commonservices.accordClick(accord27)">
								<h4>THANK YOU</h4>
								<div class="innerDropArrow" [ngClass]="commonservices.accordClass(accord27)"></div>
							</div>
							<div class="innerDropContainer" *ngIf="accord27">
								<ul class="sysGenInnerList adHocList">
									<li>
										<div class="innerColFour2">Notification Type</div>
										<div class="innerColFour3">Subject</div>
										<div class="innerColFour4">Message</div>
										<div class="innerColFour1">Send</div>
									</li>
									<li>
										<div class="innerColFour2">Request</div>
										<div class="innerColFour3">We will get it done!!</div>
										<div class="innerColFour4">Dear [Title] [Guest Last Name], We will be...</div>
										<div class="innerColFour1">
											<div class="innerSendButton">
												<span></span>
												Send
											</div>
										</div>
									</li>
									<li>
										<div class="innerDropAddWrap innerDropAddSpace">
											<span></span>
											ADD MESSAGE
										</div>
									</li>
								</ul>
								<div class="innerDropAddWrap">
									<span></span>
									ADD CATEGORY
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</section>

<div class="mainPopupWrap" style="display: none;">
	<div class="popupInnerWrap tab4Popup1">
		<div class="popupCancel"></div>
		<div class="popupHeader">
			ADD ITEM
		</div>
		<div class="popupContainer">
			<ul class="editmsgList">
				<li>
					<div class="editmsgInnerWrap">
						<div class="customCheckBox">
							<input type="checkbox" name="" id="confirm" value="">
							<div class="check"></div>
						</div>
						<label for="confirm">Confirm</label>
					</div>
					<div class="editmsgInnerWrap">
						<div class="editmsgInnerHeading">Subject line</div>
						<div class="subjectLineEdit">
							<textarea name=""></textarea>
							<div class="editMsgTextCount">27/150</div>
						</div>
					</div>
					<div class="editmsgInnerWrap">
						<div class="editmsgInnerHeading">Message</div>
						<div class="subjectLineEdit editMsgTextarea">
							<textarea name=""></textarea>
							<div class="editMsgTextCount">27/300</div>
						</div>
					</div>
				</li>
				<li>
					<div class="editmsgInnerWrap">
						<div class="customCheckBox">
							<input type="checkbox" name="" id="decline" value="">
							<div class="check"></div>
						</div>
						<label for="decline">Decline</label>
					</div>
					<div class="editmsgInnerWrap">
						<div class="editmsgInnerHeading">Subject line</div>
						<div class="subjectLineEdit">
							<textarea name=""></textarea>
							<div class="editMsgTextCount">27/150</div>
						</div>
					</div>
					<div class="editmsgInnerWrap">
						<div class="editmsgInnerHeading">Message</div>
						<div class="subjectLineEdit editMsgTextarea">
							<textarea name=""></textarea>
							<div class="editMsgTextCount">27/300</div>
						</div>
					</div>
				</li>
				<li>
					<div class="editmsgInnerWrap">
						<div class="customCheckBox">
							<input type="checkbox" name="" id="remind" value="">
							<div class="check"></div>
						</div>
						<label for="remind">Remind</label>
					</div>
					<div class="editmsgInnerWrap">
						<div class="editmsgInnerHeading">Subject line</div>
						<div class="subjectLineEdit">
							<textarea name=""></textarea>
							<div class="editMsgTextCount">27/150</div>
						</div>	
					</div>
					<div class="editmsgInnerWrap">
						<div class="editmsgInnerHeading">Message</div>
						<div class="subjectLineEdit editMsgTextarea">
							<textarea name=""></textarea>
							<div class="editMsgTextCount">27/300</div>
						</div>
					</div>
				</li>
				<li>
					<div class="editmsgInnerHeading">Dynamic Fields</div>
					<ul class="editMsgDynList">
						<li>Title</li>
						<li>First Name</li>
						<li>Last Name</li>
						<li>Vehicle Number</li>
						<li>Driver Name</li>
						<li>Driver Contact</li>
					</ul>
				</li>
			</ul>
			<div class="fullWrap awardControl">
				<button type="submit" class="saveButtonDefault">
					<span></span>
					Save
				</button>
				<div class="cancelButtonDefault">
					<span></span>
					Cancel
				</div>
			</div>
		</div>
	</div>
	<div class="popupInnerWrap tab4Popup2" style="display: none;">
		<div class="popupCancel"></div>
		<div class="popupHeader">
			EDIT MESSAGES : AD HOC - EMERGENCY
		</div>
		<div class="popupContainer">
			<div class="popupFormWrap">
			<form action="" method="">
				<ul class="editMsgAddHocList">
					<li>
						<div class="editmsgInnerWrap">
							<div class="editmsgInnerHeading" style="margin-top: 0;">Type</div>
							<div class="defaultDrop" style="margin-bottom: 0;">
								<select name="" id="awardName">
									<option value=""></option>
									<option value=""></option>
								</select>
								<span></span>
							</div>
						</div>
						<div class="editmsgInnerWrap">
							<div class="editmsgInnerHeading">Subject line</div>
							<div class="subjectLineEdit">
								<textarea name="" ></textarea>
								<div class="editMsgTextCount">27/150</div>
							</div>	
						</div>
						<div class="editmsgInnerWrap">
							<div class="editmsgInnerHeading">Message</div>
							<div class="subjectLineEdit editMsgTextarea">
								<textarea name=""></textarea>
								<div class="editMsgTextCount">27/300</div>
							</div>
						</div>
					</li>
					<li>
						<div class="editmsgInnerHeading">Dynamic Fields</div>
						<ul class="editMsgDynList">
							<li>Title</li>
							<li>First Name</li>
							<li>Last Name</li>
							<li>Vehicle Number</li>
							<li>Driver Name</li>
							<li>Driver Contact</li>
						</ul>
					</li>
				</ul>
				<div class="fullWrap awardControl">
					<button type="submit" class="saveButtonDefault">
						<span></span>
						Save
					</button>
					<div class="cancelButtonDefault">
						<span></span>
						Cancel
					</div>
				</div>
			</form>
			</div>
		</div>
	</div>
	<div class="popupInnerWrap tab4Popup3" style="display: none;">
		<div class="popupCancel"></div>
		<div class="popupHeader">
			EDIT MESSAGES : AD HOC - EMERGENCY
		</div>
		<div class="popupContainer">
			<div class="popupFormWrap">
			<form action="" method="">
				<ul class="editMsgAddHocList">
					<li>
						<div class="editmsgInnerWrap">
							<div class="editmsgInnerHeading" style="margin-top: 0;">Type</div>
							<div class="defaultDrop" style="margin-bottom: 0;">
								<select name="" id="awardName">
									<option value=""></option>
									<option value=""></option>
								</select>
								<span></span>
							</div>
						</div>
						<div class="editmsgInnerWrap">
							<div class="editmsgInnerHeading">Subject line</div>
							<div class="subjectLineEdit">
								<textarea name="" ></textarea>
								<div class="editMsgTextCount">27/150</div>
							</div>	
						</div>
						<div class="editmsgInnerWrap">
							<div class="editmsgInnerHeading">Message</div>
							<div class="subjectLineEdit editMsgTextarea">
								<textarea name=""></textarea>
								<div class="editMsgTextCount">27/300</div>
							</div>
						</div>
					</li>
					<li>
						<div class="editmsgInnerWrap">
							<div class="editmsgInnerHeading" style="margin-top: 0;">Send To Rooms</div>
							<div class="customCheckBox">
								<input type="checkbox" name="" id="allRooms" value="">
								<div class="check"></div>
							</div>
							<label for="allRooms" style="width: auto;line-height: 26px;">All Rooms</label>
						</div>
						<div class="fullWrap">
							<div class="halfWrap" style="margin-right: 4%;">
								<div class="editmsgInnerHeading" style="margin-top: 0;">Wing</div>
								<div class="defaultDrop" style="margin-bottom: 0;">
									<select name="" id="awardName">
										<option value="">Royal</option>
									</select>
									<span></span>
								</div>
							</div>
							<div class="halfWrap">
								<div class="editmsgInnerHeading" style="margin-top: 0;">Floor</div>
								<div class="defaultDrop" style="margin-bottom: 0;">
									<select name="" id="awardName">
										<option value="">1</option>
									</select>
									<span></span>
								</div>
							</div>
						</div>
						<ul class="sentToRoomsList">
							<li class="active">101</li>
							<li>102</li>
							<li>103</li>
							<li>104</li>
							<li class="active">105</li>
							<li>106</li>
							<li>107</li>
							<li>108</li>
							<li>109</li>
							<li>110</li>
							<li class="active">111</li>
							<li>112</li>
							<li>113</li>
							<li>114</li>
							<li>115</li>
						</ul>
					</li>
					<li>
						<div class="editmsgInnerHeading" style="margin-top: 0;">Recipient List</div>
						<div class="recipientListWrap">
							<div class="editmsgInnerHeading" style="margin-top: 0;">Royal - 1</div>
							<ul class="recipientList">
								<li>101</li>
								<li>102</li>
							</ul>
						</div>
					</li>
				</ul>
				<div class="fullWrap awardControl">
					<button type="submit" class="saveButtonDefault">
						<span></span>
						Save
					</button>
					<div class="cancelButtonDefault">
						<span></span>
						Cancel
					</div>
				</div>
			</form>
			</div>
		</div>
	</div>
</div>


