<!-- bill page  -->

<router-outlet></router-outlet>

<div class="mainMidWrap">
	<section class="" style="background-color: #fff;">
		
	</section>
</div>

<!-- Check in completion popup -->
<div class="mainPopupWrap" style="display: none;">
	<div class="popupInnerWrap arrPopupCompletion">
		<div class="popupCancel"></div>
			<div class="popupHeader">
				<div class="popupHeaderRoom">301</div>
				<div class="cardHeaderRight">
					<span class="hotelIcon"></span>
					<span class="hotelId">123456</span>
				</div>
				<div class="fullWrap">
					<div class="arrPopGuestName">Mr. Rajeev</div>
					<span class="silverBtn">Silver</span>
				</div>
			</div>
		<div class="popupContainer">
			<div class="popCompletionHeading">
				Check In Completion
			</div>
			<ul class="popCompletionList">
				<li>
					<div class="customCheckBox">
						<input type="checkbox" name="checkinForm" id="checkinForm" >
						<div class="check"></div>
					</div>
					<label for="checkinForm">Check-in form completed</label>
					<ul class="popCompletionListIcon">
						<li class="save"></li>
						<li class="print"></li>
					</ul>
				</li>
				<li>
					<div class="customCheckBox">
						<input type="checkbox" name="idVerified" id="idVerified" >
						<div class="check"></div>
					</div>
					<label for="idVerified">ID Verified</label>
				</li>
				<li>
					<div class="customCheckBox">
						<input type="checkbox" name="earlyCheckin" id="earlyCheckin" >
						<div class="check"></div>
					</div>
					<label for="earlyCheckin">Early Check-in Fee <br> 10:00 AM</label>
					<div class="popCompletionPriceEnter">
						<span class="rupeeIcon"></span>
						<input type="text" name="" value="500">
					</div>
				</li>
			</ul>
			<div class="cardBottomButton">
				<span>Complete Check In</span>
			</div>
		</div>
	</div>
</div>


<!-- Check out completion popup  -->
<div class="mainPopupWrap" style="display: none;" >
	<div class="popupInnerWrap arrPopupCompletion">
		<div class="popupCancel"></div>
			<div class="popupHeader">
				<div class="popupHeaderRoom">301</div>
				<div class="cardHeaderRight">
					<span class="hotelIcon"></span>
					<span class="hotelId">123456</span>
				</div>
				<div class="fullWrap">
					<div class="arrPopGuestName">Mr. Rajeev</div>
					<span class="silverBtn">Silver</span>
				</div>
			</div>
		<div class="popupContainer">
			<div class="popCompletionHeading">
				Check Out Completion
			</div>
			<ul class="popCompletionList">
				<li>
					<div class="customCheckBox">
						<input type="checkbox" name="lateCheckout" id="lateCheckout" >
						<div class="check"></div>
					</div>
					<label for="lateCheckout" style="margin-top: 0;">Late Check-out Fee <br> 10:00 AM</label>
					<div class="popCompletionPriceEnter">
						<span class="rupeeIcon"></span>
						<input type="text" name="" value="500">
					</div>
				</li>
				<li>
					<div class="customCheckBox">
						<input type="checkbox" name="collectedPayment" id="collectedPayment" >
						<div class="check"></div>
					</div>
					<label for="collectedPayment">Collected Payment</label>
					<div class="popCompletionPriceEdit">
						<span class="rupeeIcon"></span>
						<p>25,000</p>
						<div class="editButton"></div>
					</div>
				</li>
				<li>
					<div class="customCheckBox">
						<input type="checkbox" name="issueBill" id="issueBill" >
						<div class="check"></div>
					</div>
					<label for="issueBill">Issue Bill</label>
					<ul class="popCompletionListIcon">
						<li class="mail"></li>
						<li class="save"></li>
						<li class="print"></li>
					</ul>
				</li>
			</ul>
			<div class="cardBottomButton">
				<span>Complete Check Out</span>
			</div>
		</div>
	</div>
</div>


<!-- Late Check out popup  -->
<div class="mainPopupWrap" style="display: none;">
	<div class="popupInnerWrap arrPopupLateCheckOut ">
		<div class="popupCancel"></div>
			<div class="popupHeader">
				<div class="popupHeaderRoom">301</div>
				<div class="cardHeaderRight">
					<span class="hotelIcon"></span>
					<span class="hotelId">123456</span>
				</div>
				<div class="fullWrap">
					<div class="arrPopGuestName">Mr. Rajeev</div>
					<span class="silverBtn">Silver</span>
				</div>
			</div>
		<div class="popupContainer">
			<div class="popCompletionHeading">
				Check Out Completion
			</div>
			<div class="fullWrap">
				<div class="halfWrap">
					<div class="lateCheckoutPopText">Late Check Out</div>
					<div class="lateCheckoutPopText">02:00 PM</div>
				</div>
				<div class="halfWrap">
					<div class="allocateStatusListWrapMain">
						<div class="allocateStatusListWrap">
							<ul class="allocateStatusList">
								<li class="cross"></li>
								<li class="nuteral"></li>
								<li class="check"></li>
							</ul>
							<div class="allocateStatusActive netural"><span></span></div>
						</div>
					</div>
				</div>
			</div>
			<div class="fullWrap" style="border-top: 1px solid #ccc;">
				<ul class="crStandaredCircleTab">
					<li class="active">STD</li>
					<li>LUX</li>
					<li>PRE</li>
					<li>QUE</li>
				</ul>
				<ul class="crArrivalList">
					<li>
						<div class="aHeading">CURRENT AVAILABILITY</div>
						<div class="aText">50</div>
					</li>
					<li>
						<div class="aHeading">FORECASTED AVAILABILITY</div>
						<div class="aText">10</div>
					</li>
					<li>
						<div class="aHeading">EXPECTED <br> CHECK INS</div>
						<div class="aText">10</div>
					</li>
					<li>
						<div class="aHeading">EXPECTED <br>CHECK OUTS</div>
						<div class="aText">30</div>
					</li>
				</ul>
			</div>
			<div class="fullWrap">
				<div class="defaultYesBtn pullRight">Save Changes</div>
				<div class="defaultNoBtn pullRight">Cancel</div>
			</div>
		</div>
	</div>
</div>

<!-- print bill popup  -->
<div class="mainPopupWrap" style="display: none;">
	<div class="popupInnerWrap arrPopupPrintBill">
		<div class="popupCancel"></div>
			<div class="popupHeader">
				Print Bills
				<div class="topSearchWrap">
					<input type="text" name="" value="" placeholder="Room No. / Guest Name">
					<input type="submit" name="" value="" class="searchButton">
				</div>
			</div>
		<div class="popupContainer">
			<ul class="arrPopupLateCheckOutList">
				<li>
					<div class="customCheckBox" style="margin:0 15px 0 0">
						<input type="checkbox" name="selectAll" id="selectAll" value="">
						<div class="check"></div>
					</div>
					<label for="selectAll">SELECT ALL</label>
				</li>
				<li>
					<ul class="arrPopupLateCheckOutList2">
						<li>
							<div class="customCheckBox">
								<input type="checkbox" name="" value="">
								<div class="check"></div>
							</div>
						</li>
						<li>
							<p>124566</p>
						</li>
						<li>Mr. kholi</li>
						<li>210</li>
					</ul>
				</li>
				<li>
					<ul class="arrPopupLateCheckOutList2">
						<li>
							<div class="customCheckBox">
								<input type="checkbox" name="" value="">
								<div class="check"></div>
							</div>
						</li>
						<li>
							<p>124566</p>
						</li>
						<li>Mr. kholi</li>
						<li>210</li>
					</ul>
				</li>
				<li>
					<ul class="arrPopupLateCheckOutList2">
						<li>
							<div class="customCheckBox">
								<input type="checkbox" name="" value="">
								<div class="check"></div>
							</div>
						</li>
						<li>
							<p>124566</p>
						</li>
						<li>Mr. kholi</li>
						<li>210</li>
					</ul>
				</li>
				<li>
					<ul class="arrPopupLateCheckOutList2">
						<li>
							<div class="customCheckBox">
								<input type="checkbox" name="" value="">
								<div class="check"></div>
							</div>
						</li>
						<li>
							<p>124566</p>
						</li>
						<li>Mr. kholi</li>
						<li>210</li>
					</ul>
				</li>
				<li>
					<ul class="arrPopupLateCheckOutList2">
						<li>
							<div class="customCheckBox">
								<input type="checkbox" name="" value="">
								<div class="check"></div>
							</div>
						</li>
						<li>
							<p>124566</p>
						</li>
						<li>Mr. kholi</li>
						<li>210</li>
					</ul>
				</li>
				<li>
					<ul class="arrPopupLateCheckOutList2">
						<li>
							<div class="customCheckBox">
								<input type="checkbox" name="" value="">
								<div class="check"></div>
							</div>
						</li>
						<li>
							<p>124566</p>
						</li>
						<li>Mr. kholi</li>
						<li>210</li>
					</ul>
				</li>
				<li>
					<ul class="arrPopupLateCheckOutList2">
						<li>
							<div class="customCheckBox">
								<input type="checkbox" name="" value="">
								<div class="check"></div>
							</div>
						</li>
						<li>
							<p>124566</p>
						</li>
						<li>Mr. kholi</li>
						<li>210</li>
					</ul>
				</li>
			</ul>
			<div class="cardBottomButton">
				<span>Print</span>
			</div>
		</div>
	</div>
</div>


<!-- print check out popup  -->
<div class="mainPopupWrap" style="display: none;" >
	<div class="popupInnerWrap arrPopupPrintBill">
		<div class="popupCancel"></div>
			<div class="popupHeader">
				Print Check in Form
				<div class="topSearchWrap">
					<input type="text" name="" value="" placeholder="Reservation No. / Guest Name">
					<input type="submit" name="" value="" class="searchButton">
				</div>
			</div>
		<div class="popupContainer">
			<ul class="arrPopupLateCheckOutList">
				<li>
					<div class="customCheckBox" style="margin:0 15px 0 0">
						<input type="checkbox" name="selectAll" id="selectAll" value="">
						<div class="check"></div>
					</div>
					<label for="selectAll">SELECT ALL</label>
				</li>
				<li>
					<ul class="arrPopupLateCheckOutList2">
						<li>
							<div class="customCheckBox">
								<input type="checkbox" name="" value="">
								<div class="check"></div>
							</div>
						</li>
						<li>
							<p>124566</p>
						</li>
						<li>Mr. kholi</li>
						<li>210</li>
					</ul>
				</li>
				<li>
					<ul class="arrPopupLateCheckOutList2">
						<li>
							<div class="customCheckBox">
								<input type="checkbox" name="" value="">
								<div class="check"></div>
							</div>
						</li>
						<li>
							<p>124566</p>
						</li>
						<li>Mr. kholi</li>
						<li>210</li>
					</ul>
				</li>
				<li>
					<ul class="arrPopupLateCheckOutList2">
						<li>
							<div class="customCheckBox">
								<input type="checkbox" name="" value="">
								<div class="check"></div>
							</div>
						</li>
						<li>
							<p>124566</p>
						</li>
						<li>Mr. kholi</li>
						<li>210</li>
					</ul>
				</li>
				<li>
					<ul class="arrPopupLateCheckOutList2">
						<li>
							<div class="customCheckBox">
								<input type="checkbox" name="" value="">
								<div class="check"></div>
							</div>
						</li>
						<li>
							<p>124566</p>
						</li>
						<li>Mr. kholi</li>
						<li>210</li>
					</ul>
				</li>
				<li>
					<ul class="arrPopupLateCheckOutList2">
						<li>
							<div class="customCheckBox">
								<input type="checkbox" name="" value="">
								<div class="check"></div>
							</div>
						</li>
						<li>
							<p>124566</p>
						</li>
						<li>Mr. kholi</li>
						<li>210</li>
					</ul>
				</li>
				<li>
					<ul class="arrPopupLateCheckOutList2">
						<li>
							<div class="customCheckBox">
								<input type="checkbox" name="" value="">
								<div class="check"></div>
							</div>
						</li>
						<li>
							<p>124566</p>
						</li>
						<li>Mr. kholi</li>
						<li>210</li>
					</ul>
				</li>
				<li>
					<ul class="arrPopupLateCheckOutList2">
						<li>
							<div class="customCheckBox">
								<input type="checkbox" name="" value="">
								<div class="check"></div>
							</div>
						</li>
						<li>
							<p>124566</p>
						</li>
						<li>Mr. kholi</li>
						<li>210</li>
					</ul>
				</li>
			</ul>
			<div class="cardBottomButton">
				<span>Print</span>
			</div>
		</div>
	</div>
</div>

<!-- bill popup -->
<div class="mainPopupWrap" style="display: none;">
	<div class="popupInnerWrap arrPopupBill">
		<div class="popupCancel"></div>
		<div class="fullWrap billScrollable">
			<div class="fullWrap">
				<div class="billLogoMain">
					<div class="billLogoMainWrap">
						<div class="billLogoWrap">
							<img src="" alt="">
						</div>
						<div class="billLogoTagline">
							Hotels and Resorts
						</div>
						<div class="billHotelByName">
							BY TAJ
						</div>
					</div>
					<div class="billPoweredBy">
						<span>Powered By </span>
						<div class="billAboutStayLogo"></div>
						<div class="fullWrap">
							<div class="sectionEditButton pullLeft">
								<span></span>
								Edit
							</div>
						</div>
					</div>
				</div>
				<div class="halfWrap" style="width: 60%;">
					<ul class="billRightInfoList billRightInfoList2">
						<li>
							<div class="head">GUEST NAME</div>
							<div class="text">Mr. Dev</div>
						</li>
						<li>
							<div class="head">GUEST COUNT</div>
							<div class="text">2</div>
						</li>
						<li>
							<div class="head">ROOM NUMBER</div>
							<div class="text">502</div>
						</li>
					</ul>
					<ul class="billRightInfoList">
						<li>
							<div class="head">RESERVATION NUMBER</div>
							<div class="text">1234567890</div>
						</li>
						<li>
							<div class="head">CHECK-IN DATE / TIME</div>
							<div class="text">24-APR-2017 / 12:03 PM</div>
						</li>
						<li>
							<div class="head">CHECK-OUT DATE / TIME</div>
							<div class="text">27-APR-2017 / 11:23 AM</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="billCostListMain">
				<div class="fullWrap">
					<ul class="billCostList billCostListHeader">
						<li>DATE </li>
						<li>REQUEST No.</li>
						<li>REQUEST TYPE</li>
						<li>
							<span>)</span>
							<span class="rupeeIcon"></span> 
							<span>COST (in </span> 
						</li>
						<li>
							<span>)</span>
							<span class="rupeeIcon"></span> 
							<span>TOTAL (in </span> 
						</li>
					</ul>
					<ul class="billCostList">
						<li>24-APR-2017 </li>
						<li>1234567890</li>
						<li>
							ROOM SERVICE
							<div class="extraText">SERVICE TAX @ 10%</div>
							<div class="extraText">VAT @ 5%</div>
						</li>
						<li>
							2,000.00
							<div class="extraText">200.00</div>
							<div class="extraText">100.00</div>
						</li>
						<li>2,300.00</li>
					</ul>
					<ul class="billCostList">
						<li>24-APR-2017 </li>
						<li>1234567890</li>
						<li>
							ROOM SERVICE
							<div class="extraText">SERVICE TAX @ 10%</div>
							<div class="extraText">VAT @ 5%</div>
						</li>
						<li>
							2,000.00
							<div class="extraText">200.00</div>
							<div class="extraText">100.00</div>
						</li>
						<li>2,300.00</li>
					</ul>
					<ul class="billCostList">
						<li>24-APR-2017 </li>
						<li>1234567890</li>
						<li>
							ROOM SERVICE
							<div class="extraText">SERVICE TAX @ 10%</div>
							<div class="extraText">VAT @ 5%</div>
						</li>
						<li>
							2,000.00
							<div class="extraText">200.00</div>
							<div class="extraText">100.00</div>
						</li>
						<li>2,300.00</li>
					</ul>

					<ul class="billCostList billCostListFooter">
						<li></li>
						<li></li>
						<li></li>
						<li>TOTAL DUE</li>
						<li>3,950.00</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- bill edit popup -->
<div class="mainPopupWrap"  style="display: none;">
	<div class="popupInnerWrap arrPopupBill">
		<div class="popupCancel"></div>
		<div class="fullWrap billScrollable">
			<div class="fullWrap">
				<div class="billLogoMain">
					<div class="billLogoMainWrap">
						<div class="billLogoWrap">
							<img src="" alt="">
						</div>
						<div class="billLogoTagline">
							Hotels and Resorts
						</div>
						<div class="billHotelByName">
							BY TAJ
						</div>
					</div>
					<div class="billPoweredBy">
						<span>Powered By </span>
						<div class="billAboutStayLogo"></div>
						<div class="fullWrap">
							<div class="cancelButtonDefault">
								<span></span>
								Cancel
							</div>
							<div class="saveButtonDefault">
								<span></span>
								Save
							</div>
						</div>
					</div>
				</div>
				<div class="halfWrap" style="width: 60%;">
					<ul class="billRightInfoList billRightInfoList2">
						<li>
							<div class="head">GUEST NAME</div>
							<div class="text">Mr. Dev</div>
						</li>
						<li>
							<div class="head">GUEST COUNT</div>
							<div class="text">2</div>
						</li>
						<li>
							<div class="head">ROOM NUMBER</div>
							<div class="text">502</div>
						</li>
					</ul>
					<ul class="billRightInfoList">
						<li>
							<div class="head">RESERVATION NUMBER</div>
							<div class="text">1234567890</div>
						</li>
						<li>
							<div class="head">CHECK-IN DATE / TIME</div>
							<div class="text">24-APR-2017 / 12:03 PM</div>
						</li>
						<li>
							<div class="head">CHECK-OUT DATE / TIME</div>
							<div class="text">27-APR-2017 / 11:23 AM</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="billCostListMain">
				<div class="fullWrap">
					<ul class="billCostList billCostListHeader">
						<li>DATE </li>
						<li>REQUEST No.</li>
						<li>REQUEST TYPE</li>
						<li>
							<span>)</span>
							<span class="rupeeIcon"></span> 
							<span>COST (in </span> 
						</li>
						<li>
							<span>)</span>
							<span class="rupeeIcon"></span> 
							<span>TOTAL (in </span> 
						</li>
					</ul>
					<ul class="billCostList">
						<li>24-APR-2017 </li>
						<li>1234567890</li>
						<li>
							ROOM SERVICE
							<div class="extraText">SERVICE TAX @ 10%</div>
							<div class="extraText">VAT @ 5%</div>
						</li>
						<li>
							<input type="text" name="" value="2,000.00">
							<div class="extraText">200.00</div>
							<div class="extraText">100.00</div>
						</li>
						<li>
							<input type="text" name="" value="2,300.00">
						</li>
					</ul>
					<ul class="billCostList">
						<li>24-APR-2017 </li>
						<li>1234567890</li>
						<li>
							ROOM SERVICE
							<div class="extraText">SERVICE TAX @ 10%</div>
							<div class="extraText">VAT @ 5%</div>
						</li>
						<li>
							<input type="text" name="" value="2,000.00">
							<div class="extraText">200.00</div>
							<div class="extraText">100.00</div>
						</li>
						<li>
							<input type="text" name="" value="2,300.00">
						</li>
					</ul>
					<ul class="billCostList">
						<li><input type="text" name="" value=""></li>
						<li><input type="text" name="" value=""></li>
						<li>
							<div class="defaultDrop">
								<select id="sMetric" name="">
									<option value="">1</option>
									<option value="">2</option>
								</select>
								<span></span>
							</div>
						</li>
						<li><input type="text" name="" value=""></li>
						<li><input type="text" name="" value=""></li>
					</ul>
					<div class="fullWrap">
						<div class="innerDropAddWrap innerDropAddSpace billinnerDropAddWrap ">
							<span></span>
							ADD CHARGE
						</div>
					</div>

					<ul class="billCostList billCostListFooter">
						<li></li>
						<li></li>
						<li></li>
						<li>TOTAL DUE</li>
						<li>3,950.00</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>




