<section class="tabFixedSection" style="background-color: #fff;">
	<ul class="setTopTabs roomsTopTabs">
		<li class="allRooms active">
			<a href="#">
				<p class="title">Check Ins</p>
				<p class="bigTitle">14</p>
			</a>
		</li>
		<li class="occupied">
			<a href="#">
				<p class="title">Early Check Ins</p>
				<p class="bigTitle">02</p>
			</a>
		</li>
		<li class="available">
			<a href="#">
				<p class="title">Check Outs</p>
				<p class="bigTitle">10</p>
			</a>
		</li>
		<li class="blocked">
			<a href="#">
				<p class="title">Early Check Outs</p>
				<p class="bigTitle">1</p>
			</a>
		</li>
		<li>
			<div class="setTopInnerTabs2" style="margin-bottom: 10px;">
				<a href="#">
					<p class="topLastTabNo">20</p>
					<p class="topLastTabText">AIRPORT DROP</p>
				</a>
			</div>
			<div class="setTopInnerTabs2">
				<a href="#">
					<p class="topLastTabNo">18</p>
					<p class="topLastTabText">AIRPORT PICKUP</p>
				</a>
			</div>
		</li>
	</ul>
	<div class="pageTopInfo">
		<h3>Check Ins</h3>
		<div class="topSearchWrap">
			<input type="text" name="" value="" placeholder="Reservation Number / Guest Name">
			<input type="submit" name="" value="" class="searchButton">
		</div>
	</div>
</section>
<div class="mainMidWrap">
	<section>
		<div class="arrMainWrap">
			<div class="arTopHeader">
				<ul class="arTopRightControl">
					<li>Allocate Rooms (10)</li>
					<li>Print Check in Forms</li>
				</ul>
			</div>
			<div class="cardViewWrap">
				<ul class="cardViewList">
					<!--li>
						<div class="cardHeaderWrap green">
							<span class="roomNo">301</span>
							<span class="roomType">LUX</span>
							<div class="cardHeaderRight">
								<span class="hotelIcon"></span>
								<span class="hotelId">123456</span>
							</div>
						</div>
						<ul class="cardInnerMainList">
							<li>
								<div class="guestName">Mr. Rajeev</div>
								<span class="silverBtn">Silver</span>
								<div class="cardToolTip">
									<div class="cardToolTipMain">
										<div class="cardToolTipInner">
											<div class="cardToolTipScroll">
												Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
												tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
												quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
												consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
												cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
												proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
											</div>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="cardSmallHeading">Room Type</div>
								<p class="cardSmallText" style="text-transform: uppercase;">STD</p>
							</li>
							<li>
								<div class="halfWrap">
									<div class="cardSmallHeading">Check In</div>
									<p class="cardSmallText">05 Mar 2017</p>
								</div>
								<div class="halfWrap">
									<div class="cardSmallHeading">Check Out</div>
									<p class="cardSmallText">07 Mar 2017</p>
								</div>
							</li>
							<li>
								<div class="halfWrap">
									<div class="cardSmallHeading">Early Check In</div>
									<p class="cardSmallText">
										<span style="color: #EB6C76">11:00 AM</span> 
										<span class="cardGreenTick"></span>
									</p>
								</div>
								<div class="halfWrap">
									<div class="cardSmallHeading">Upgrade Eligibility</div>
									<p class="cardSmallText"> 
										<span>STD > LUX</span>
										<span class="cardGreenTick"></span>
									</p>
								</div>
							</li>
						</ul>
						<div class="cardBottomButton">
							<span>Complete Check In</span>
						</div>
					</li-->
					<li *ngFor = "let card of cards">
						<div class="cardHeaderWrap red">  <!-- add ngClass color conditional-->
							<span class="roomNo">-</span>		<!-- add conditional room no-->
							<span class="roomType"></span> 	<!-- add conditional room no-->
							<div class="cardHeaderRight">
								<span class="hotelIcon"></span>
								<span class="hotelId">{{card.reservationNumber}} </span>
							</div>
						</div>
						<ul class="cardInnerMainList">
							<li>
								<div class="guestName">{{card.bookedForUser.name}} </div>
								<span class="goldBtn">Gold</span>  	<!-- add later-->
								<div class="cardToolTip">
									<div class="cardToolTipMain">
										<div class="cardToolTipInner">
											<div class="cardToolTipScroll"> 	<!-- add later-->
												Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
												tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
												quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
												consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
												cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
												proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
											</div>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="cardSmallHeading">Room Type</div>
								<p class="cardSmallText" style="text-transform: uppercase;">STD</p>
							</li>
							<li>
								<div class="halfWrap">
									<div class="cardSmallHeading">Check In</div>
									<p class="cardSmallText">{{card.checkInDate}} </p>
								</div>
								<div class="halfWrap">
									<div class="cardSmallHeading">Check Out</div>
									<p class="cardSmallText">{{card.checkOutDate}} </p>
								</div>
							</li>
							<li>
								<div class="halfWrap">
									<div class="cardSmallHeading">Early Check In</div>
									<p class="cardSmallText">
										<span>-</span>  	<!-- add conditional earrcly checkout-->
									</p>
								</div>
								<div class="halfWrap">
									<div class="cardSmallHeading">Upgrade Eligibility</div>
									<p class="cardSmallText">
										<span>STD > LUX </span>  	<!-- add conditional upradable -->
										<a href="" title="Upgrade Eligibility" class="cardUpgradeLink"></a> 	<!-- add conditional upgradable icon-->
									</p>
								</div>
							</li>
						</ul>
						<div class="cardBottomButton voilet">
							<span ><a routerLink="/arr-dep/allocate/{{card.reservationNumber}} ">ALLOCATE ROOM</a></span> 	<!-- add conditional button and modal-->
						</div>
					</li>
					<!--li>
						<div class="cardHeaderWrap green">
							<span class="roomNo">302</span>
							<span class="roomType">STD</span>
							<div class="cardHeaderRight">
								<span class="hotelIcon"></span>
								<span class="hotelId">123456</span>
							</div>
						</div>
						<ul class="cardInnerMainList">
							<li>
								<div class="guestName">Mr. Khanna</div>
							</li>
							<li>
								<div class="cardSmallHeading">Room Type</div>
								<p class="cardSmallText" style="text-transform: uppercase;">STD</p>
							</li>
							<li>
								<div class="halfWrap">
									<div class="cardSmallHeading">Check In</div>
									<p class="cardSmallText">05 Mar 2017</p>
								</div>
								<div class="halfWrap">
									<div class="cardSmallHeading">Check Out</div>
									<p class="cardSmallText">07 Mar 2017</p>
								</div>
							</li>
							<li>
								<div class="halfWrap">
									<div class="cardSmallHeading">Early Check In</div>
									<p class="cardSmallText">
										<span>-</span>
									</p>
								</div>
								<div class="halfWrap">
									<div class="cardSmallHeading">Upgrade Eligibility</div>
									<p class="cardSmallText">
										<span>STD > LUX </span>
										<span class="cardRedCross"></span>
									</p>
								</div>
							</li>
						</ul>
						<div class="cardBottomButton">
							<span>Complete Check In</span>
						</div>
					</li>
					<li>
						<div class="cardHeaderWrap green">
							<span class="roomNo">302</span>
							<span class="roomType">STD</span>
							<div class="cardHeaderRight">
								<span class="hotelIcon"></span>
								<span class="hotelId">123456</span>
							</div>
						</div>
						<ul class="cardInnerMainList">
							<li>
								<div class="guestName">Mr. Khanna</div>
								<span class="silverBtn">Silver</span>
								<div class="cardToolTip">
									<div class="cardToolTipMain">
										<div class="cardToolTipInner">
											<div class="cardToolTipScroll">
												Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
												tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
												quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
												consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
												cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
												proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
											</div>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="cardSmallHeading">Room Type</div>
								<p class="cardSmallText" style="text-transform: uppercase;">STD</p>
							</li>
							<li>
								<div class="halfWrap">
									<div class="cardSmallHeading">Check In</div>
									<p class="cardSmallText">05 Mar 2017</p>
								</div>
								<div class="halfWrap">
									<div class="cardSmallHeading">Check Out</div>
									<p class="cardSmallText">07 Mar 2017</p>
								</div>
							</li>
							<li>
								<div class="halfWrap">
									<div class="cardSmallHeading">Early Check In</div>
									<p class="cardSmallText">
										<span style="color: #EB6C76">11:00 AM</span>
									</p>
								</div>
								<div class="halfWrap">
									<div class="cardSmallHeading">Upgrade Eligibility</div>
									<p class="cardSmallText">
										<span>-</span>
									</p>
								</div>
							</li>
						</ul>
						<div class="cardBottomButton">
							<span>Complete Check In</span>
						</div>
					</li>
					<li>
						<div class="cardHeaderWrap green">
							<span class="roomNo">301</span>
							<span class="roomType">LUX</span>
							<div class="cardHeaderRight">
								<span class="hotelIcon"></span>
								<span class="hotelId">123456</span>
							</div>
						</div>
						<ul class="cardInnerMainList">
							<li>
								<div class="guestName">Mr. Rajeev</div>
								<span class="silverBtn">Silver</span>
								<div class="cardToolTip">
									<div class="cardToolTipMain">
										<div class="cardToolTipInner">
											<div class="cardToolTipScroll">
												Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
												tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
												quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
												consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
												cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
												proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
											</div>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="cardSmallHeading">Room Type</div>
								<p class="cardSmallText" style="text-transform: uppercase;">STD</p>
							</li>
							<li>
								<div class="halfWrap">
									<div class="cardSmallHeading">Check In</div>
									<p class="cardSmallText">05 Mar 2017</p>
								</div>
								<div class="halfWrap">
									<div class="cardSmallHeading">Check Out</div>
									<p class="cardSmallText">07 Mar 2017</p>
								</div>
							</li>
							<li>
								<div class="halfWrap">
									<div class="cardSmallHeading">Early Check In</div>
									<p class="cardSmallText">
										<span style="color: #EB6C76">11:00 AM</span> 
										<span class="cardGreenTick"></span>
									</p>
								</div>
								<div class="halfWrap">
									<div class="cardSmallHeading">Upgrade Eligibility</div>
									<p class="cardSmallText"> 
										<span>STD > LUX</span>
										<span class="cardGreenTick"></span>
									</p>
								</div>
							</li>
						</ul>
						<div class="cardBottomButton">
							<span>Complete Check In</span>
						</div>
					</li>
					<li>
						<div class="cardHeaderWrap red">
							<span class="roomNo">-</span>
							<span class="roomType"></span>
							<div class="cardHeaderRight">
								<span class="hotelIcon"></span>
								<span class="hotelId">123456</span>
							</div>
						</div>
						<ul class="cardInnerMainList">
							<li>
								<div class="guestName">Mr. Khanna</div>
								<span class="goldBtn">Gold</span>
								<div class="cardToolTip">
									<div class="cardToolTipMain">
										<div class="cardToolTipInner">
											<div class="cardToolTipScroll">
												Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
												tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
												quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
												consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
												cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
												proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
											</div>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="cardSmallHeading">Room Type</div>
								<p class="cardSmallText" style="text-transform: uppercase;">STD</p>
							</li>
							<li>
								<div class="halfWrap">
									<div class="cardSmallHeading">Check In</div>
									<p class="cardSmallText">05 Mar 2017</p>
								</div>
								<div class="halfWrap">
									<div class="cardSmallHeading">Check Out</div>
									<p class="cardSmallText">07 Mar 2017</p>
								</div>
							</li>
							<li>
								<div class="halfWrap">
									<div class="cardSmallHeading">Early Check In</div>
									<p class="cardSmallText">
										<span>-</span>
									</p>
								</div>
								<div class="halfWrap">
									<div class="cardSmallHeading">Upgrade Eligibility</div>
									<p class="cardSmallText">
										<span>STD > LUX </span>
										<a href="" title="Upgrade Eligibility" class="cardUpgradeLink"></a>
									</p>
								</div>
							</li>
						</ul>
						<div class="cardBottomButton voilet">
							<span>ALLOCATE ROOM</span>
						</div>
					</li>
					<li>
						<div class="cardHeaderWrap green">
							<span class="roomNo">302</span>
							<span class="roomType">STD</span>
							<div class="cardHeaderRight">
								<span class="hotelIcon"></span>
								<span class="hotelId">123456</span>
							</div>
						</div>
						<ul class="cardInnerMainList">
							<li>
								<div class="guestName">Mr. Khanna</div>
							</li>
							<li>
								<div class="cardSmallHeading">Room Type</div>
								<p class="cardSmallText" style="text-transform: uppercase;">STD</p>
							</li>
							<li>
								<div class="halfWrap">
									<div class="cardSmallHeading">Check In</div>
									<p class="cardSmallText">05 Mar 2017</p>
								</div>
								<div class="halfWrap">
									<div class="cardSmallHeading">Check Out</div>
									<p class="cardSmallText">07 Mar 2017</p>
								</div>
							</li>
							<li>
								<div class="halfWrap">
									<div class="cardSmallHeading">Early Check In</div>
									<p class="cardSmallText">
										<span>-</span>
									</p>
								</div>
								<div class="halfWrap">
									<div class="cardSmallHeading">Upgrade Eligibility</div>
									<p class="cardSmallText">
										<span>STD > LUX </span>
										<span class="cardRedCross"></span>
									</p>
								</div>
							</li>
						</ul>
						<div class="cardBottomButton">
							<span>Complete Check In</span>
						</div>
					</li>
					<li>
						<div class="cardHeaderWrap green">
							<span class="roomNo">302</span>
							<span class="roomType">STD</span>
							<div class="cardHeaderRight">
								<span class="hotelIcon"></span>
								<span class="hotelId">123456</span>
							</div>
						</div>
						<ul class="cardInnerMainList">
							<li>
								<div class="guestName">Mr. Khanna</div>
								<span class="silverBtn">Silver</span>
								<div class="cardToolTip">
									<div class="cardToolTipMain">
										<div class="cardToolTipInner">
											<div class="cardToolTipScroll">
												Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
												tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
												quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
												consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
												cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
												proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
											</div>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="cardSmallHeading">Room Type</div>
								<p class="cardSmallText" style="text-transform: uppercase;">STD</p>
							</li>
							<li>
								<div class="halfWrap">
									<div class="cardSmallHeading">Check In</div>
									<p class="cardSmallText">05 Mar 2017</p>
								</div>
								<div class="halfWrap">
									<div class="cardSmallHeading">Check Out</div>
									<p class="cardSmallText">07 Mar 2017</p>
								</div>
							</li>
							<li>
								<div class="halfWrap">
									<div class="cardSmallHeading">Early Check In</div>
									<p class="cardSmallText">
										<span style="color: #EB6C76">11:00 AM</span>
									</p>
								</div>
								<div class="halfWrap">
									<div class="cardSmallHeading">Upgrade Eligibility</div>
									<p class="cardSmallText">
										<span>-</span>
									</p>
								</div>
							</li>
						</ul>
						<div class="cardBottomButton">
							<span>Complete Check In</span>
						</div>
					</li-->
				</ul>
			</div>
		</div>
	</section>
	
</div>

