<!-- Allocate room page start -->
<section style="background-color: #fff;">
	<div class="sectionWrap">
		<div class="roomDetailTopWrap">
			<div class="rdBreadcrumb">
				<a href="" title="">Arr & Dep</a>
				<a href="" title="" class="active">> Allocate room</a>
			</div>
		</div>
		<div class="roomDetailTopWrap2">
			<h3 style="margin-top: 32px;">Allocate room</h3>
			<div class="topSearchWrap" style="margin-top: 30px;">
				<input type="text" name="" value="" placeholder="Guest Name / Room No.">
				<input type="submit" name="" value="" class="searchButton">
			</div>
		</div>
	</div>
</section>

<div class="mainMidWrap">
	<section>
		<div class="crMainLeft">
			<div class="halfWrap">
				<ul class="crTopFilterList">
					<li>
						<div class="defaultDrop">
							<select name="">
								<option value="" selected="selected" disabled="disabled">Sort By</option>
								<option value="">2</option>
							</select>
							<span></span>
						</div>
					</li>
					<li>
						<div class="defaultDrop">
							<select name="">
								<option value="" selected="selected" disabled="disabled">Filter By</option>
								<option value="">2</option>
							</select>
							<span></span>
						</div>
					</li>
				</ul>
				<div class="halfWrap" style="margin-right: 2%;">
					<div class="crTopSecondTabWrap">
						
					</div>
					<div class="crArrivalMain">
						<ul class="crArrivalList">
							<li>
								<div class="aHeading">ARRIVALS</div>
								<div class="aText">50</div>
							</li>
							<li>
								<div class="aHeading">ALLOCATED</div>
								<div class="aText">10</div>
							</li>
							<li>
								<div class="aHeading">ALLOCATED</div>
								<div class="aText red">10</div>
							</li>
							<li>
								<div class="aHeading">PENDING</div>
								<div class="aText red">30</div>
							</li>
						</ul>
					</div>
					<div class="crArrivalMain">
						<ul class="crStandaredCircleTab">
							<li class="active">STD</li>
							<li>LUX</li>
							<li>PRE</li>
							<li>QUE</li>
						</ul>
						<ul class="crArrivalList">
							<li>
								<div class="aHeading">CURRENT AVAILABILITY</div>
								<div class="aText">50</div>
							</li>
							<li>
								<div class="aHeading">FORECASTED AVAILABILITY</div>
								<div class="aText">10</div>
							</li>
							<li>
								<div class="aHeading">EXPECTED CHECK INS</div>
								<div class="aText">10</div>
							</li>
							<li>
								<div class="aHeading">EXPECTED CHECK OUTS</div>
								<div class="aText">30</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="halfWrap">
					<div class="crTopSecondTabWrap">
						<ul class="crDateTab">
							<li class="active">
								<span>02</span>
								Mon
							</li>
							<li>
								<span>3</span>
								Tue
							</li>
							<li>
								<span>4</span>
								Wed
							</li>
						</ul>
					</div>
					<div class="crTopSecondTabWrap">
						<div class="crArrivalMain">
							<div class="fullWrap crDefaultRedBtnCenter">
								<div class="crDefaultRedBtn">AUTO ALLOCATE</div>
							</div>
							<ul class="crAllocateList">
								<li>
									<div class="crDefaultDualBtnMain open">
										<div class="crDefaultDualBtn">
											<div class="allocateFirstLeftWrap">
												<span class="early"></span>
												<span class="upgrade"></span>
												<span class="sRequest"></span>
											</div>
										</div>
										<div class="crDefaultDualBtn right crDefaultDualBtn2">
											<div class="dualBtnInnerMain dualBtnInnerMain1">
												<i class="hotelLogo"></i>
												<span class="userIdName"><b>123456</b> / Mr. Bourdain</span>
											</div>
											<div class="dualBtnInnerMain">
												<div class="halfWrap">
													<span class="dualBtnWhiteTime">01:00PM</span>
													<div class="hotelNightIcon">
														<span></span>5
													</div>
												</div>
												<div class="halfWrap">
													<div class="inHotelType">STD > LUX</div>
												</div>
											</div>
											<div class="allocateRightSection allocateRightSection1">
												<div class="allocateRightSectionTitle">
													<span class="early"></span>
													Early Check-Ins
												</div>
												<div class="allocateStatusListWrapMain">
													<div class="allocateStatusListWrap">
														<ul class="allocateStatusList">
															<li class="cross"></li>
															<li class="nuteral"></li>
															<li class="check"></li>
														</ul>
														<div class="allocateStatusActive netural"><span></span></div>
													</div>
												</div>
											</div>
											<div class="allocateRightSection">
												<div class="allocateRightSectionTitle">
													<span class="upgrade"></span>
													Upgrade
												</div>
												<div class="allocateStatusListWrapMain">
													<div class="allocateStatusListWrap">
														<ul class="allocateStatusList">
															<li class="cross"></li>
															<li class="nuteral"></li>
															<li class="check"></li>
														</ul>
														<div class="allocateStatusActive check"><span></span></div>
													</div>
												</div>
											</div>
											<div class="allocateRightSection">
												<div class="allocateRightSectionTitle">
													<span class="aRequest"></span>
													Special Request
												</div>
												<p class="allocateRightSectionText">Please arrange for a wheelchair and assitance during arrival.</p>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="crDefaultDualBtnMain">
										<div class="crDefaultDualBtn">
											<div class="allocateFirstLeftWrap">
												<span class="early"></span>
												<span class=""></span>
												<span class="sRequest"></span>
											</div>
										</div>
										<div class="crDefaultDualBtn right crDefaultDualBtn2">
											<div class="dualBtnInnerMain dualBtnInnerMain1">
												<i class="hotelLogo"></i>
												<span class="userIdName"><b>123456</b> / Mr. Bourdain</span>
											</div>
											<div class="dualBtnInnerMain">
												<div class="halfWrap">
													<span class="dualBtnWhiteTime">01:00PM</span>
													<div class="hotelNightIcon">
														<span></span>5
													</div>
												</div>
												<div class="halfWrap">
													<div class="inHotelType">STD</div>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="crDefaultDualBtnMain">
										<div class="crDefaultDualBtn">
											<div class="allocateFirstLeftWrap">
												<span class="early"></span>
												<span class="upgrade"></span>
												<span class="sRequest"></span>
											</div>
										</div>
										<div class="crDefaultDualBtn right crDefaultDualBtn2">
											<div class="dualBtnInnerMain dualBtnInnerMain1">
												<i class="hotelLogo"></i>
												<span class="userIdName"><b>123456</b> / Mr. Bourdain</span>
											</div>
											<div class="dualBtnInnerMain">
												<div class="halfWrap">
													<span class="dualBtnWhiteTime">01:00PM</span>
													<div class="hotelNightIcon">
														<span></span>5
													</div>
												</div>
												<div class="halfWrap">
													<div class="inHotelType">STD</div>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="crDefaultDualBtnMain">
										<div class="crDefaultDualBtn">
											<div class="allocateFirstLeftWrap">
												<span class="early"></span>
												<span class="upgradeBlack"></span>
											</div>
										</div>
										<div class="crDefaultDualBtn right crDefaultDualBtn2">
											<div class="dualBtnInnerMain dualBtnInnerMain1">
												<i class="hotelLogo"></i>
												<span class="userIdName"><b>123456</b> / Mr. Bourdain</span>
											</div>
											<div class="dualBtnInnerMain">
												<div class="halfWrap">
													<span class="dualBtnWhiteTime">01:00PM</span>
													<div class="hotelNightIcon">
														<span></span>5
													</div>
												</div>
												<div class="halfWrap">
													<div class="inHotelType">STD</div>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="halfWrap">
				<div class="fullWrap" style="margin-bottom: 20px;">
					<ul class="arInnerMidTabs crRightTopTab">
						<li class="active">Royal Wing</li>
						<li>Business Class</li>
						<li>Courtyard</li>
					</ul>
				</div>
				<div class="crTopSecondTabWrap">
					<div class="fullWrap">
						<ul class="crStandaredCircleTab" style="width:280px">
							<li class="active">All</li>
							<li *ngFor = "let roomCategory of roomCategories" >{{roomCategory.categoryCode}} </li>
							<!--li>STD</li>
							<li>LUX</li>
							<li>PRE</li>
							<li>QUE</li-->
						</ul>
						<div class="defaultYesBtn pullRight">Save</div>
						<div class="crDefaultRedBtn" style="float: right;">Freeze</div>
					</div>
				</div>
				<div class="hotelChangeMainWrap">
					<div class="hotelChangeScroll">
						<ul class="hotelCardRightCount">
							<li>
								<span>- 1 -</span>
							</li>
							<li>
								<span>- 3 -</span>
							</li>
							<li>
								<span>- 0 -</span>
							</li>
							<li>
								<span>- 10 -</span>
							</li>
							<li>
								<span>- 1 -</span>
							</li>
						</ul>
						<div class="hotelChangeRow head">
							<ul class="hotelChangeCol">
								<li class="darkHead"><br>Room#</li>
								<li class="head">
									<span class="date">01</span>
									<span class="day">Sun</span>
								</li>
								<li class="head">
									<span class="date">02</span>
									<span class="day">Mon</span>
								</li>
								<li class="head">
									<span class="date">03</span>
									<span class="day">Tue</span>
								</li>
							</ul>
						</div>
						<div class="hotelChangeRow">
							<ul class="hotelChangeCol">
								<li>
									<span class="date">203</span>
									<span class="day">STD</span>
								</li>
								<li></li>
								<li></li>
								<li></li>
							</ul>
							<ul class="hotelChangeCol hotelChangeInnerCol">
								<li>
									<div class="crDefaultDualBtnMain crDefaultDualBtnFull">
										<div class="crDefaultDualBtn right grey">
											<div class="dualBtnInnerMain dualBtnInnerMain1">
												<i class="hotelLogo"></i>
												<span class="userIdName"><b>123456</b> / Mr. Bourdain</span>
											</div>
											<div class="dualBtnInnerMain">
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="crDefaultDualBtnMain crDefaultDualBtnOver">
										<div class="crDefaultDualBtn right">
										</div>
										<div class="crDefaultDualBtn lightYellow">
											<div class="dualBtnInnerMain dualBtnInnerMain1">
												<i class="hotelLogo"></i>
												<span class="userIdName"><b>123456</b> / Mr. Bourdain</span>
											</div>
											<div class="dualBtnInnerMain">
												<div class="halfWrap">
													<div class="hotelNightIcon">
														<span></span>5
													</div>
												</div>
												<div class="halfWrap">
													<div class="inHotelType">STD</div>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="hotelChangeRow">
							<ul class="hotelChangeCol">
								<li>
									<span class="date">204</span>
									<span class="day">LUX</span>
								</li>
								<li></li>
								<li></li>
								<li></li>
							</ul>
							<ul class="hotelChangeCol hotelChangeInnerCol">
								<li>
									<div class="crDefaultDualBtnMain crDefaultDualBtnFull">
										<div class="crDefaultDualBtn right grey">
											<div class="dualBtnInnerMain dualBtnInnerMain1">
												<i class="hotelLogo"></i>
												<span class="userIdName"><b>123456</b> / Mr. Bourdain</span>
											</div>
											<div class="dualBtnInnerMain">
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="crDefaultDualBtnMain crDefaultDualBtnOver">
										<div class="crDefaultDualBtn right">
											<div class="dualBtnTimeIcon">
												<span class="earlyIcon red"></span>
												<span class="upgradeIcon black"></span>
											</div>
										</div>
										<div class="crDefaultDualBtn lightYellow">
											<div class="dualBtnInnerMain dualBtnInnerMain1">
												<i class="hotelLogo"></i>
												<span class="userIdName"><b>123456</b> / Mr. Kapoor</span>
											</div>
											<div class="dualBtnInnerMain">
												<div class="halfWrap">
													<div class="hotelNightIcon">
														<span></span>5
													</div>
												</div>
												<div class="halfWrap">
													<div class="inHotelType">STD</div>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="hotelChangeRow">
							<ul class="hotelChangeCol">
								<li>
									<span class="date">205</span>
									<span class="day">STD</span>
								</li>
								<li></li>
								<li></li>
								<li></li>
							</ul>
							<ul class="hotelChangeCol hotelChangeInnerCol">
								<li>
									<div class="crDefaultDualBtnMain crDefaultDualBtnFull">
										<div class="crDefaultDualBtn right grey">
											<div class="dualBtnInnerMain dualBtnInnerMain1">
												<i class="hotelLogo"></i>
												<span class="userIdName"><b>123456</b> / Mr. Bourdain</span>
											</div>
											<div class="dualBtnInnerMain">
												<div class="halfWrap"></div>
												<div class="halfWrap">
													<span class="dualBtnWhiteTime pullRight">01:00PM</span>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="crDefaultDualBtnMain crDefaultDualBtnOver">
										<div class="crDefaultDualBtn right">
											<div class="dualBtnTimeIcon">
												<span class="upgradeIcon red"></span>
											</div>
										</div>
										<div class="crDefaultDualBtn lightYellow">
											<div class="dualBtnInnerMain dualBtnInnerMain1">
												<i class="hotelLogo"></i>
												<span class="userIdName"><b>123456</b> / Mr. Dev</span>
											</div>
											<div class="dualBtnInnerMain">
												<div class="halfWrap">
													<div class="hotelNightIcon">
														<span></span>5
													</div>
												</div>
												<div class="halfWrap">
													<div class="inHotelType">STD</div>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="hotelChangeRow">
							<ul class="hotelChangeCol">
								<li>
									<span class="date">206</span>
									<span class="day">STD</span>
								</li>
								<li></li>
								<li></li>
								<li></li>
							</ul>
							<ul class="hotelChangeCol hotelChangeInnerCol">
								<li>
									<div class="crDefaultDualBtnMain crDefaultDualBtnFull">
										<div class="crDefaultDualBtn right grey">
											<div class="dualBtnInnerMain dualBtnInnerMain1">
												<i class="hotelLogo"></i>
												<span class="userIdName"><b>123456</b> / Mr. Bourdain</span>
											</div>
											<div class="dualBtnInnerMain">
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="crDefaultDualBtnMain crDefaultDualBtnOver">
										<div class="crDefaultDualBtn right">
											<div class="dualBtnTimeIcon">
												<span class="earlyIcon black"></span>
											</div>
										</div>
										<div class="crDefaultDualBtn lightGreen">
											<div class="dualBtnInnerMain dualBtnInnerMain1">
												<i class="hotelLogo"></i>
												<span class="userIdName"><b>123456</b> / Mr. Dev + 1</span>
											</div>
											<div class="dualBtnInnerMain">
												<div class="halfWrap">
													<span class="dualBtnWhiteTime">11:00AM</span>
													<div class="hotelNightIcon">
														<span></span>5
													</div>
												</div>
												<div class="halfWrap">
													<div class="inHotelType">STD</div>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="hotelChangeRow">
							<ul class="hotelChangeCol">
								<li>
									<span class="date">207</span>
									<span class="day">STD</span>
								</li>
								<li></li>
								<li></li>
								<li></li>
							</ul>
							<ul class="hotelChangeCol hotelChangeInnerCol">
								<li>
									<div class="crDefaultDualBtnMain crDefaultDualBtnFull">
										<div class="crDefaultDualBtn right grey">
											<div class="dualBtnInnerMain dualBtnInnerMain1">
												<i class="hotelLogo"></i>
												<span class="userIdName"><b>123456</b> / Mr. Bourdain</span>
											</div>
											<div class="dualBtnInnerMain">
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="crDefaultDualBtnMain crDefaultDualBtnOver">
										<div class="crDefaultDualBtn right">
											<div class="dualBtnTimeIcon">
												<span class="upgradeIcon black"></span>
											</div>
										</div>
										<div class="crDefaultDualBtn lightGreen">
											<div class="dualBtnInnerMain dualBtnInnerMain1">
												<i class="hotelLogo"></i>
												<span class="userIdName"><b>123456</b> / Mr. Dev</span>
											</div>
											<div class="dualBtnInnerMain">
												<div class="halfWrap">
													<div class="hotelNightIcon">
														<span></span>5
													</div>
												</div>
												<div class="halfWrap">
													<div class="inHotelType">STD</div>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="hotelChangeRow">
							<ul class="hotelChangeCol">
								<li>
									<span class="date">208</span>
									<span class="day">STD</span>
								</li>
								<li></li>
								<li></li>
								<li></li>
							</ul>
						</div>
						<div class="hotelChangeRow">
							<ul class="hotelChangeCol">
								<li>
									<span class="date">209</span>
									<span class="day">STD</span>
								</li>
								<li></li>
								<li></li>
								<li></li>
							</ul>
						</div>
						<div class="hotelChangeRow">
							<ul class="hotelChangeCol">
								<li>
									<span class="date">210</span>
									<span class="day">STD</span>
								</li>
								<li></li>
								<li></li>
								<li></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<ul class="floorRightNav crfloorRightNav">
			<li class="active">1</li>
			<li>2</li>
			<li>3</li>
			<li>4</li>
			<li>5</li>
			<li>6</li>
			<li>7</li>
			<li>8</li>
		</ul>
	</section>
</div>