		<section class="tabFixedSection" style="background-color: #fff;">
			<ul class="setTopTabs">
				<li class="" [routerLinkActive]="['active']">
					<a routerLink="/settings/hotelinfo">
						<p class="title">Hotel Info</p>
						<p class="bigTitle">4/8</p>
					</a>
				</li>
				<li [routerLinkActive]="['active']">
					<a routerLink="/settings/floormap">
						<p class="title">Floormap</p>
						<p class="title2">3 W</p>
						<p class="title2">55 F</p>
						<p class="title3">200 R</p>
					</a>
				</li>
				<li [routerLinkActive]="['active']">
					<a routerLink="/settings/amenities">
						<p class="title">Amenities</p>
						<p class="bigTitle">5</p>
					</a>
				</li>
				<li [routerLinkActive]="['active']">
					<a routerLink="/settings/messages">
						<p class="title">Messages</p>
						<p class="bigTitle">6/15</p>
					</a>
				</li>
				<li [routerLinkActive]="['active']">
					<a routerLink="/settings/servicemenu">
						<p class="title">Service Menus</p>
						<p class="bigTitle">7/14</p>
					</a>
				</li>
			</ul>
			<div class="pageTopInfo">
				<h3>Hotel Info</h3>
				<div class="topSearchWrap">
					<input type="text" name="" value="" placeholder="Reservation Number / Guest Name">
					<input type="submit" name="" value="" class="searchButton">
				</div>
			</div>
		</section>

		<div class="mainMidWrap">
			<router-outlet></router-outlet>
		</div>
		